<section id="dialog-wrapper" class="dialog-wrapper">
  <div class="page-head">
    <span class="page-title" translate>Assign a colleague</span>
    <!-- <button  tabindex="3" class="btn-circular watermelon-border float-right" (click)="addUser()">
      ADD NEW COLLEAGUE
    </button> -->
  </div>
  <p>
    Inviting a colleague to collaborate in a task will allow them access to all
    the steps of the CTI journey.
  </p>
  <div class="search">
    <input
      placeholder="Enter your collegue’s email/username"
      [(ngModel)]="searchTerm"
      name="searchTerm"
    />
    <i class="fas fa-search"></i>
  </div>

  <h2>RECENT CONTACTS</h2>
  <section class="item-list-contenet">
    <div
      class="list-item claerfix"
      *ngFor="let p of filterItems"
      (click)="selectItem(p)"
    >
      <div class="action">
        <div class="img box"></div>
        <div class="info box">
          <span>{{ p.fullname }}</span>
          <p>{{ p.email }}</p>
        </div>
      </div>
      <i *ngIf="p.selected" class="fas fa-check-circle close"></i>
      <i *ngIf="!p.selected" class="fas fa-plus-circle close"></i>
    </div>
  </section>
  <h2>YOUR MESSAGE</h2>
  <textarea
    [(ngModel)]="message"
    name="message"
    name=""
    id=""
    rows="5"
  ></textarea>
  <button
    tabindex="4"
    [disabled]="isDisabled"
    class="btn-circular bg-shamrock float-right"
    (click)="onYesClick(message)"
  >
    SEND INVITATION
  </button>
  <button
    tabindex="3"
    class="btn-circular dark-slate-blue-border float-right"
    (click)="onNoClick()"
  >
    CANCEL
  </button>
</section>
