<app-product></app-product>

<form action="">
  <div class="form-item clearfix">
    <label> Product Name</label>
    <mat-form-field class="input-box">
      <input matInput />
    </mat-form-field>
    <div class="btn-circular dark-slate-blue-border">USE CASES</div>
    <div class="btn-circular dark-slate-blue-border">INFO</div>
  </div>
  <div class="form-item clearfix">
    <label> Product Display Name</label>
    <mat-form-field class="input-box">
      <input matInput />
    </mat-form-field>
    <div class="btn-circular dark-slate-blue-border">USE CASES</div>
    <div class="btn-circular dark-slate-blue-border">INFO</div>
  </div>
  <div class="form-item tall clearfix">
    <label> Product Display Name</label>
    <mat-form-field class="input-box">
      <textarea matInput></textarea>
    </mat-form-field>
    <div class="btn-circular dark-slate-blue-border">USE CASES</div>
    <div class="btn-circular dark-slate-blue-border">INFO</div>
  </div>
  <div class="form-item clearfix">
    <label> Total Product Weight</label>
    <mat-form-field class="input-box short">
      <input matInput />
    </mat-form-field>
    <div class="info long">KwH/TcO2e/FTE/Year</div>
    <div class="btn-circular dark-slate-blue-border">USE CASES</div>
    <div class="btn-circular dark-slate-blue-border">INFO</div>
  </div>
  <div class="form-item clearfix">
    <label> Total Product Weight</label>
    <mat-form-field class="input-box short">
      <input matInput />
    </mat-form-field>
    <div class="info long">KwH/TcO2e/FTE/kg</div>
    <div class="btn-circular dark-slate-blue-border">USE CASES</div>
    <div class="btn-circular dark-slate-blue-border">INFO</div>
  </div>
  <div class="form-item clearfix">
    <label> Total Product Weight</label>
    <mat-form-field class="input-box short">
      <input matInput />
    </mat-form-field>
    <div class="info">kg</div>
    <div class="btn-circular dark-slate-blue-border">USE CASES</div>
    <div class="btn-circular dark-slate-blue-border">INFO</div>
  </div>
  <div class="form-item clearfix">
    <label> Total Product Weight</label>
    <mat-form-field class="input-box short">
      <input matInput />
    </mat-form-field>
    <div class="info">kg</div>
    <div class="btn-circular dark-slate-blue-border">USE CASES</div>
    <div class="btn-circular dark-slate-blue-border">INFO</div>
  </div>
  <div class="sub-head">MATERIAL</div>
  <div class="form-item long clearfix">
    <label
      >Does the material meet restricted substances list requirements?</label
    >
    <div class="select">
      <div
        (click)="requirements = 'yes'"
        [ngClass]="{ active: requirements == 'yes' }"
      >
        YES
      </div>
      <div
        (click)="requirements = 'no'"
        [ngClass]="{ active: requirements == 'no' }"
      >
        NO
      </div>
    </div>
    <div class="btn-circular dark-slate-blue-border">USE CASES</div>
    <div class="btn-circular dark-slate-blue-border">INFO</div>
  </div>
  <div class="form-item long clearfix">
    <label
      >Does the material meet restricted substances list requirements?</label
    >
    <div class="select thirt">
      <div (click)="material = 'yes'" [ngClass]="{ active: material == 'yes' }">
        YES
      </div>
      <div (click)="material = 'no'" [ngClass]="{ active: material == 'no' }">
        NO
      </div>
      <div (click)="material = 'not'" [ngClass]="{ active: material == 'not' }">
        NOT SURE
      </div>
    </div>
    <div class="btn-circular dark-slate-blue-border">USE CASES</div>
    <div class="btn-circular dark-slate-blue-border">INFO</div>
  </div>
  <br />
  <div class="foot">
    <div class="btn-circular bg-white">SAVE DRAFT</div>
    <div class="btn-circular bg-shamrock big">PUBLISH</div>
  </div>
</form>
