@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.row {
  margin-bottom: -1rem;
}

.login-container {
  .login-box {
    height: auto;
    z-index: 3;
    background: #fafafa;
    overflow: hidden;
    background: $white;

    .form {
      .page-head {
        height: 2.5rem;
        padding: 1rem 1rem 1rem 0;
        margin-bottom: 1rem;

        .create {
          float: right;
        }
      }

      .other {
        margin-top: -1rem;

        .input-box {
          width: 100%;
        }
      }
    }

    .radio-box {
      .radio-item {
        width: 100%;
        position: relative;
        margin-bottom: 2rem;

        input[type="radio"],
        input[type="checkbox"] {
          visibility: hidden;
          position: absolute;
        }

        label {
          display: block;
          background: $white;
          height: 140px;
          border-radius: 0.25rem;
          font-weight: bold;
          font-size: 0.76rem;
          color: $dark-slate-blue;
          text-align: center;
          text-transform: uppercase;
          cursor: pointer;
          padding-top: 1rem;
          -webkit-box-shadow: 0px 3px 10px 0px rgba(28, 25, 91, 0.25);
          -moz-box-shadow: 0px 3px 10px 0px rgba(28, 25, 91, 0.25);
          box-shadow: 0px 3px 10px 0px rgba(28, 25, 91, 0.25);

          img {
            display: block;
            margin: 0 auto;
          }
        }

        input[type="radio"] + label:before,
        input[type="checkbox"] + label:before {
          height: 1rem;
          width: 1rem;
          margin-right: 2px;
          content: " ";
          display: block;
          padding: 5px;
          border: 4px solid #fff;
          position: absolute;
          right: 0.5rem;
          top: 0.5rem;
          -webkit-box-shadow: 0px 0px 0px 2px rgba(28, 25, 91, 1);
          -moz-box-shadow: 0px 0px 0px 2px rgba(28, 25, 91, 1);
          box-shadow: 0px 0px 0px 2px rgba(28, 25, 91, 1);
        }

        input[type="radio"]:checked + label,
        input[type="checkbox"]:checked + label {
          background: #fafafa;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(28, 25, 91, 0.25);
          -moz-box-shadow: 0px 0px 5px 0px rgba(28, 25, 91, 0.25);
          box-shadow: 0px 0px 5px 0px rgba(28, 25, 91, 0.25);
        }

        input[type="radio"]:checked + label:before,
        input[type="checkbox"]:checked + label:before {
          background: $dark-slate-blue;
        }

        input[type="radio"] + label:before {
          border-radius: 50%;
        }

        input[type="checkbox"] + label:before {
          border-radius: 2px;
        }
      }
    }

    .info.combo {
      top: 2.15rem;
    }

    .form-item {
      label {
        width: 100%;
        font-size: 0.81rem;
        top: 0;
        height: auto;
        font-weight: bold;
      }
    }

    .big {
      margin: 2rem auto 0;
      display: block;

      span {
        font-size: 0.75rem;
        font-weight: 600;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }

    .forgot {
      font-size: 0.75rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.item {
  background: $white;
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  .add {
    background: #f1f2f5;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 25px;
    float: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }

  .user-box {
    border-radius: 1rem;
    padding: 0.5rem 0;
    max-height: 432px;
    overflow-x: auto;
    &.long {
      max-height: 908px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    padding: 0 1rem;

    li {
      height: 60px;
      padding-top: 10px;
      border-bottom: solid 1px #e8e8ef;
      .img-box {
        display: block;
        float: left;
        margin-right: 10px;
        width: 2.5rem;
        height: 2.5rem;
        background: rgba(141, 140, 173, 0.25);
        position: relative;
        border-radius: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
        line-height: 2.5rem;
      }
      .user {
        display: block;
        float: left;
        width: 60%;
        .name {
          padding: 2px 10px;
          display: table-cell;
          color: $dark-slate-blue;
          font-size: 14px;
          font-weight: 600;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 22px;
          top: 6px;
          position: relative;
          span {
            display: none;
            letter-spacing: -0.01em;
            margin-left: 20px;
            font-weight: bold;
            font-size: 8px;
            color: #0095c6;
            position: relative;
            top: 5px;
          }
          &.admin {
            background: rgba(0, 149, 198, 0.2);
            border-radius: 32px;
            span {
              display: inline-block;
            }
          }
        }
        .role {
          color: #757575;
          font-size: 10px;
          line-height: 12px;
          margin-right: 3px;
          &:after {
            display: inline;
            content: ",";
            margin-left: 1px;
            font-size: 16px;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          &.first {
            margin-left: 10px;
          }
        }
      }
      .assessments {
        display: block;
        float: left;
        width: 20%;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: 0.01em;
        color: #757575;
      }
      .settings {
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        top: 4px;
        float: right;
        background: url(../../../assets/img/set-b.png) center right no-repeat;
        cursor: pointer;
        .event {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 32px;
          height: 32px;
        }
        .material-icons {
          display: none;
        }
        &.active {
          background: $dark-slate-blue;
          border-radius: 100%;
          .material-icons {
            display: block;
            color: #fff;
            line-height: 32px;
            height: 32px;
            width: 32px;
            text-align: center;
          }
        }
        .action {
          position: absolute;
          top: 45px;
          right: 0;
          width: 200px;
          border-radius: 4px;
          overflow: hidden;
          z-index: 3;
          span {
            display: block;
            text-align: right;
            padding: 10px 20px 10px 50px;
            font-weight: normal;
            font-size: 14px;
            background: #e3e5ec;
            color: $dark-slate-blue;
            &.delete {
              background: #fff;
              color: #ff386b;
            }
          }
        }
      }
    }
  }

  .form-item {
    margin: 1rem 0;
    padding: 0;
    height: auto;
    overflow: visible;

    &.first {
      margin-top: 0;
    }

    &.other {
      margin-top: -2rem;
    }

    &:hover {
      background: transparent;
    }

    .input-box {
      display: block;
      width: 100%;
      height: auto;
    }

    .select {
      width: 100%;
      border: 0;

      .long {
        border: 2px solid #e8e8ef;
        width: 48%;

        &:last-child {
          margin-left: 4%;
        }
      }
    }
  }

  .note {
    display: block;
    margin: -1rem 0 1.5rem;
    font-size: 0.86rem;
    font-weight: 600;
    line-height: 1.43;
  }
}
.admin {
  margin-top: -1rem;
  .form-item {
    margin-bottom: 1.5rem;
  }
  .toggle-box {
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 0.81rem;
    color: #1c195b;
    font-weight: 500;
    border: 2px solid #e8e8ef;
    position: relative;
    border-radius: 0.5rem;
    line-height: 3rem;
    text-indent: 0.5rem;
    &:hover {
      border-color: $dark-slate-blue;
    }
    .toggle {
      top: 29px;
    }
  }
}

.head {
  background: #f8f8fa;
  color: $dark-slate-blue;
  height: 60px;
  position: relative;
  top: -8px;
  div {
    padding-top: 20px;
    float: left;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    &.user {
      padding-left: 4rem;
      width: 58%;
    }
    &.assessments {
      width: 20%;
      white-space: nowrap;
    }
  }
}
