<div class="login-container shadow">
  <div class="container">
    <div class="login-box clearfix">
      <div class="form">
        <div class="page-head">
          <span class="page-title" translate>CREATE A NEW ORGANISATION</span>
        </div>
        <form (ngSubmit)="register()" [formGroup]="registerForm" novalidate>
          <div class="row">
            <div class="col">
              <div class="form-item">
                <label class="d-block">
                  <label translate>COMPANY NAME</label>
                  <input
                    type="text"
                    readonly
                    class="form-control"
                    placeholder="Enter your company name"
                    formControlName="companyName"
                    autocomplete="companyName"
                  />
                  <span hidden translate>Company name</span>
                  <small
                    [hidden]="
                      registerForm.controls.companyName.valid ||
                      registerForm.controls.companyName.untouched
                    "
                    class="text-danger"
                    translate
                  >
                    Company name is required
                  </small>
                </label>
              </div>
            </div>
            <div class="col">
              <div class="form-item">
                <label class="d-block">
                  <label translate>INDUSTRY</label>
                  <mat-select class="form-control" formControlName="industry">
                    <mat-option
                      [value]="item"
                      *ngFor="let item of industries"
                      >{{ item }}</mat-option
                    >
                  </mat-select>
                  <span hidden translate>industry</span>
                  <small
                    [hidden]="
                      registerForm.controls.industry.valid ||
                      registerForm.controls.industry.untouched
                    "
                    class="text-danger"
                    translate
                  >
                    industry is required
                  </small>
                </label>
              </div>
            </div>
            <div
              class="col"
              *ngIf="registerForm.controls.industry.value === 'Other'"
            >
              <div class="form-item">
                <label class="d-block">
                  <label translate>CREATE INDUSTRY</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter industry"
                    formControlName="industryOther"
                    autocomplete="industryOther"
                  />
                  <span hidden translate>industry</span>
                  <small
                    [hidden]="
                      registerForm.controls.industryOther.valid ||
                      registerForm.controls.industryOther.untouched
                    "
                    class="text-danger"
                    translate
                  >
                    industry is required
                  </small>
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-item">
                <label class="d-block">
                  <label translate>VALUE CHAIN POSITION</label>
                  <mat-select class="form-control" formControlName="position">
                    <mat-option [value]="item" *ngFor="let item of positions">{{
                      item
                    }}</mat-option>
                  </mat-select>
                  <span hidden translate>industry</span>
                  <small
                    [hidden]="
                      registerForm.controls.position.valid ||
                      registerForm.controls.position.untouched
                    "
                    class="text-danger"
                    translate
                  >
                    industry is required
                  </small>
                </label>
              </div>
            </div>
            <div
              class="col"
              *ngIf="registerForm.controls.position.value === 'Other'"
            >
              <div class="form-item">
                <label class="d-block">
                  <label translate>CREATE POSITION</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter position"
                    formControlName="positionOther"
                    autocomplete="positionOther"
                  />
                  <span hidden translate>position</span>
                  <small
                    [hidden]="
                      registerForm.controls.positionOther.valid ||
                      registerForm.controls.positionOther.untouched
                    "
                    class="text-danger"
                    translate
                  >
                    position is required
                  </small>
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-item">
                <label class="d-block">
                  <label translate>COMPANY HQ ADDRESS</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your address"
                    formControlName="address"
                    autocomplete="address"
                  />
                  <span hidden translate>Company address</span>
                  <small
                    [hidden]="
                      registerForm.controls.address.valid ||
                      registerForm.controls.address.untouched
                    "
                    class="text-danger"
                    translate
                  >
                    Company address is required
                  </small>
                </label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-item">
                <label class="d-block">
                  <label translate>REVENUE</label>
                  <input
                    type="text"
                    class="form-control"
                    currencyMask
                    [options]="{
                      prefix: registerForm.controls.currenctType.value,
                      thousands: ',',
                      decimal: '.',
                      precision: 0,
                      align: 'left'
                    }"
                    formControlName="revenue"
                    autocomplete="revenue"
                  />
                  <span hidden translate>revenue</span>
                  <small
                    [hidden]="
                      registerForm.controls.revenue.valid ||
                      registerForm.controls.revenue.untouched
                    "
                    class="text-danger"
                    translate
                  >
                    revenueis required
                  </small>
                </label>
                <div class="info combo">
                  <mat-select formControlName="currenctType">
                    <mat-option value="$">$</mat-option>
                    <mat-option value="€">€</mat-option>
                  </mat-select>
                </div>
              </div>
            </div>
            <!-- <div class="form-item with-icon clearfix">
                  <label>step1.label4 <strong>{{ selectedUnitDetails.businessLevel }}</strong></label>
              <mat-form-field class="input-box">
                <input
                  matInput
                  currencyMask
                  [options]="{ prefix: selectedUnit.currenctType, thousands: ',', decimal: '.', align: 'left' }"
                  #currency
                  (ngModelChange)="addToAllChange(selectedUnit.budget)"
                  [(ngModel)]="selectedUnit.budget"
                />
                <div class="info combo">
                  <mat-select
                    [(ngModel)]="selectedUnit.currenctType"
                    (selectionChange)="currenctTypeChange(selectedUnit.currenctType)"
                  >
                    <mat-option value="$">$</mat-option>
                    <mat-option value="€">€</mat-option>
                  </mat-select>
                </div>
              </mat-form-field>
            </div> -->
          </div>
          <button
            class="btn-circular bg-shamrock big center"
            type="submit"
            [disabled]="registerForm.invalid"
          >
            <span translate>SAVE</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
