<div sitemap-name="main" class="ng-scope ng-isolate-scope">
  <a routerLink="/myenergy/dashboard">
    <img class="logo" src="../../../assets/img/myenergyLogo.png" alt="" />
  </a>
  <div class="sidebar">
    <div class="ng-scope sidebar-sub-pill">
      <ul>
        <li
          [routerLinkActive]="['active']"
          routerLink="/myenergy/purchases/direct-procurement"
        >
          <em class="material-icons-outlined"> inventory </em>
          <span translate>Purchases</span>
        </li>
        <li
          [routerLinkActive]="['active']"
          routerLink="/myenergy/product-recommendation"
        >
          <em class="material-icons-outlined">reviews</em>
          <span translate>Products</span>
        </li>
      </ul>
      <ul class="bottom-nav" *ngIf="!freeOrganisation">
        <li
          *ngIf="this.businessLevelLength > 0"
          [routerLinkActive]="['active']"
          routerLink="/cti/organisation"
        >
          <img src="../../../assets/img/icon/org.png" alt="" />
          <span translate>organization</span>
        </li>
        <li>
          <div class="nav-item user" ngbDropdown>
            <div id="user-dropdown" ngbDropdownToggle>
              <img src="../../../assets/img/icon/personal.png" alt="" />
              <span>Personal</span>
            </div>

            <div
              class="dropdown-box"
              ngbDropdownMenu
              aria-labelledby="user-dropdown"
            >
              <button class="dropdown-item" routerLink="/cti/user" translate>
                Profile
              </button>
              <h6 class="dropdown-item" (click)="logout()" translate>Logout</h6>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="logo-bottom">
    <a href="https://www.circular-iq.com" target="_blank"
      ><img
        class="tower"
        src="../../../assets/img/circular-tower-logo2.png"
        alt=""
    /></a>
  </div>
</div>
