<div class="row">
  <div class="col-6">
    <div class="item shadow clearfix" *ngIf="rightItems">
      <div class="page-head">
        <span class="page-title" translate>Outflow Questions</span>
      </div>
      <form (ngSubmit)="submit(true)" [formGroup]="registerForm" novalidate>
        <div class="form-item">
          <label translate
            >step5.outflowQuestion1
            <b *ngIf="outflowCircularPercentage"
              >{{ outflowCircularPercentage }}%</b
            >?</label
          >
          <textarea
            type="text"
            class="form-control"
            placeholder="{{ 'outflow.question1.placeholder' | translate }}"
            formControlName="why"
            autocomplete="why"
          >
          </textarea>
        </div>
        <div class="form-item">
          <label translate>inflow.question2 </label>
          <textarea
            type="text"
            class="form-control"
            placeholder="{{ 'inflow.question2.placeholder' | translate }}"
            formControlName="expect"
            autocomplete="expect"
          >
          </textarea>
        </div>

        <div class="form-item">
          <label translate>inflow.question3</label>
          <div class="multi">
            <textarea
              type="text"
              class="form-control"
              formControlName="focus"
              placeholder="{{ 'outflow.question3.placeholder' | translate }}"
              autocomplete="focus"
            >
            </textarea>
            <label translate>Why</label>
            <textarea
              type="text"
              class="form-control"
              formControlName="whyFocus"
              autocomplete="whyFocus"
            >
            </textarea>
          </div>
        </div>

        <div class="form-item">
          <label translate>step5.outflowQuestion2</label>
          <div class="multi">
            <textarea
              type="text"
              class="form-control"
              formControlName="limitations"
              placeholder="{{ 'outflow.question4.placeholder' | translate }}"
              autocomplete="limitations"
            >
            </textarea>
            <label translate>Why</label>
            <textarea
              type="text"
              class="form-control"
              formControlName="whyLimitations"
              placeholder="{{
                'outflow.question4.why.placeholder' | translate
              }}"
              autocomplete="whyLimitations"
            >
            </textarea>
          </div>
        </div>

        <button
          class="btn-circular bg-shamrock big center float-right"
          type="submit"
          [disabled]="registerForm.invalid"
          translate
        >
          SAVE
        </button>
      </form>
    </div>
  </div>
</div>
