<div class="purches">
  <div class="empty">
    <img src="../../../assets/img/icon/emptyInbox.svg" alt="" />
    <h2>Oops, no purchases yet.</h2>
    <div class="col-6 offset-3">
      <div class="row">
        <div class="col">
          <span>Learn how to add purchases via procurement.</span>
          <button
            (click)="infoVideoModal('tender')"
            class="btn-circular real-grey-border"
          >
            WATCH DEMO
          </button>
        </div>
        <div class="col">
          <span>Add your first purchase via direct procurement.</span>
          <button class="btn-circular bg-shamrock">ADD PURCHASE</button>
        </div>
      </div>
    </div>
  </div>
</div>
