@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

table {
  width: 100%;
  tr {
    cursor: pointer;
  }
}
.head {
  font-size: 12px;
  color: #000;
  font-weight: 700;
}
.item-list-contenet .list-item .info {
  width: 70% !important;
}
.item-list-contenet .list-item .info span {
  display: block;
  height: 2rem;
}
.item-list-contenet .list-item .info p {
  float: left;
  margin-right: 5px;
}
::ng-deep .mat-paginator-page-size {
  top: 3px !important;
}
.oval {
  line-height: 2.5rem !important;
}
