<div class="page-head">
  <span class="page-title" translate>Users</span>
</div>
<section class="item-list-contenet" *ngIf="users">
  <div
    class="list-item claerfix"
    [ngClass]="{ active: selectedUser.id === p.id }"
    *ngFor="let p of users"
  >
    <div class="img box" (click)="selectedUserEvent(p)"></div>
    <div class="info box" (click)="selectedUserEvent(p)">
      <span>{{ p.firstname }}</span>
      <p *ngFor="let role of p.roles">{{ role.name }},</p>
    </div>
    <div
      class="oval dark-slate-blue-border"
      (click)="selectedUserEvent(p)"
      *ngIf="selectedUser.id !== p.id"
    >
      <i class="fas fa-chevron-right"></i>
    </div>
    <div
      class="oval bg-dark-slate-blue"
      (click)="closeUser()"
      *ngIf="selectedUser.id === p.id"
    >
      <i class="fas fa-chevron-left"></i>
    </div>
  </div>
</section>

<section class="claerfix">
  <mat-paginator
    [length]="user?.total"
    (page)="pageEvent($event)"
    [pageSize]="10"
    [pageSizeOptions]="[10]"
  >
  </mat-paginator>
</section>
