<section id="dialog-wrapper">
  <object
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/outro-step5.html"
    type="text/html"
  ></object>
  <div style="text-align: right; padding: 10px 0">
    <div class="bottom-box">
      <button
        tabindex="0"
        class="btn-circular dark-slate-blue-border"
        (click)="onYesClick()"
      >
        Show and Download Report
      </button>
      <button
        tabindex="1"
        class="btn-circular bg-shamrock"
        (click)="onNoClick()"
      >
        GO NEXT
      </button>
    </div>
  </div>
</section>
