@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.item {
  background: $white;
  padding: 1rem 2rem;

  h3 {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: normal;
    padding: 0;
    margin-bottom: 2rem;
  }

  .head-text {
    display: block;
    list-style-type: none;
    padding: 1.5rem 0 0;
    height: 3rem;
  }

  table {
    border-radius: 0.5rem;
    overflow: hidden;

    tr {
      border-top: solid 1px #bfcece;

      &:first-child {
        border: 0 !important;

        td {
          border: 0 !important;
        }
      }

      td {
        padding: 1rem;
        min-height: 3rem;
        height: auto;
        width: 42%;

        &:first-child {
          width: 16%;
        }
        &:last-child {
          padding-left: 0;
        }
        strong {
          display: block;
          text-align: center;
          color: #1c195b;
          font-size: 0.75rem;
          font-weight: 600;
        }
        span {
          display: table-cell;
          color: $dark-slate-blue;
          font-size: 0.875rem;
          font-weight: 600;
          height: 3.2rem;
          vertical-align: middle;
        }

        .form-item {
          padding: 0;
          margin-left: 0;
          margin-right: 0;
          height: 3.2rem;
          color: $dark-slate-blue;
          &:hover {
            background: transparent;
          }
          &.other {
            margin-top: 0.5rem;
          }
          .input-box {
            width: 100%;
            top: -14px;
          }
        }
      }
    }
  }

  .center {
    display: block;
    margin: 0 auto;
  }
}

.form-item .input-box input,
.form-item .input-box textarea,
.form-item .input-box select,
.form-item .input-box mat-select,
.form-item .input-box .only-input {
  color: $dark-slate-blue;
  font-size: 0.76rem;
  font-weight: normal;
}
.patica-sidebar.open {
  top: 255px !important;
}
.question {
  display: block;
  border-radius: 0.5rem;
  border: solid 2px $pale-lilac;
  padding: 1rem;
  margin-bottom: 2rem;
  &:hover {
    border-color: $dark-slate-blue;
  }
  label {
    display: block;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.5;
    color: $dark-slate-blue;
    &.big {
      font-size: 1rem;
    }
  }
  textarea {
    display: block;
    width: 100%;
    height: 25px;
    line-height: 1.5rem;
    border: none;
    &:focus {
      outline: none;
    }
  }
  .radio-content {
    display: inline-block;
    height: 30px;
  }
  .last {
    label {
      text-align: right;
    }
    .radio-content {
      float: right;
    }
  }
}
h6 {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 24px;
}
