<form [formGroup]="form" style="position: relative" *ngIf="showForm">
  <div formGroupName="questionnaire" *ngFor="let q of questions; let i = index">
    <div class="head" *ngIf="q.code === 'TI14'" translate>
      Recovery potential
    </div>
    <div class="head" *ngIf="q.code === 'TI21'" translate>Actual recovery</div>
    <div
      class="head"
      *ngIf="q.code === 'TI11' && inicators.recoveryType"
      translate
    >
      Recovery type
    </div>
    <div class="head" *ngIf="q.code === 'TI12'" translate>Cycle type</div>
    <div class="head" *ngIf="q.code === 'TI4'" translate>
      Recovery potential
    </div>
    <div
      class="form-item clearfix"
      [ngClass]="{ first: i === 0 }"
      *ngIf="
        q.type === 'input' &&
        q.code !== 'TI6' &&
        q.code !== 'TI20' &&
        q.code !== 'TI4' &&
        q.code !== 'TI5'
      "
    >
      <label *ngIf="q.code !== 'M18' && q.code !== 'TI5'"
        >{{ q.description.en }}
      </label>
      <label *ngIf="q.code === 'M18'" translate>Name of the outflow</label>
      <mat-form-field class="input-box">
        <input
          matInput
          [type]="q.unit ? 'number' : 'text'"
          [formControlName]="q.code"
          [(ngModel)]="q.value[0]"
        />
        <div class="info" *ngIf="q.unit">
          {{ q.unit }}
        </div>
      </mat-form-field>
      <app-proof class="app-proof" [master]="q"></app-proof>
      <div class="guidance" (click)="openPatica(q.code)">
        <img src="../../../assets/img/questin.png" alt="" />
      </div>
    </div>

    <div class="form-item clearfix" *ngIf="q.code === 'TI4'">
      <label style="top: -29px">{{ q.description.en }} </label>
      <mat-form-field class="input-box">
        <input
          matInput
          type="text"
          *ngIf="
            form.value.questionnaire.TI14 !== 'yes' &&
            form.value.questionnaire.TI14 !== 'no'
          "
          currencyMask
          min="0"
          max="100"
          (keyup)="maxValue(q, 100)"
          [options]="{ prefix: '', suffix: '%', precision: 0, align: 'left' }"
          [formControlName]="q.code"
          [(ngModel)]="q.value[0]"
        />
        <input
          matInput
          type="text"
          readonly
          class="input-btn bg-input"
          *ngIf="form.value.questionnaire.TI14 === 'yes'"
          value="100%"
        />
        <input
          matInput
          type="text"
          readonly
          class="input-btn bg-input"
          *ngIf="form.value.questionnaire.TI14 === 'no'"
          value="0%"
        />
      </mat-form-field>
      <app-proof class="app-proof" [master]="q"></app-proof>
      <div class="guidance" (click)="openPatica(q.code)">
        <img src="../../../assets/img/questin.png" alt="" />
      </div>
    </div>

    <div
      class="form-item clearfix"
      [ngClass]="{ first: i === 0 }"
      *ngIf="q.code === 'TI5'"
    >
      <label translate>step3.OwnDataPercentage</label>
      <mat-form-field class="input-box">
        <input
          matInput
          type="text"
          currencyMask
          min="0"
          max="100"
          id="TI5"
          (keyup)="maxValue(q, 100)"
          [options]="{ prefix: '', suffix: '%', precision: 0, align: 'left' }"
          [formControlName]="q.code"
          [readonly]="form.value.questionnaire.TI11 === 'landfillMixed'"
          [(ngModel)]="
            form.value.questionnaire.TI11 === 'landfillMixed' ? 0 : q.value[0]
          "
        />
      </mat-form-field>
      <app-proof class="app-proof" [master]="q"></app-proof>
      <div class="guidance" (click)="openPatica(q.code)">
        <img src="../../../assets/img/questin.png" alt="" />
      </div>
    </div>
    <div
      class="form-item clearfix first"
      [ngClass]="{ notFirst: q.code === 'TI13' }"
      *ngIf="
        q.type === 'select' &&
        q.code !== 'TI22' &&
        q.code !== 'TI16' &&
        q.code !== 'TI21' &&
        q.code !== 'TI19' &&
        q.code !== 'TI11'
      "
    >
      <label>{{ q.description.en }}</label>
      <mat-form-field class="input-box">
        <mat-select
          matNativeControl
          [formControlName]="q.code"
          (selectionChange)="nameChangeEvenet(q)"
          [(ngModel)]="q.value[0]"
        >
          <mat-option *ngFor="let o of q.options" [value]="o.value"
            >{{ o.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-proof class="app-proof" [master]="q"></app-proof>
      <div class="guidance" (click)="openPatica(q.code)">
        <img src="../../../assets/img/questin.png" alt="" />
      </div>
    </div>

    <div
      class="form-item clearfix first"
      *ngIf="q.code === 'TI11' && inicators.recoveryType"
    >
      <label>{{ q.description.en }}</label>
      <mat-form-field class="input-box">
        <mat-select
          matNativeControl
          [formControlName]="q.code"
          (selectionChange)="nameChangeEvenet(q)"
          [(ngModel)]="q.value[0]"
        >
          <mat-option *ngFor="let o of q.options" [value]="o.value"
            >{{ o.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-proof class="app-proof" [master]="q"></app-proof>
      <div class="guidance" (click)="openPatica(q.code)">
        <img src="../../../assets/img/questin.png" alt="" />
      </div>
    </div>

    <div class="mass-box clearfix">
      <div class="form-item clearfix" *ngIf="q.code === 'TI6'">
        <label>{{ q.description.en }} </label>
        <mat-form-field class="input-box">
          <input
            matInput
            type="text"
            formControlName="kg"
            [(ngModel)]="q.massValue[0]"
            currencyMask
            [options]="{
              prefix: '',
              suffix: '',
              thousands: '.',
              allowNegative: false,
              decimal: ',',
              precision: 0,
              align: 'left'
            }"
          />
          <div class="info">kg</div>
        </mat-form-field>
        <mat-form-field class="input-box last">
          <input
            matInput
            type="text"
            formControlName="gram"
            [(ngModel)]="q.massValue[1]"
            currencyMask
            min="0"
            max="999"
            maxlength="3"
            [options]="{
              prefix: '',
              suffix: '',
              thousands: '.',
              allowNegative: false,
              decimal: ',',
              precision: 0,
              align: 'left'
            }"
          />
          <div class="info">g</div>
        </mat-form-field>
        <app-proof class="app-proof" [master]="q"></app-proof>
        <div class="guidance" (click)="openPatica(q.code)">
          <img src="../../../assets/img/questin.png" alt="" />
        </div>
      </div>
    </div>

    <div class="form-item clearfix" *ngIf="q.code === 'TI21'">
      <label style="top: -10px">{{ q.description.en }} </label>
      <mat-radio-group class="select custom-check-group">
        <mat-checkbox
          class="radio-item long active"
          checked="true"
          disabled="true"
          value="Own Data"
          ><b translate>Own data</b>
        </mat-checkbox>
        <mat-checkbox
          class="radio-item long"
          [formControlName]="q.code"
          [(ngModel)]="q.realValue"
        >
          <b translate>BOKU data</b>
        </mat-checkbox>
      </mat-radio-group>
      <app-proof class="app-proof" [master]="q"></app-proof>
      <div class="guidance" (click)="openPatica(q.code)">
        <img src="../../../assets/img/questin.png" alt="" />
      </div>
    </div>
    <ng-container *ngIf="form.value.questionnaire.TI21">
      <div class="form-item clearfix" *ngIf="q.code === 'TI19'">
        <ng-container>
          <label translate>step3.BokuDataPercentage</label>
          <mat-form-field class="input-box">
            <input
              matInput
              type="text"
              readonly
              [formControlName]="q.code"
              [(ngModel)]="SelectApplication"
              (click)="openModel()"
              class="input-btn bg-input"
            />
            <div class="info" *ngIf="selectedPercentage">
              {{ selectedPercentage }}%
            </div>
          </mat-form-field>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="foot">
    <div (click)="saveForm(false)" class="btn-circular bg-white" translate>
      SAVE DRAFT
    </div>
    <div
      (click)="saveAndPublishForm()"
      class="btn-circular bg-shamrock big"
      translate
    >
      SUBMIT
    </div>
  </div>
</form>
