<section id="dialog-wrapper">
  <em class="icon icon-close" (click)="onNoClick()"></em>
  <div class="page-head">
    <span class="page-title" translate>Add a new assessment </span>
  </div>

  <form [formGroup]="businessForm" novalidate>
    <div class="form-item">
      <label class="d-block">
        <label
          ><b translate>Name of the assessment for</b> {{ data.name }}</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'Enter assessment name' | translate }}"
          formControlName="name"
          autocomplete="name"
        />
        <small
          [hidden]="
            businessForm.controls.name.valid ||
            businessForm.controls.name.untouched
          "
          class="text-danger"
          translate
        >
          Assessment name is required
        </small>
      </label>
    </div>
  </form>

  <div style="text-align: right; padding: 10px 0">
    <div class="bottom-box">
      <button
        tabindex="1"
        style="text-transform: uppercase"
        class="btn-circular bg-shamrock"
        [disabled]="businessForm.invalid"
        (click)="onYesClick()"
        translate
      >
        Add assessment
      </button>
    </div>
  </div>
</section>
