<section id="dialog-wrapper">
  <h2>{{ data['title'] }}</h2>
  <div class="full-width clearfix">
    <label class="label">IS THIS A GENERIC MATERIAL?</label>
    <span
      class="input-btn"
      [ngClass]="isGenericMaterial == true ? 'focus' : ''"
      (click)="isGenericMaterial = true"
      translate
      >Yes</span
    >
    <span
      class="input-btn"
      [ngClass]="isGenericMaterial == false ? 'focus' : ''"
      (click)="isGenericMaterial = false"
      translate
      >No</span
    >
  </div>
  <mat-form-field class="example-full-width">
    <input
      autocomplete="off"
      matInput
      placeholder="Display Name"
      [(ngModel)]="displayName"
      tabindex="1"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      autocomplete="off"
      matInput
      placeholder="Product Name"
      [(ngModel)]="productName"
      tabindex="2"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      autocomplete="off"
      matInput
      placeholder="Weight"
      [(ngModel)]="weight"
      tabindex="3"
    />
  </mat-form-field>
  <div style="text-align: right; padding: 10px 0">
    <button tabindex="-1" class="action btn btn-primary" (click)="onNoClick()">
      <span translate>bom.remove.cancel</span>
    </button>
    <button
      tabindex="4"
      class="action btn btn-primary"
      (click)="onYesClick(isGenericMaterial, displayName, productName, weight)"
    >
      <span translate>Save</span>
    </button>
  </div>
</section>
