h2 {
  display: block;
  margin-bottom: 2rem;
}
.mat-form-field {
  display: block;
  input {
    font-size: 1.4rem;
    width: 100%;
    font-weight: 600;
    padding: 1rem;
    margin-top: -1rem;
    color: #797979;
    border: solid 1px #ccc;
    background: none !important;
    outline: none;
  }
}

.full-width {
  width: 100%;
  border: 0;
  padding: 0;
  margin-bottom: 2rem;
  label {
    width: 58%;
  }
}
