<div class="minor-part" *ngIf="data">
  <div class="row fix-height">
    <div class="col-6">
      <div
        class="info-item"
        *ngIf="!data.aggregate.indicators?.criticalInflow; else criticalInflow"
      >
        <div class="pasive clearfix">
          <span translate>Critical inflow</span>
          <button translate>Indicator not selected</button>
        </div>
      </div>
      <ng-template #criticalInflow>
        <div class="active shadow">
          <div class="head inflow" translate>
            Critical inflow
            <strong
              >{{
                data.aggregate.criticalData.criticalPercentage
                  | number: environment.integerFormat
              }}%</strong
            >
          </div>
          <div
            class="info"
            [ngClass]="{ border: !data.aggregate.criticalData.missingData }"
          >
            <div class="row">
              <div class="col-11">
                <div class="line" translate>
                  criticalFormule1 <span>n</span>
                </div>
                <hr />
                <div class="line" translate>
                  criticalFormule2 <span>n</span>
                </div>
              </div>
              <div class="col-1">
                <div class="line total">x 100%</div>
              </div>
            </div>
          </div>
          <app-missing-data
            *ngIf="data.aggregate.criticalData.missingData"
            [data]="criticalDataAssessments"
          ></app-missing-data>
        </div>
      </ng-template>
    </div>

    <div class="col-6">
      <div
        class="info-item"
        *ngIf="
          !data.aggregate.indicators?.onSiteWaterCirculation;
          else onSiteWaterCirculation
        "
      >
        <div class="pasive clearfix">
          <span translate>Onsite water circulation</span>
          <button translate>Indicator not selected</button>
        </div>
      </div>
      <ng-template #onSiteWaterCirculation>
        <div class="active shadow">
          <div class="head onsite" translate>
            Onsite water circulation
            <strong
              >{{
                data.aggregate.onSiteWater.onSiteWaterCircularity
                  | number: environment.integerFormat
              }}x</strong
            >
          </div>
          <div
            class="info"
            [ngClass]="{ border: !data.aggregate.onSiteWater.missingData }"
          >
            <div class="row">
              <div class="col-12">
                <div class="line" translate>onsiteFormule1 <span>n</span></div>
                <hr />
                <div class="line" translate>onsiteFormule2 <span>n</span></div>
              </div>
              <!-- <div class="col-1">
                <div class="line total">x 100%</div>
              </div> -->
            </div>
          </div>
          <app-missing-data
            *ngIf="data.aggregate.onSiteWater.missingData"
            [data]="onSiteWaterAssessments"
          ></app-missing-data>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="row fix-height">
    <div class="col-12">
      <div
        class="info-item"
        *ngIf="!data.aggregate.indicators?.recoveryType; else recoveryType"
      >
        <div class="pasive clearfix">
          <span translate>Recovery type</span>
          <button translate>Indicator not selected</button>
        </div>
      </div>
      <ng-template #recoveryType>
        <div class="active shadow">
          <div class="head recovery" translate>Recovery type</div>
          <div class="content">
            <h6 translate>Breakdown of recovery cycle</h6>
            <div class="chart">
              <div
                class="technical"
                [style.width.%]="
                  data.aggregate.recoveryType.breakdown[0].percentage * 0.48 +
                  13
                "
              >
                <div class="text-box">
                  <span translate
                    >{{ data.aggregate.recoveryType.breakdown[0].name }}
                  </span>
                  <strong
                    >{{
                      data.aggregate.recoveryType.breakdown[0].weight
                    }}kg</strong
                  >
                </div>
                <label
                  >{{
                    data.aggregate.recoveryType.breakdown[0].percentage
                      | number: environment.decimalFormat
                  }}%</label
                >
              </div>
              <div
                class="non-food"
                [style.width.%]="
                  data.aggregate.recoveryType.breakdown[1].percentage * 0.48 +
                  13
                "
              >
                <div class="text-box">
                  <span translate>{{
                    data.aggregate.recoveryType.breakdown[1].name
                  }}</span>
                  <strong
                    >{{
                      data.aggregate.recoveryType.breakdown[1].weight
                    }}kg</strong
                  >
                </div>
                <label
                  >{{
                    data.aggregate.recoveryType.breakdown[1].percentage
                      | number: environment.decimalFormat
                  }}%</label
                >
              </div>
              <div
                class="food"
                [style.width.%]="
                  data.aggregate.recoveryType.breakdown[2].percentage * 0.48 +
                  13
                "
              >
                <div class="text-box">
                  <span translate>{{
                    data.aggregate.recoveryType.breakdown[2].name
                  }}</span>
                  <strong
                    >{{
                      data.aggregate.recoveryType.breakdown[2].weight
                    }}kg</strong
                  >
                </div>
                <label
                  >{{
                    data.aggregate.recoveryType.breakdown[2].percentage
                      | number: environment.decimalFormat
                  }}%</label
                >
              </div>
              <div
                class="other"
                [style.width.%]="
                  data.aggregate.recoveryType.breakdown[3].percentage * 0.48 +
                  13
                "
              >
                <div class="text-box">
                  <span translate>{{
                    data.aggregate.recoveryType.breakdown[3].name
                  }}</span>
                  <strong
                    >{{
                      data.aggregate.recoveryType.breakdown[3].weight
                    }}kg</strong
                  >
                </div>
                <label
                  >{{
                    data.aggregate.recoveryType.breakdown[3].percentage
                      | number: environment.decimalFormat
                  }}%</label
                >
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="line">
                  <strong translate>{{
                    data.aggregate.recoveryType.breakdown[0].name
                  }}</strong>
                  <strong
                    >{{
                      data.aggregate.recoveryType.breakdown[0].weight
                    }}kg</strong
                  >
                </div>
                <div
                  class="line"
                  *ngFor="let item of data.aggregate.recoveryType.technical"
                >
                  <span translate>{{ item.name }}</span>
                  <span class="value">{{ item.weight }} Kg</span>
                  <div class="percentage">
                    <div
                      class="per technical"
                      [style.width.%]="item.percentage"
                    ></div>
                    <label
                      >{{
                        item.percentage | number: environment.integerFormat
                      }}%</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="line">
                  <strong translate>{{
                    data.aggregate.recoveryType.breakdown[1].name
                  }}</strong>
                  <strong
                    >{{
                      data.aggregate.recoveryType.breakdown[1].weight
                    }}kg</strong
                  >
                </div>
                <div
                  class="line"
                  *ngFor="let item of data.aggregate.recoveryType.nonFood"
                >
                  <span translate>{{ item.name }}</span>
                  <span class="value">{{ item.weight }} Kg</span>
                  <div class="percentage">
                    <div
                      class="per nonFood"
                      [style.width.%]="item.percentage"
                    ></div>
                    <label
                      >{{
                        item.percentage | number: environment.integerFormat
                      }}%</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="line">
                  <strong translate>{{
                    data.aggregate.recoveryType.breakdown[2].name
                  }}</strong>
                  <strong
                    >{{
                      data.aggregate.recoveryType.breakdown[2].weight
                    }}kg</strong
                  >
                </div>
                <div
                  class="line"
                  *ngFor="let item of data.aggregate.recoveryType.food"
                >
                  <span translate>{{ item.name }}</span>
                  <span class="value">{{ item.weight }} Kg</span>
                  <div class="percentage">
                    <div
                      class="per food"
                      [style.width.%]="item.percentage"
                    ></div>
                    <label
                      >{{
                        item.percentage | number: environment.integerFormat
                      }}%</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
