<div class="fixed-steper">
  <app-stepper></app-stepper>
</div>
<div class="narrow" *ngIf="isShowstep5Intro !== 'true'">
  <app-intro></app-intro>
</div>
<div class="narrow" *ngIf="isShowstep5Intro === 'true'">
  <app-inflow-questions
    *ngIf="activeCase === 'inflow-question'"
  ></app-inflow-questions>
  <app-inflow *ngIf="activeCase === 'inflow'"></app-inflow>
  <app-outflow-questions
    *ngIf="activeCase === 'outflow-question'"
  ></app-outflow-questions>
  <app-outflow *ngIf="activeCase === 'outflow'"></app-outflow>
  <app-energy-analysis
    *ngIf="activeCase === 'energyAnalaysis'"
  ></app-energy-analysis>
  <app-water-analysis
    *ngIf="activeCase === 'waterAnalaysis'"
  ></app-water-analysis>
  <app-download *ngIf="activeCase === 'step5Download'"></app-download>
</div>
