<section id="dialog-wrapper">
  <em class="icon icon-close" (click)="onNoClick()"></em>
  <div class="my-energy-title mb-4">Myenergy</div>
  <span class="myenergy cw mb-3"
    >Use this dashboard to select sustainability challenges for your circular
    procurement and add information about purchased products to the platform.
  </span>
  <span class="myenergy cw mb-4"
    >You'll be able to visualize the impact of your product data and access
    resources about circular procurement and circular economy.</span
  >
  <button
    tabindex="1"
    style="text-transform: uppercase"
    class="btn-myenergy bg-green"
    (click)="onYesClick()"
  >
    LET'S START
  </button>
</section>
