@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
.head-text {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 16px;
}
.form-item {
  padding: 0;
  height: 46px;
  margin: 20px 0 10px;
  label {
    position: relative;
    height: initial;
    top: 10px;
    width: 50%;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  .form-control {
    float: right;
    width: 50%;
    border: 0;
    border: 1px solid #e3e5ec;
    border-radius: 8px;
    :focus {
      background: #fff !important;
    }
  }
  .two-item {
    float: right;
    width: 50%;
    .date-item {
      float: left;
      width: 48%;
      &.first {
        margin-right: 4%;
      }
    }
  }
  &.big {
    height: 76px;
    label {
      top: 30px;
    }
    textarea {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #253e4e;
      height: 100%;
      resize: none;
    }
  }
}

.mat-select {
  border: 1px solid #e3e5ec;
}
.active-item .check-item {
  margin-bottom: 10px;
  label span {
    font-weight: normal !important;
  }
}

strong {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}
.new-purches .mat-select-value-text span {
  font-weight: normal !important;
}
