<div class="active-item">
  <span class="mb-2">Select the product family and group.</span>

  <div class="row">
    <div class="col-6">
      <div
        class="check-item clearfix"
        *ngFor="let main of familyData; let i = index"
      >
        <input
          type="radio"
          name="main"
          (click)="selectedMain = main"
          [id]="main.uuid"
        />
        <label [for]="main.uuid">
          <span>{{ main.name }}</span>
        </label>
      </div>
    </div>
    <div class="col-6" *ngIf="selectedMain">
      <div
        class="check-item clearfix"
        *ngFor="let class of selectedMain.classes"
      >
        <input
          type="radio"
          name="class"
          (click)="selectedClass = class"
          [id]="class.uuid"
        />
        <label [for]="class.uuid">
          <span>{{ class.name }}</span>
        </label>
      </div>
    </div>
  </div>

  <form [formGroup]="familyForm" *ngIf="selectedClass" novalidate>
    <div class="form-item">
      <label translate>[Brick] Product group</label>
      <mat-select
        (selectionChange)="selectedBrick(true)"
        formControlName="brick_uuid"
      >
        <mat-option disabled="true" value="Select">*Select</mat-option>
        <mat-option
          *ngFor="let brick of selectedClass.bricks"
          [value]="brick.uuid"
        >
          {{ brick.name }}
        </mat-option>
      </mat-select>
    </div>
    <div class="form-item big">
      <label translate>Product description</label>
      <textarea
        (blur)="selectedBrick(false)"
        type="text"
        class="form-control"
        formControlName="description"
      >
      </textarea>
    </div>
  </form>
</div>
