<div class="page-head"><span class="page-title" translate>Suppliers</span></div>

<section class="item-list-contenet" [ngClass]="{ passive: activePageDetail }">
  <div
    class="list-item claerfix"
    [ngClass]="{ active: selectedSupplier.id == p.id }"
    *ngFor="let p of suppliers"
  >
    <div class="img box" (click)="showDetail(p)"></div>
    <div class="info box" (click)="showDetail(p)">
      <span>{{ p.organisation.name }}</span>
      <label>{{ p.organisation.licenseType }}</label>
      <dl *ngIf="!activePageDetail">
        <dt translate>Account creation date :</dt>
        <dd>{{ p.creationDate | date: 'dd-MM-yyyy' }}</dd>
        <dt translate>Products :</dt>
        <dd>{{ p.productCount }}</dd>
        <dt translate>Open requests :</dt>
        <dd>{{ p.openInvitations }}</dd>
      </dl>
    </div>
    <div
      class="oval dark-slate-blue-border"
      *ngIf="selectedSupplier.id != p.id"
      (click)="showDetail(p)"
    >
      <i class="fas fa-chevron-right"></i>
    </div>

    <div
      class="oval bg-dark-slate-blue"
      *ngIf="selectedSupplier.id == p.id"
      (click)="closeDetail()"
    >
      <i class="fas fa-chevron-left"></i>
    </div>
  </div>
  <section class="claerfix" *ngIf="suppliers?.total > 10">
    <mat-paginator
      [length]="suppliers?.total"
      (page)="pageEvent($event)"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50, 100]"
    >
    </mat-paginator>
  </section>
</section>

<section
  class="detail-page"
  *ngIf="activePageDetail"
  [ngClass]="{ active: activePageDetail }"
>
  <div class="main-box">
    <div
      (click)="closeDetail()"
      class="btn-circular bg-dark-slate-blue close"
      translate
    >
      CLOSE
    </div>
    <div class="page-head">
      <span class="page-title" translate>Supplier details</span>
    </div>
    <section class="item-list-contenet summary">
      <div class="list-item claerfix">
        <div class="img box"></div>
        <div class="info box">
          <span>{{ selectedSupplier.organisation.name }}</span>
          <label>{{ selectedSupplier.organisation.licenseType }}</label>
          <dl>
            <dt translate>Account creation date :</dt>
            <dd>{{ selectedSupplier.creationDate | date: 'dd-MM-yyyy' }}</dd>
            <dt translate>Products :</dt>
            <dd>{{ selectedSupplier.productCount }}</dd>
            <dt translate>Open requests :</dt>
            <dd>{{ selectedSupplier.openInvitations }}</dd>
          </dl>
        </div>
      </div>
    </section>
    <mat-tab-group>
      <mat-tab label="{{ 'Details' | translate }}">
        <app-supplier-detail
          [activeSupplier]="selectedSupplier"
        ></app-supplier-detail>
      </mat-tab>
      <mat-tab label="{{ 'Users' | translate }}">
        <section class="item-list-contenet">
          <div
            class="list-item claerfix"
            *ngFor="let p of selectedSupplier?.users"
          >
            <div class="img box"></div>
            <div class="info box">
              <span>{{ p.email }}</span>
              <p>{{ p.fullname }}</p>
            </div>
          </div>
        </section>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
