.item {
  background: #fff;
  height: 470px;
  margin-bottom: 2rem;
  overflow: hidden;
  overflow-y: auto;
}

iframe,
object,
embed {
  width: 100%;
  height: auto;
  display: block;
  height: 100%;
}
