<div class="item shadow">
  <object
    *ngIf="step0"
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/dash-checklist-step3.html"
  ></object>
  <object
    *ngIf="step1"
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/dash-checklist-step3.html"
  ></object>
  <object
    *ngIf="step2"
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/dash-checklist-step3.html"
  ></object>
  <object
    *ngIf="step3"
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/dash-checklist-step4.html"
  ></object>
  <object
    *ngIf="step4"
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/dash-checklist-step5.html"
  ></object>
  <object
    *ngIf="step5"
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/dash-checklist-step6.html"
  ></object>
  <object
    *ngIf="step6"
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/dash-checklist-step7.html"
  ></object>
  <object
    *ngIf="step7"
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/dash-checklist-steps-done.html"
  ></object>
</div>
