<section id="dialog-wrapper" class="custom-modal-box">
  <div class="form-box" *ngIf="energyValue">
    <div class="page-head">
      <span class="page-title" translate>Renewable energy</span>
    </div>
    <form class="clearfix" [formGroup]="energy" (ngSubmit)="onSubmit()">
      <div class="item clearfix">
        <label translate>Renewable energy</label>
        <input
          type="text"
          class="form-control"
          currencyMask
          [options]="{
            prefix: '',
            suffix: '',
            thousands: '.',
            allowNegative: false,
            decimal: ',',
            precision: 0,
            align: 'left'
          }"
          formControlName="renewableEnergyConsumption"
        />
        <div class="info combo">
          <mat-select
            (selectionChange)="unitChangeEvent($event.value)"
            formControlName="energyUnit"
          >
            <mat-option value="MJ">MJ</mat-option>
            <mat-option value="GJ">GJ</mat-option>
            <mat-option value="TJ">TJ</mat-option>
            <mat-option value="kWh">kWh</mat-option>
            <mat-option value="MWh">MWh</mat-option>
            <mat-option value="GWh">GWh</mat-option>
            <mat-option value="toe">toe</mat-option>
            <mat-option value="ktoe">ktoe</mat-option>
            <mat-option value="Mtoe">Mtoe</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="item clearfix">
        <label translate>Total energy</label>
        <input
          type="text"
          class="form-control"
          currencyMask
          [options]="{
            prefix: '',
            suffix: '',
            thousands: '.',
            allowNegative: false,
            decimal: ',',
            precision: 0,
            align: 'left'
          }"
          formControlName="totalEnergyConsumption"
        />
        <div class="info combo">
          <mat-select
            formControlName="energyUnit"
            (selectionChange)="unitChangeEvent($event.value)"
          >
            <mat-option value="MJ">MJ</mat-option>
            <mat-option value="GJ">GJ</mat-option>
            <mat-option value="TJ">TJ</mat-option>
            <mat-option value="kWh">kWh</mat-option>
            <mat-option value="MWh">MWh</mat-option>
            <mat-option value="GWh">GWh</mat-option>
            <mat-option value="toe">toe</mat-option>
            <mat-option value="ktoe">ktoe</mat-option>
            <mat-option value="Mtoe">Mtoe</mat-option>
          </mat-select>
        </div>
      </div>
      <span class="back" (click)="cancel()" translate>BACK</span>
      <button class="save" translate>SAVE</button>
    </form>
  </div>
</section>
