@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.item {
  padding: 1rem 1rem 0;
  margin-bottom: 1rem;
  position: relative;
  min-height: 76px;
  span {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  h6 {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
  }
}

.chart {
  display: flex;
  list-style-type: none;
  float: left;
  padding: 0;

  li {
    margin-right: 10px;
    font-size: 0.75rem;

    b {
      font-size: 1rem;
      font-weight: bold;
      color: red;
      position: relative;
      margin-right: 2px;
    }
  }
}

.locker {
  margin-left: 0.5rem;

  span {
    font-size: 1.5rem;
    position: absolute;
    left: 7px;
    top: 7px;

    &.lock {
      color: red;
    }

    &.unlock {
      color: $shamrock;
    }
  }
}

.grey-border span {
  display: block;
  line-height: 1.3rem;
  float: left;
  margin-bottom: 0;
  margin-right: 4px;
}

.publish {
  margin-right: 5px;

  &:hover {
    color: #fff;
  }
}

::ng-deep .mat-radio-label-content {
  padding-right: 1rem !important;
  font-size: 0.76rem;
}

::ng-deep .mat-radio-label-content {
  padding-right: 1rem !important;
  font-size: 0.76rem;
}

::ng-deep .mat-checkbox-layout {
  padding-right: 1rem !important;
  font-size: 0.76rem;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #1c195b;
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #1c195b;
}

.btn-circular {
  position: relative;
  top: 0.6rem;
}

.lock-box {
  position: fixed;
  height: calc(100vh - 230px);
  top: 190px;
  left: 120px;
  right: 30px;
  bottom: 0;
  z-index: 0;
  transition-delay: 1s;

  .left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transition: width 500ms;
    background: rgba(0, 0, 0, 0.1);
  }

  .right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    transition-delay: 100ms;
    transition: width 500ms;
    background: rgba(0, 0, 0, 0.1);
  }

  &.active {
    z-index: 9999;
    transition-delay: 10ms;

    .left,
    .right {
      width: 50%;
      transition-delay: 100ms;
      transition: width 500ms;
    }
  }
}
