<div class="item shadow clearfix">
  <!-- <span>Select Spreadsheet Lens</span>
   <ng-container *ngIf="activeLens">
    <mat-checkbox
      [value]="lens.name"
      (change)="changeLens(lens.name)"
      *ngFor="let lens of lenses; let i = index"
      [checked]="i == 0"
      >{{ lens.name }}</mat-checkbox
    >
  </ng-container> -->
  <div
    *ngIf="data"
    class="btn btn-circular float-right locker oval grey-border"
  >
    <span class="material-icons lock" *ngIf="locker" (click)="lockEvent(false)"
      >lock</span
    >
    <span
      class="material-icons unlock"
      *ngIf="!locker"
      (click)="lockEvent(true)"
      >lock_open</span
    >
  </div>
  <button
    *ngIf="data && !locker"
    (click)="saveSpredSheet()"
    class="btn btn-circular bg-shamrock float-right"
    translate
  >
    Save Spreadsheet
  </button>
  <!--   <button *ngIf="data && !locker && productId !== '0'" (click)="publishSpredSheet()" class="btn btn-circular publish bg-dark-slate-blue float-right" translate>
    Publish
  </button> -->
  <button
    *ngIf="locker"
    (click)="historyBack()"
    class="btn btn-circular grey-border float-right"
    translate
  >
    <span class="material-icons">keyboard_arrow_left </span> Back Product List
  </button>
  <!--   <h6 translate>Eco Cost</h6>
  <ul class="chart">
    <li *ngFor="let item of chartData">
      {{ item.name }}
      <b>{{ item.value }} €</b>
    </li>
  </ul> -->
</div>
<div *ngIf="!data" class="lds-roller">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div class="lock-box" [ngClass]="{ active: locker }">
  <div class="left"></div>
  <div class="right"></div>
</div>
<hot-table
  id="table"
  [hotId]="id"
  *ngIf="data && tableShow"
  licenseKey="non-commercial-and-evaluation"
  [settings]="tableSettings"
  [afterChange]="detectChanges"
  [beforeChange]="beforeChanges"
  [data]="data"
></hot-table>
