<div class="page-head">
  <span class="page-title" translate>Products</span>
  <span
    class="btn-circular bg-shamrock"
    style="float: right"
    (click)="openCohere()"
    >Test Cohere</span
  >
</div>
<section class="item-list-contenet" [ngClass]="{ passive: activePageDetail }">
  <div class="list-item claerfix" routerLink="/products/spreadsheet/0">
    <div class="add">
      <div class="oval dark-slate-blue-border float-left">
        <i class="fas fa-plus"></i>
      </div>
      <span translate>ADD PRODUCT</span>
    </div>
  </div>

  <div
    class="list-item claerfix"
    [ngClass]="{ active: selectedProduct.id == p.id && activePageDetail }"
    *ngFor="let p of productResults"
  >
    <div class="img box" (click)="showDetail(p)"></div>
    <div class="info box" (click)="showDetail(p)">
      <span>{{ p.tradeName }}</span> <label>{{ p.status }}</label>
      <p>{{ p.owner }} {{ p.transitionDate | date }}</p>
    </div>
    <!-- <div class="box">
      <div class="img"></div>
    </div> -->
    <div
      class="oval dark-slate-blue-border"
      *ngIf="selectedProduct.id != p.id"
      (click)="showDetail(p)"
    >
      <i class="fas fa-chevron-right"></i>
    </div>

    <div
      class="oval bg-dark-slate-blue"
      *ngIf="selectedProduct.id == p.id && activePageDetail"
      (click)="closeDetail()"
    >
      <i class="fas fa-chevron-left"></i>
    </div>
  </div>
  <section class="claerfix" *ngIf="products?.total > 10">
    <mat-paginator
      [length]="products?.total"
      (page)="pageEvent($event)"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20, 50, 100]"
    >
    </mat-paginator>
  </section>
</section>

<section
  class="detail-page"
  *ngIf="activePageDetail"
  [ngClass]="{
    patica: isShowPatica,
    active: activePageDetail,
    closePatica: isHidePatica
  }"
>
  <div class="main-box">
    <div class="page-head">
      <span class="page-title" translate>Product details</span>

      <div
        (click)="closeDetail()"
        class="btn-circular bg-dark-slate-blue float-right mr-2"
        translate
      >
        CLOSE
      </div>
      <div
        (click)="removeItem()"
        class="btn-circular bg-watermelon float-right mr-2"
        translate
      >
        DELETE
      </div>
      <div
        (click)="publish()"
        class="btn-circular bg-shamrock float-right mr-2"
        translate
      >
        PUBLISH
      </div>
      <div
        (click)="inviteSupplier()"
        class="btn-circular bg-shamrock float-right mr-2"
        translate
      >
        INVITE
      </div>
      <div
        [matMenuTriggerFor]="menu"
        class="btn-circular bg-light-purple float-right mr-2"
        translate
      >
        Download report
      </div>
      <mat-menu #menu="matMenu">
        <button (click)="generateReportIframe('pcr')" mat-menu-item translate>
          PCR download
        </button>
        <button (click)="generateReportIframe('pcip')" mat-menu-item translate>
          PCIP download &nbsp;
        </button>
      </mat-menu>
    </div>

    <div class="main-content">
      <div class="summary claerfix">
        <div class="img box main"></div>
        <div
          class="info box"
          [ngClass]="{ long: selectedProduct.tradeName.length > 70 }"
        >
          <span>{{ selectedProduct.tradeName }}</span>
          <label>{{ selectedProduct.status }}</label>
          <p>{{ selectedProduct.transitionDate | date }}</p>
        </div>

        <div
          *ngIf="spreadsheetuuid"
          class="btn-circular dark-slate-blue-border mh float-right"
          (click)="goToSpreadsheetPage()"
          translate
        >
          Spreadsheet
        </div>
      </div>

      <section *ngIf="activePageDetail" [ngClass]="{ patica: isShowPatica }">
        <div class="col-5">
          <img style="width: 100%" src="{{ productImage }}" />
          <file-pond class="file-btn" #myPond [options]="pondOptions">
          </file-pond>
        </div>
        <!--  <app-questionnaire [selectedFlow]="selectedProduct.id"></app-questionnaire> -->
      </section>
    </div>
  </div>
</section>
