@import "src/theme/theme-variables";

.logo {
  height: 5rem;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  background: url(../../../assets/img/cti-logo.jpg) center top no-repeat;
  background-size: contain;
}

.sidebar {
  height: calc(100vh - 5rem);
}

.sidebar-sub-pill {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 1rem 0;
      text-align: center;
      cursor: pointer;
      outline: 0;

      &.active {
        background: rgba(0, 0, 0, 0.05);
      }

      span {
        color: $black;
        font-size: 0.75rem;
        letter-spacing: normal;
      }

      i,
      img {
        font-size: 1rem;
        display: block;
        margin: 0 auto 0.3rem;
        &.pro {
          background: #ff386b;
          border-radius: 30px;
          font-weight: bold;
          font-size: 8px;
          align-items: center;
          text-align: center;
          letter-spacing: -0.01em;
          color: #ffe6ec;
          line-height: 30px;
          width: 30px;
          height: 30px;
        }
      }

      span {
        cursor: pointer;
        margin-left: 3px;
        text-transform: capitalize;
      }
    }
  }
}
.bottom-nav {
  position: absolute;
  bottom: 140px;
  left: 0;
  right: 0;
}

.logo-bottom {
  position: absolute;
  left: 0;
  bottom: 0;

  img {
    width: 80%;
    margin: 0 10% 10px;
  }
  .tower {
    margin-bottom: 0;
  }
}
.nav-item {
  i {
    line-height: 35px;
  }
  .dropdown-box {
    left: 10px !important;
  }
}
