<section id="dialog-wrapper" *ngIf="data">
  <em class="icon icon-close" (click)="onNoClick()"></em>
  <div class="page-head">
    <span class="page-title">Invite a new member</span>
  </div>

  <form [formGroup]="createUserFrom" novalidate>
    <div class="form-item">
      <label class="d-block">
        <label translate>First name</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{
            'addMaterial.addColleague.placeholder1' | translate
          }}"
          formControlName="firstName"
        />
        <span hidden translate>First name</span>
        <small
          [hidden]="
            createUserFrom.controls.firstName.valid ||
            createUserFrom.controls.firstName.untouched
          "
          class="text-danger"
          translate
        >
          First name is required
        </small>
      </label>
    </div>
    <div class="form-item">
      <label class="d-block">
        <label translate>Last name</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{
            'addMaterial.addColleague.placeholder2' | translate
          }}"
          formControlName="lastName"
        />
        <span hidden translate>Last name</span>
      </label>
    </div>
    <div class="form-item">
      <label class="d-block">
        <label translate>Email</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{
            'addMaterial.addColleague.placeholder3' | translate
          }}"
          formControlName="email"
          trim
        />
        <span hidden translate>Email</span>
        <small
          [hidden]="
            createUserFrom.controls.email.valid ||
            createUserFrom.controls.email.untouched
          "
          class="text-danger"
          translate
        >
          Email is required
        </small>
      </label>
    </div>

    <div class="form-item">
      <label class="d-block">
        <label translate>Select the business level</label>
        <input
          type="text"
          class="form-control"
          disabled="true"
          placeholder="{{ data.name }}"
        />
        <span hidden translate>Select the business level</span>
      </label>
    </div>

    <div class="form-item">
      <label class="d-block">
        <label>Message</label>
        <textarea
          type="text"
          readonly
          class="form-control"
          placeholder="{{ 'businessLEvel.invite.message' | translate }}"
          formControlName="message"
        ></textarea>
      </label>
    </div>
  </form>
  <button
    tabindex="4"
    [disabled]="!createUserFrom.valid"
    class="btn-circular bg-shamrock float-right"
    (click)="onYesClick()"
    translate
  >
    INVITE MEMBER
  </button>
</section>
