<div class="login-container" [ngClass]="{ myenergy: project === 'myenergy' }">
  <div class="login-box clearfix">
    <div class="row">
      <div class="col-md-6 user-info-box">
        <img
          src="../../assets/img/myenergylogo.svg"
          style="width: 167px"
          class="logo"
          alt=""
        />
        <div class="page-head">
          <span class="page-title"
            >Welcome to <br />
            myenergy Circular Procurement Platform</span
          >
        </div>
        <span class="spot" translate
          >Log in to your account to start with your circular procurement or
          click on the link below to learn more.</span
        >
        <a
          href="#"
          target="_blank"
          class="forgot btn-myenergy grey-border"
          translate
          >LEARN MORE
        </a>
      </div>
      <div class="col-md-6">
        <div class="form">
          <div class="page-head">
            <span class="page-title">Log in to your account</span>
            <!-- <a [routerLink]="['/register']" class="create btn-myenergy grey-border" translate
              >CREATE AN ACCOUNT</a
            > -->
          </div>
          <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div class="form-item-new-line mb-4">
              <label translate>EMAIL</label>
              <input
                type="text"
                class="form-control my-input"
                formControlName="email"
                autocomplete="email"
              />
              <span hidden translate>Email</span>
              <small
                [hidden]="
                  loginForm.controls.email.valid ||
                  loginForm.controls.email.untouched
                "
                class="text-danger"
                translate
              >
                Email is required
              </small>
            </div>
            <div class="form-item-new-line mb-4">
              <label translate>PASSWORD</label>
              <input
                type="password"
                class="form-control my-input"
                formControlName="password"
                autocomplete="current-password"
                required
              />
              <span hidden translate>Password</span>
              <small
                [hidden]="
                  loginForm.controls.password.valid ||
                  loginForm.controls.password.untouched
                "
                class="text-danger"
                translate
              >
                Password is required
              </small>
            </div>

            <button class="btn-myenergy bg-green login-button" type="submit">
              <i class="fas fa-cog fa-spin loading" [hidden]="!isLoading"></i>
              <span translate>LOGIN</span>
            </button>
            <span
              [routerLink]="['/forgot-password']"
              class="my-forgot"
              translate
              >FORGOT PASSWORD?</span
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
