<div class="login-container">
  <div class="login-box clearfix" *ngIf="pageShow">
    <div class="container">
      <div class="form">
        <div class="page-head">
          <span class="page-title" translate>{{ email }}</span>
        </div>
        <form class="set-password" [formGroup]="signUpForm">
          <div class="form-group">
            <label for="password" class="control-label" translate
              >password</label
            >
            <i
              class="fa fa-eye"
              (mousedown)="type = 'text'"
              (mouseup)="type = 'password'"
            ></i>
            <input
              type="{{ type }}"
              class="form-control"
              formControlName="password"
              (keyup)="passwordRegex(password)"
              title="Please enter your password"
              [(ngModel)]="password"
            />
            <p class="help-block" *ngFor="let e of errors">{{ e }}</p>
          </div>
          <div class="form-group">
            <label for="confirmedPassword" class="control-label" translate
              >confirmed Password</label
            >
            <input
              type="password"
              class="form-control"
              formControlName="confirmedPassword"
              (keyup)="isConfirmed(password, confirmedPassword)"
              title="Please re-enter your password"
              [(ngModel)]="confirmedPassword"
            />
            <p class="help-block" *ngIf="!isConfirm" translate>
              passwordPageAllert
            </p>
          </div>

          <button
            type="submit"
            class="btn-myenergy bg-green big"
            (click)="onSubmit()"
            [disabled]="!signUpForm.valid || !isRegex || !isConfirm"
            translate
          >
            RESET
          </button>
          <!-- <a routerLink="/signin" class="btn btn-default" style="">Ya tenes usuario? Logueate</a> -->
          <!-- <mat-checkbox  class="check-item" >test</mat-checkbox> -->
        </form>
      </div>
    </div>
  </div>
</div>
