<div class="item shadow clearfix">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="page-head">
        <span class="page-title" translate
          >Step 5. Analyze <i class="fas fa-calendar-week"></i>
        </span>
      </div>
      <div class="btn-box">
        <div class="btn-circular dark-slate-blue-border pasive">
          CRITICAL MATERIALS
        </div>
        <div
          class="btn-circular dark-slate-blue-border one"
          [ngClass]="{ active: activeCase == 'inflow' }"
          (click)="activeCase = 'inflow'"
        >
          INFLOW
        </div>
        <div
          class="btn-circular dark-slate-blue-border one"
          [ngClass]="{ active: activeCase == 'outflow' }"
          (click)="activeCase = 'outflow'"
        >
          OUTFLOW
        </div>
        <div class="btn-circular dark-slate-blue-border pasive">
          RECOVERY TYPES
        </div>
        <div class="btn-circular dark-slate-blue-border one pasive">ENERGY</div>
      </div>
    </div>
  </div>
</div>
