<div class="item shadow">
  <div class="page-head">
    <span class="page-title" translate>CTI Report</span>
  </div>
  <div class="row">
    <div class="col-12">
      <p translate>step4.reportText</p>
      <p translate>step4.reportNote</p>
    </div>
    <div class="col-12">
      <button
        (click)="reportStatus()"
        class="btn-circular bg-shamrock"
        translate
      >
        VIEW REPORT
      </button>
      <button (click)="exportCsv()" class="btn-circular bg-real-grey" translate>
        EXPORT DATA
      </button>
    </div>
  </div>
</div>
