@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
.pro {
  margin-top: -70px;
  height: calc(100vh - 60px);
  overflow-y: auto;
  width: calc(100% + 30px);
  padding-right: 30px;
  .header {
    margin-bottom: 20px;
  }
  .head {
    display: block;
    padding: 20px 0;
    h1 {
      display: table;
      padding: 0;
      line-height: 0;
      font-weight: 900;
      font-size: 32px;
      letter-spacing: -0.01em;
      color: #ffffff;
      margin-bottom: 20px;
    }
    span {
      display: table;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
    .btn-big {
      background: #ffffff;
      border-radius: 8px;
      font-weight: normal;
      font-size: 14px;
      line-height: 34px;
      display: inline;
      align-items: center;
      color: #1c195b;
      padding: 20px 30px;
      float: right;
      cursor: pointer;
      .icon-add {
        float: left;
        font-size: 30px;
        border: 2px solid #e8e8ef;
        color: #1c195b;
        margin-right: 10px;
        border-radius: 100%;
      }
    }
  }
  .table-box {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 40px;
    .no-ass {
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #1c195b;
      padding: 20px;
      border-top: 1px solid #e3e5ec;
      b {
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .table-head-line {
      padding: 20px;
      .name {
        display: inline-block;
        margin-left: 20px;
        span {
          position: relative;
          display: block;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.01em;
          color: #1c195b;
          em {
            position: absolute;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: 2px solid #e3e5ec;
            cursor: pointer;
            line-height: 27px;
            font-size: 15px;
            top: -8px;
          }
          &:last-child {
            color: #757575;
          }
        }
      }
      .btn-box {
        display: inline;
        float: right;
        .member-btn {
          position: relative;
          display: inline-block;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 2px solid #e3e5ec;
          cursor: pointer;
          background: url(../../../assets/img/icon/member-group.svg) center
            bottom no-repeat;
          &:hover {
            background: url(../../../assets/img/icon/member-group.svg) center
              bottom no-repeat #e3e5ec;
            &::after {
              position: absolute;
              content: "MANAGE MEMBERS";
              font-weight: bold;
              font-size: 10px;
              line-height: 12px;
              color: #fff;
              padding: 8px 12px;
              width: 118px;
              height: 28px;
              background: #1c195b;
              border-radius: 4px;
              top: -40px;
              left: -43px;
            }
            &::before {
              position: absolute;
              left: 8px;
              top: -14px;
              content: "";
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 10px;
              border-color: #1c195b transparent transparent transparent;
            }
          }
        }
      }
    }
    .table thead {
      background: #f8f8fa;
      th {
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        color: #1c195b;
        border-bottom: 0;
      }
    }
    tr {
      .line1 {
        width: 5%;
      }
      .line2 {
        width: 25%;
      }
      .line3 {
        width: 15%;
      }
      .line4 {
        width: 10%;
      }
      .line5 {
        width: 10%;
      }
      .line6 {
        width: 10%;
      }
      .line7 {
        width: 10%;
      }
      .line8 {
        width: 5%;
      }
      &:hover {
        background: #f0f7fa;
      }
    }
    td {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      cursor: pointer;
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 10px;
        letter-spacing: 0.01em;
        &.step0 {
          color: #fe5480;
        }
        &.step7 {
          color: #33c166;
        }
      }
      .settings {
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        top: -2px;
        float: right;
        background: #f1f2f5;
        border-radius: 100%;
        cursor: pointer;
        .event {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 32px;
          height: 32px;
        }
        .material-icons {
          display: block;
          color: $dark-slate-blue;
          line-height: 32px;
          height: 32px;
          width: 32px;
          text-align: center;
          font-size: 20px;
        }
        &.active {
          background: $dark-slate-blue;
          .material-icons {
            color: #fff;
          }
        }
        .action {
          position: absolute;
          top: 40px;
          right: 0;
          width: 200px;
          border-radius: 4px;
          overflow: hidden;
          z-index: 3;
          span {
            display: block;
            text-align: right;
            padding: 14px 20px 14px 50px;
            font-weight: normal;
            font-size: 14px;
            background: #e3e5ec;
            color: $dark-slate-blue;
            &.delete {
              background: #fff;
              color: #ff386b;
            }
          }
        }
      }
    }
    .line {
      position: relative;
      border-radius: 2px;
      height: 16px;
      width: 148px;
      margin-bottom: 10px;
      &.step1 {
        background: rgb(255, 56, 107);
        background: linear-gradient(
          90deg,
          rgba(255, 56, 107, 1) 0%,
          rgba(254, 84, 128, 1) 15%,
          rgba(252, 195, 211, 1) 15%,
          rgba(252, 195, 211, 1) 100%
        );
      }
      &.step2 {
        background: rgb(255, 56, 107);
        background: linear-gradient(
          90deg,
          rgba(255, 56, 107, 1) 0%,
          rgba(254, 84, 128, 1) 30%,
          rgba(252, 195, 211, 1) 30%,
          rgba(252, 195, 211, 1) 100%
        );
      }
      &.step3 {
        background: rgb(250, 181, 93);
        background: linear-gradient(
          90deg,
          rgba(250, 181, 93, 1) 0%,
          rgba(250, 181, 93, 1) 45%,
          rgba(253, 233, 206, 1) 45%,
          rgba(253, 233, 206, 1) 100%
        );
      }
      &.step4 {
        background: rgb(250, 181, 93);
        background: linear-gradient(
          90deg,
          rgba(250, 181, 93, 1) 0%,
          rgba(250, 181, 93, 1) 55%,
          rgba(253, 233, 206, 1) 55%,
          rgba(253, 233, 206, 1) 100%
        );
      }
      &.step5 {
        background: rgb(51, 193, 102);
        background: linear-gradient(
          90deg,
          rgba(51, 193, 102, 1) 0%,
          rgba(51, 193, 102, 1) 70%,
          rgba(194, 236, 209, 1) 70%,
          rgba(194, 236, 209, 1) 100%
        );
      }
      &.step6 {
        background: rgb(51, 193, 102);
        background: linear-gradient(
          90deg,
          rgba(51, 193, 102, 1) 0%,
          rgba(51, 193, 102, 1) 85%,
          rgba(194, 236, 209, 1) 85%,
          rgba(194, 236, 209, 1) 100%
        );
      }
      &.step7,
      &.step0 {
        height: 0;
      }
    }
  }
  .select-box {
    background: #e3e5ec;
    height: 80px;
    width: 800px;
    padding: 20px;
    border-radius: 32px;
    position: fixed;
    bottom: 20px;
    z-index: 2;
    left: 50%;
    margin-left: -400px;
    .warning {
      position: absolute;
      top: -60px;
      right: 10px;
      background: #e3f4fa;
      padding: 5px 15px 15px;
      border-radius: 8px;
      font-weight: 600;
      line-height: 2;
      b {
        font-weight: 600;
      }
      em {
        color: #2997cb;
        font-size: 32px;
        position: relative;
        top: 9px;
        margin-right: 10px;
      }
    }
    span {
      font-weight: bold;
      font-size: 16px;
      line-height: 40px;
      letter-spacing: 0.01em;
      color: #1c195b;
      b {
        font-weight: bold;
      }
    }
    .disable {
      opacity: 0.5;
    }
    .icon-close {
      cursor: pointer;
      color: #1c195b;
      font-size: 34px;
      border: 2px solid rgba(28, 25, 91, 0.7);
      border-radius: 100%;
    }
  }
}
.mat-checkbox {
  position: relative;
  top: -1px;
  float: right !important;
}
