<div class="minor-part" *ngIf="data">
  <div class="row">
    <div class="col-12" style="padding: 40px">
      <app-sankey-info [importData]="data.aggregate"></app-sankey-info>
    </div>
  </div>

  <div class="row fix-height" style="padding: 20px">
    <div class="col-6">
      <div
        class="info-item"
        *ngIf="
          !data.aggregate.indicators?.renewableEnergy;
          else renewableEnergy
        "
      >
        <div class="pasive clearfix">
          <span translate>Renewable energy</span>
          <button translate>Indicator not selected</button>
        </div>
      </div>
      <ng-template #renewableEnergy>
        <div class="active shadow">
          <div class="head renewable" translate>
            Renewable energy
            <strong
              >{{
                data.aggregate.energy.renewablePercentage
                  | number: environment.integerFormat
              }}%</strong
            >
          </div>
          <div
            class="info"
            [ngClass]="{ border: !data.aggregate.energy.missingData }"
          >
            <div class="row">
              <div class="col-11">
                <div class="line" translate>
                  renewable energy <span>n</span>
                </div>
                <hr />
                <div class="line" translate>total energy <span>n</span></div>
              </div>
              <div class="col-1">
                <div class="line total">x 100%</div>
              </div>
            </div>
          </div>
          <app-missing-data
            *ngIf="data.aggregate.energy.missingData"
            [data]="energyAssessments"
          ></app-missing-data>
        </div>
      </ng-template>
    </div>
    <div class="col-6">
      <div
        class="info-item"
        *ngIf="
          !data.aggregate.indicators?.waterCircularity;
          else waterCircularity
        "
      >
        <div class="pasive clearfix">
          <span translate>Water circularity</span>
          <button translate>Indicator not selected</button>
        </div>
      </div>
      <ng-template #waterCircularity>
        <div class="active shadow">
          <div class="head water" translate>
            Water circularity<strong
              >{{
                data.aggregate.water.waterCircularity
                  | number: environment.integerFormat
              }}%</strong
            >
          </div>
          <div
            class="info"
            [ngClass]="{ border: !data.aggregate.water.missingData }"
          >
            <div class="line">
              <strong translate>Water circularity </strong> =
              <label translate>waterFormule</label>
            </div>
          </div>
          <app-missing-data
            *ngIf="data.aggregate.water.missingData"
            [data]="waterAssessments"
          ></app-missing-data>
        </div>
      </ng-template>
    </div>
  </div>
  <br />
</div>
