<section id="dialog-wrapper" class="custom-modal-box">
  <div class="form-box">
    <div class="item clearfix">
      <div class="page-head">
        <span class="page-title" translate *ngIf="!material.category"
          >Add flow</span
        >
        <span
          class="page-title"
          translate
          *ngIf="material.category === 'INFLOW'"
          >Add inflow</span
        >
        <span
          class="page-title"
          translate
          *ngIf="material.category === 'OUTFLOW'"
          >Add outflow</span
        >
      </div>
      <div class="form-item clearfix" [hidden]="categoryhidden">
        <label translate>CATEGORY</label>
        <mat-radio-group
          class="select"
          (change)="categoryChange()"
          [(ngModel)]="material.category"
        >
          <mat-radio-button class="radio-item long" value="INFLOW" translate
            >INFLOW</mat-radio-button
          >
          <mat-radio-button class="radio-item long" value="OUTFLOW" translate
            >OUTFLOW</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="form-item clearfix">
        <label translate *ngIf="material.category === 'INFLOW'"
          >addMaterial.inflowNames</label
        >
        <label translate *ngIf="material.category === 'OUTFLOW'"
          >addMaterial.outflowNames</label
        >
        <mat-form-field class="input-box">
          <input matInput [(ngModel)]="material.displayName" />
        </mat-form-field>
      </div>

      <div class="form-item clearfix" *ngIf="material.category === 'INFLOW'">
        <label translate *ngIf="material.category === 'INFLOW'"
          >addMaterial.inflowData</label
        >
        <label translate *ngIf="material.category === 'OUTFLOW'"
          >addMaterial.outflowData</label
        >
        <mat-radio-group
          class="select"
          (change)="hasDataChange()"
          [(ngModel)]="material.hasData"
        >
          <mat-radio-button class="radio-item long" value="WE HAVE THE DATA">
            <b translate>OUR ORGANIZATION</b>
          </mat-radio-button>
          <mat-radio-button
            class="radio-item long"
            value="SUPPLIER HAS THE DATA"
            ><b translate>SUPPLIER</b></mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div
        class="form-item clearfix"
        *ngIf="material.hasData === 'WE HAVE THE DATA'"
      >
        <label translate>Who has access to this data?</label>
        <mat-radio-group
          class="select"
          (click)="goToPatica()"
          [(ngModel)]="material.ownership"
        >
          <mat-radio-button class="radio-item long" value="ME"
            ><b translate>Me</b></mat-radio-button
          >
          <mat-radio-button class="radio-item long" value="COLLEAGUE"
            ><b translate>Colleague</b></mat-radio-button
          >
        </mat-radio-group>
      </div>

      <div
        class="form-item with-icon clearfix"
        *ngIf="material.ownership === 'COLLEAGUE'"
      >
        <label translate>INVITE A COLLEAGUE</label>
        <p class="note" translate>addMaterial.addColleagueText</p>
        <div class="user-box">
          <div class="add" (click)="addUser(material)">
            <div class="oval dark-slate-blue-border float-left">
              <i class="fas fa-plus"></i>
            </div>
            <span translate>ADD NEW COLLEAGUE</span>
          </div>
          <ul>
            <li *ngFor="let item of users">
              <div class="img-box"></div>
              <div class="name">
                {{ item.fullname }}
                <b *ngIf="item.fullname && item.email">-</b>
                {{ item.email }} &nbsp;
              </div>
              <div class="role">{{ item.roles[0].name }} &nbsp;</div>
              <button
                class="btn-circular dark-slate-blue-border float-right"
                [ngClass]="{ active: material.colleague === item.email }"
                (click)="inviteColleague(item.email)"
                translate
              >
                INVITE
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="form-item with-icon clearfix"
        *ngIf="material.hasData === 'SUPPLIER HAS THE DATA'"
      >
        <label translate>INVITE A SUPPLIER</label>
        <p class="note" translate>addMaterial.addSuppliertext</p>
        <div class="user-box">
          <div class="add" (click)="addSupplier(material)">
            <div class="oval dark-slate-blue-border float-left">
              <i class="fas fa-plus"></i>
            </div>
            <span translate>ADD NEW SUPPLIER</span>
          </div>
          <ul>
            <li *ngFor="let item of suppliersRes">
              <div class="img-box"></div>
              <div class="name">
                {{ item.users[0].fullname }}
                <b *ngIf="item.users[0].fullname && item.users[0].email">-</b>
                {{ item.users[0].email }} &nbsp;
              </div>
              <div class="role">{{ item.alias }} &nbsp;</div>
              <button
                class="btn-circular dark-slate-blue-border float-right"
                [ngClass]="{
                  active: material.suppliers === item.users[0].email
                }"
                (click)="inviteSupplier(item.users[0].email)"
                translate
              >
                INVITE
              </button>
            </li>
          </ul>
        </div>
      </div>
      <span class="back" (click)="cancel()" translate>BACK</span>
      <button
        (click)="createMaterial(material, false)"
        class="btn-circular big bg-shamrock float-right"
        translate
      >
        ADD {{ material.category }}
      </button>
    </div>
  </div>
</section>
