<div class="fixed-steper"><app-stepper></app-stepper></div>
<div class="row" *ngIf="selectedUnit">
  <div class="col-6">
    <div class="item shadow clearfix">
      <div class="page-head">
        <span class="page-title" translate>Step 1. Scope</span>
      </div>
      <ng-container *ngIf="!isPro && businessLevelData">
        <div class="form-item clearfix">
          <label translate>Name of business Level </label>
          <mat-form-field class="input-box">
            <input matInput [(ngModel)]="businessLevelData.name" />
          </mat-form-field>
        </div>
        <div class="form-item with-icon clearfix">
          <label translate>step1.label1</label>
          <mat-form-field class="input-box">
            <mat-select [(ngModel)]="businessLevelData.type">
              <mat-option
                [value]="item"
                [disabled]="item === 'Select business level'"
                *ngFor="let item of businessLevels"
                >{{ item }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div
          class="form-item other clearfix"
          *ngIf="businessLevelData.type === 'Other'"
        >
          <mat-form-field class="input-box">
            <input matInput [(ngModel)]="businessLevelData.otherType" />
          </mat-form-field>
        </div>
      </ng-container>
      <div class="form-item clearfix">
        <label translate
          >Name of assessment
          <!-- <strong>
          {{
            businessLevelData.type === 'Select business level'
              ? 'business level'
              : businessLevelData.type
          }}
        </strong> -->
        </label>
        <mat-form-field class="input-box">
          <input matInput [(ngModel)]="data.name" />
        </mat-form-field>
      </div>
      <div class="form-item with-icon clearfix">
        <label translate
          >Country of assessment
          <!-- <strong>
      {{
       businessLevelData.type === 'Select business level'
          ? 'business level'
          :businessLevelData.type
      }}
     </strong> -->
        </label>
        <mat-form-field class="input-box">
          <mat-select [(ngModel)]="selectedUnit.country">
            <mat-option [value]="item" *ngFor="let item of countries">{{
              item
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-item with-icon clearfix">
        <label translate
          >Location of assessment
          <!-- <strong> {{
           businessLevelData.type === 'Select business level'
              ? 'business level'
              :businessLevelData.type
          }}</strong> -->
        </label>
        <mat-form-field class="input-box">
          <input matInput [(ngModel)]="selectedUnit.location" />
        </mat-form-field>
      </div>
      <!-- <div class="form-item with-icon clearfix">
        <label  translate
          >step1.label4 <strong>{{ selectedUnit.businessLevel }}</strong></label
        >
        <mat-form-field class="input-box">
          <input
            matInput
            currencyMask
            [options]="{ prefix: selectedUnit.currencyType, thousands: ',', decimal: '.', precision: 0, align: 'left' }"
            #currency
            (ngModelChange)="addToAllChange(selectedUnit.budget)"
            [(ngModel)]="selectedUnit.budget"
          />
          <div class="info combo">
            <mat-select
              [(ngModel)]="selectedUnit.currencyType"
              (selectionChange)="currencyTypeChange(selectedUnit.currencyType)"
            >
              <mat-option value="$">$</mat-option>
              <mat-option value="€">€</mat-option>
            </mat-select>
          </div>
        </mat-form-field>
      </div> -->
      <div class="form-item with-icon clearfix">
        <label translate>step1.label5 </label>

        <input
          class="only-input"
          type="text"
          matInput
          ngxDaterangepickerMd
          [locale]="{ applyLabel: ' ✓ ', format: 'DD-MMM-YYYY' }"
          startKey="start"
          endKey="end"
          [(ngModel)]="selectedUnit.period"
          name="daterange"
        />
        <i class="material-icons date-icon"> date_range </i>
      </div>

      <div class="form-item tall clearfix">
        <label translate>step1.label6</label>
        <mat-form-field class="input-box">
          <textarea matInput [(ngModel)]="selectedUnit.rationale"></textarea>
        </mat-form-field>
      </div>

      <div class="form-item clearfix">
        <label translate>step1.label7</label>
        <mat-form-field class="input-box">
          <textarea matInput [(ngModel)]="selectedUnit.exclude"></textarea>
        </mat-form-field>
      </div>
      <button
        (click)="saveStep1(selectedUnit, businessLevelData)"
        class="btn btn-circular bg-shamrock big mb-3"
        translate
      >
        SAVE
      </button>
    </div>
  </div>
</div>
