[ req ]
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt 		   = no
[ req_distinguished_name ]
countryName                = NL
stateOrProvinceName        = holland
localityName               = amsterdam
organizationName           = circular-iq
commonName                 = circular-iq.com
[ req_ext ]
subjectAltName = @alt_names
[ alt_names ]
DNS.1   = dev.circular-iq.com
