@import "src/theme/theme-variables";

#dialog-wrapper {
  overflow: hidden;
}
.btn-circular {
  display: none;
  top: 0.7rem !important;
  zoom: 0.7 !important;
  position: absolute !important;
  right: 0.5rem !important;
  z-index: 2 !important;
}
strong {
  color: $dark-slate-blue;
  font-weight: 600;
  line-height: 2.15;
  display: block;
  font-size: 0.91rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
  height: 20.8rem;
  overflow: hidden;
  overflow-y: auto;
  li {
    position: relative;
    display: block;
    background: $white;
    padding: 0.7rem;
    height: 2.8rem;
    overflow: hidden;
    color: $dark-slate-blue;
    font-weight: 600;
    font-size: 0.83rem;
    -webkit-box-shadow: 0 1px 4px 0px rgba(28, 25, 91, 0.25);
    -moz-box-shadow: 0 1px 4px 0px rgba(28, 25, 91, 0.25);
    box-shadow: 0 1px 4px 0px rgba(28, 25, 91, 0.25);
    cursor: pointer;
    &.active {
      color: $white;
      background: $dark-slate-blue;
    }
  }

  &.parrent {
    width: calc(100% + 30px);
    position: relative;
    z-index: 2;
  }
  &.child {
    li {
      &:hover {
        color: $white;
        background: $dark-slate-blue;
        .btn-circular {
          display: block;
        }
      }
    }
  }
}
.btn-circular {
  display: none;
  top: -0.1rem;
  zoom: 0.7;
  position: relative;
  float: right;
}
.bottom-box {
  margin: 10px 0 -10px;
}
