<section id="dialog-wrapper">
  <em class="icon icon-close" (click)="onNoClick()"></em>
  <div class="my-energy-title mb-3">Congratulations!</div>
  <span class="myenergy cw mb-4"
    >Selecting your challenges is the first step in completing your circular
    procurement.</span
  >
  <div class="my-energy-title mb-3">What happens next?</div>
  <span class="myenergy cw mb-4"
    >Learn how you can add product data, get help from your supplier and choose
    the right labels during your procurement process with our short
    videos.</span
  >
  <button
    tabindex="1"
    style="text-transform: uppercase"
    class="btn-myenergy bg-green"
    (click)="onYesClick()"
  >
    CONTINUE
  </button>
</section>
