<div class="login-container">
  <div class="login-box clearfix">
    <div class="container">
      <div class="form">
        <div class="page-head">
          <span class="page-title" translate>Forgot your password?</span>
          <span
            [routerLink]="['/login']"
            class="create btn-myenergy grey-border"
            translate
            >BACK TO LOGIN</span
          >
        </div>
        <form
          (ngSubmit)="forgotPassword()"
          [formGroup]="forgotPasswordForm"
          novalidate
        >
          <div class="form-item">
            <label class="d-block">
              <label translate>EMAIL ADDRESS</label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                trim
                autocomplete="email"
              />
              <span hidden translate>Email</span>
              <small
                [hidden]="
                  forgotPasswordForm.controls.email.valid ||
                  forgotPasswordForm.controls.email.untouched
                "
                class="text-danger"
                translate
              >
                Email is required
              </small>
            </label>
          </div>
          <button
            class="btn-myenergy bg-green big"
            type="submit"
            [disabled]="forgotPasswordForm.invalid || isLoading"
          >
            <span translate>reset password</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
