<div class="row" *ngIf="data">
  <div class="col-6">
    <div class="item shadow detail clearfix" style="padding-bottom: 200px">
      <div class="page-head" style="height: 8rem">
        <span class="page-title" translate>Water analysis</span>
        <h3 translate>step5-water-spot</h3>
      </div>

      <div class="shadow clearfix" style="border-radius: 0.5rem">
        <section class="item-list-contenet head">
          <div class="list-item">
            <div class="info box name" translate>Name</div>
            <div class="part left">
              <span class="guidance-btn" translate>Volume</span>
            </div>
            <div class="part right">
              <span class="guidance-btn" translate>Improvement</span>
            </div>
          </div>
        </section>
        <section class="item-list-contenet">
          <div class="list-item claerfix">
            <div class="info box">
              <div class="tradeName">
                <span translate>Total circular water inflow</span>
              </div>
            </div>
            <div class="part border left">
              <span
                (click)="openCalculete('withdrawalChange')"
                style="padding-left: 20px"
              >
                <em
                  [ngClass]="{
                    increase: data.circularWaterWithdrawalIncrease,
                    decrease: data.circularWaterWithdrawalDecrease
                  }"
                >
                  <ng-container *ngIf="data.circularWaterWithdrawalIncrease"
                    >+</ng-container
                  >{{
                    data.circularWaterWithdrawalDelta
                      | number: environment.integerFormat
                  }}
                  {{ data.waterUnit }}</em
                >{{
                  data.currentCircularWaterWithdrawal
                    | number: environment.integerFormat
                }}
                {{ data.waterUnit }}</span
              >
              <div *ngIf="withdrawalChange" class="calculate shadow clearfix">
                <div class="actions clearfix">
                  <b
                    (click)="
                      setOperation(
                        '-',
                        data.currentCircularWaterWithdrawal,
                        diffrent,
                        'withdrawalChange'
                      )
                    "
                    [ngClass]="{ active: selectedOperation == '-' }"
                    class="btn-circular float-left real-grey-border"
                    >-</b
                  >
                  <b
                    (click)="
                      setOperation(
                        '+',
                        data.currentCircularWaterWithdrawal,
                        diffrent,
                        'withdrawalChange'
                      )
                    "
                    [ngClass]="{ active: selectedOperation == '+' }"
                    class="btn-circular float-left real-grey-border"
                    >+</b
                  >
                </div>
                <div class="calc clearfix" *ngIf="selectedOperation">
                  <div class="value">
                    {{
                      data.currentCircularWaterWithdrawal
                        | number: environment.integerFormat
                    }}
                    {{ data.waterUnit }}
                  </div>
                  <b class="btn-circular selected real-grey-border">{{
                    selectedOperation
                  }}</b>
                  <input
                    type="text"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: '',
                      thousands: '.',
                      allowNegative: false,
                      decimal: ',',
                      precision: 0,
                      align: 'left'
                    }"
                    max="data.weight"
                    placeholder="{{ 'Enter value' | translate }}"
                    [(ngModel)]="diffrent"
                    (keyup)="
                      setRenewable(
                        data.currentCircularWaterWithdrawal,
                        diffrent,
                        'withdrawalChange'
                      )
                    "
                    (change)="
                      setRenewable(
                        data.currentCircularWaterWithdrawal,
                        diffrent,
                        'withdrawalChange'
                      )
                    "
                  />
                  <b
                    *ngIf="selectedOperation == '-' || selectedOperation == '+'"
                  ></b>
                </div>
                <div class="result-box clearfix" *ngIf="selectedOperation">
                  <b translate>Result :</b>
                  <strong
                    >{{
                      data.withdrawalChangeValue
                        | number: environment.integerFormat
                    }}
                    {{ data.waterUnit }}</strong
                  >
                  <div
                    (click)="calculateDone()"
                    class="btn-circular bg-shamrock float-right"
                    style="color: #fff"
                    translate
                  >
                    SAVE
                  </div>
                </div>
              </div>
            </div>
            <div class="part border right" style="margin-right: 15px">
              <span
                [ngClass]="{
                  increase: data.circularWaterWithdrawalIncrease,
                  decrease: data.circularWaterWithdrawalDecrease
                }"
              >
                {{ data.targetCircularWaterWithdrawal | number: '1.2-2' }}
                {{ data.waterUnit }}
              </span>
            </div>
          </div>
          <div class="list-item claerfix">
            <div class="info box">
              <div class="tradeName">
                <span translate>Total circular water outflow</span>
              </div>
            </div>
            <div class="part border left">
              <span
                (click)="openCalculete('dischargeChange')"
                style="padding-left: 20px"
              >
                <em
                  [ngClass]="{
                    increase: data.circularWaterDischargeIncrease,
                    decrease: data.circularWaterDischargeDecrease
                  }"
                >
                  <ng-container *ngIf="data.circularWaterDischargeIncrease"
                    >+</ng-container
                  >{{
                    data.circularWaterDischargeDelta
                      | number: environment.integerFormat
                  }}
                  {{ data.waterUnit }}</em
                >{{
                  data.currentCircularWaterDischarge
                    | number: environment.integerFormat
                }}
                {{ data.waterUnit }}</span
              >

              <div *ngIf="dischargeChange" class="calculate shadow clearfix">
                <div class="actions clearfix">
                  <b
                    (click)="
                      setOperation(
                        '-',
                        data.currentCircularWaterDischarge,
                        diffrent,
                        'dischargeChange'
                      )
                    "
                    [ngClass]="{ active: selectedOperation == '-' }"
                    class="btn-circular float-left real-grey-border"
                    >-</b
                  >
                  <b
                    (click)="
                      setOperation(
                        '+',
                        data.currentCircularWaterDischarge,
                        diffrent,
                        'dischargeChange'
                      )
                    "
                    [ngClass]="{ active: selectedOperation == '+' }"
                    class="btn-circular float-left real-grey-border"
                    >+</b
                  >
                </div>
                <div class="calc clearfix" *ngIf="selectedOperation">
                  <div class="value">
                    {{
                      data.currentCircularWaterDischarge
                        | number: environment.integerFormat
                    }}
                    {{ data.waterUnit }}
                  </div>
                  <b class="btn-circular selected real-grey-border">{{
                    selectedOperation
                  }}</b>
                  <input
                    type="text"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: '',
                      thousands: '.',
                      allowNegative: false,
                      decimal: ',',
                      precision: 0,
                      align: 'left'
                    }"
                    max="data.weight"
                    placeholder="{{ 'Enter value' | translate }}"
                    [(ngModel)]="diffrent"
                    (keyup)="
                      setTotal(
                        data.currentCircularWaterDischarge,
                        diffrent,
                        'dischargeChange'
                      )
                    "
                    (change)="
                      setTotal(
                        data.currentCircularWaterDischarge,
                        diffrent,
                        'dischargeChange'
                      )
                    "
                  />
                  <b
                    *ngIf="selectedOperation == '-' || selectedOperation == '+'"
                  ></b>
                </div>
                <div class="result-box clearfix" *ngIf="selectedOperation">
                  <b translate>Result :</b>
                  <strong
                    >{{
                      data.dischargeChangeValue
                        | number: environment.integerFormat
                    }}
                    {{ data.waterUnit }}</strong
                  >
                  <div
                    (click)="calculateDone(item)"
                    class="btn-circular bg-shamrock float-right"
                    style="color: #fff"
                    translate
                  >
                    SAVE
                  </div>
                </div>
              </div>
            </div>
            <div class="part border right" style="margin-right: 15px">
              <span
                [ngClass]="{
                  increase: data.circularWaterDischargeIncrease,
                  decrease: data.circularWaterDischargeDecrease
                }"
              >
                {{
                  data.targetCircularWaterDischarge
                    | number: environment.integerFormat
                }}
                {{ data.waterUnit }}
              </span>
            </div>
          </div>
          <div class="list-item claerfix" *ngIf="onSiteWaterCirculation">
            <div class="info box">
              <div class="tradeName">
                <span translate>Total water use</span>
              </div>
            </div>
            <div class="part border left">
              <span
                (click)="openCalculete('waterChange')"
                style="padding-left: 20px"
              >
                <em
                  [ngClass]="{
                    increase: data.totalWaterUseIncrease,
                    decrease: data.totalWaterUseDecrease
                  }"
                >
                  <ng-container *ngIf="data.totalWaterUseIncrease"
                    >+</ng-container
                  >{{
                    data.totalWaterUseDelta | number: environment.integerFormat
                  }}
                  {{ data.waterUnit }}</em
                >{{ data.currentWaterUse | number: environment.integerFormat }}
                {{ data.waterUnit }}</span
              >

              <div *ngIf="waterChange" class="calculate shadow clearfix">
                <div class="actions clearfix">
                  <b
                    (click)="
                      setOperation(
                        '-',
                        data.currentWaterUse,
                        diffrent,
                        'waterChange'
                      )
                    "
                    [ngClass]="{ active: selectedOperation == '-' }"
                    class="btn-circular float-left real-grey-border"
                    >-</b
                  >
                  <b
                    (click)="
                      setOperation(
                        '+',
                        data.currentWaterUse,
                        diffrent,
                        'waterChange'
                      )
                    "
                    [ngClass]="{ active: selectedOperation == '+' }"
                    class="btn-circular float-left real-grey-border"
                    >+</b
                  >
                </div>
                <div class="calc clearfix" *ngIf="selectedOperation">
                  <div class="value">
                    {{
                      data.currentWaterUse | number: environment.integerFormat
                    }}
                    {{ data.waterUnit }}
                  </div>
                  <b class="btn-circular selected real-grey-border">{{
                    selectedOperation
                  }}</b>
                  <input
                    type="text"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: '',
                      thousands: '.',
                      allowNegative: false,
                      decimal: ',',
                      precision: 0,
                      align: 'left'
                    }"
                    max="data.weight"
                    placeholder="{{ 'Enter value' | translate }}"
                    [(ngModel)]="diffrent"
                    (keyup)="
                      setTotal(data.currentWaterUse, diffrent, 'waterChange')
                    "
                    (change)="
                      setTotal(data.currentWaterUse, diffrent, 'waterChange')
                    "
                  />
                  <b
                    *ngIf="selectedOperation == '-' || selectedOperation == '+'"
                  ></b>
                </div>
                <div class="result-box clearfix" *ngIf="selectedOperation">
                  <b translate>Result :</b>
                  <strong
                    >{{
                      data.waterChangeValue | number: environment.integerFormat
                    }}
                    {{ data.waterUnit }}</strong
                  >
                  <div
                    (click)="calculateDone(item)"
                    class="btn-circular bg-shamrock float-right"
                    style="color: #fff"
                    translate
                  >
                    SAVE
                  </div>
                </div>
              </div>
            </div>
            <div class="part border right" style="margin-right: 15px">
              <span
                [ngClass]="{
                  increase: data.totalWaterUseIncrease,
                  decrease: data.totalWaterUseDecrease
                }"
              >
                {{ data.targetWaterUse | number: environment.integerFormat }}
                {{ data.waterUnit }}
              </span>
            </div>
          </div>
          <div class="list-item claerfix">
            <div class="info box">
              <div class="tradeName">
                <span translate>Total water withdrawal</span>
              </div>
            </div>
            <div class="part border left">
              <span
                (click)="openCalculete('totalWaterChange')"
                style="padding-left: 20px"
              >
                <em
                  [ngClass]="{
                    increase: data.totalWaterWithdrawalIncrease,
                    decrease: data.totalWaterWithdrawalDecrease
                  }"
                >
                  <ng-container *ngIf="data.totalWaterWithdrawalIncrease"
                    >+</ng-container
                  >{{
                    data.totalWaterWithdrawalDelta
                      | number: environment.integerFormat
                  }}
                  {{ data.waterUnit }}</em
                >{{
                  data.currentTotalWaterWithdrawal
                    | number: environment.integerFormat
                }}
                {{ data.waterUnit }}</span
              >

              <div *ngIf="totalWaterChange" class="calculate shadow clearfix">
                <div class="actions clearfix">
                  <b
                    (click)="
                      setOperation(
                        '-',
                        data.currentTotalWaterWithdrawal,
                        diffrent,
                        'totalWaterChange'
                      )
                    "
                    [ngClass]="{ active: selectedOperation == '-' }"
                    class="btn-circular float-left real-grey-border"
                    >-</b
                  >
                  <b
                    (click)="
                      setOperation(
                        '+',
                        data.currentTotalWaterWithdrawal,
                        diffrent,
                        'totalWaterChange'
                      )
                    "
                    [ngClass]="{ active: selectedOperation == '+' }"
                    class="btn-circular float-left real-grey-border"
                    >+</b
                  >
                </div>
                <div class="calc clearfix" *ngIf="selectedOperation">
                  <div class="value">
                    {{
                      data.currentTotalWaterWithdrawal
                        | number: environment.integerFormat
                    }}
                    {{ data.waterUnit }}
                  </div>
                  <b class="btn-circular selected real-grey-border">{{
                    selectedOperation
                  }}</b>
                  <input
                    type="text"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: '',
                      thousands: '.',
                      allowNegative: false,
                      decimal: ',',
                      precision: 0,
                      align: 'left'
                    }"
                    max="data.weight"
                    placeholder="{{ 'Enter value' | translate }}"
                    [(ngModel)]="diffrent"
                    (keyup)="
                      setTotal(
                        data.currentTotalWaterWithdrawal,
                        diffrent,
                        'totalWaterChange'
                      )
                    "
                    (change)="
                      setTotal(
                        data.currentTotalWaterWithdrawal,
                        diffrent,
                        'totalWaterChange'
                      )
                    "
                  />
                  <b
                    *ngIf="selectedOperation == '-' || selectedOperation == '+'"
                  ></b>
                </div>
                <div class="result-box clearfix" *ngIf="selectedOperation">
                  <b translate>Result :</b>
                  <strong
                    >{{
                      data.totalWaterChangeValue
                        | number: environment.integerFormat
                    }}
                    {{ data.waterUnit }}</strong
                  >
                  <div
                    (click)="calculateDone(item)"
                    class="btn-circular bg-shamrock float-right"
                    style="color: #fff"
                    translate
                  >
                    SAVE
                  </div>
                </div>
              </div>
            </div>
            <div class="part border right" style="margin-right: 15px">
              <span
                [ngClass]="{
                  increase: data.totalWaterWithdrawalIncrease,
                  decrease: data.totalWaterWithdrawalDecrease
                }"
              >
                {{
                  data.targetTotalWaterWithdrawal
                    | number: environment.integerFormat
                }}
                {{ data.waterUnit }}
              </span>
            </div>
          </div>
        </section>
      </div>

      <div class="total">
        <div class="row">
          <div class="col-10">
            <div class="h-line">
              <span class="first">&nbsp;</span>
              <span translate>Change</span>
              <span translate>New value</span>
            </div>
            <div class="i-item">
              <span class="first" translate
                >% total water circularity
                <div class="info-tooltip-box">
                  <div class="info-tooltip shadow">
                    <div class="row">
                      <div class="col-1">
                        <em class="material-icons">info</em>
                      </div>
                      <div class="col-10">
                        <p translate>step5-water-tooltip-text</p>
                      </div>
                    </div>
                  </div>
                  <em class="main material-icons">error_outline</em>
                </div>
              </span>
              <span
                [ngClass]="{
                  increase: data.waterCircularityIncrease,
                  decrease: data.waterCircularityDecrease
                }"
                >{{
                  data.waterCircularityDelta
                    | number: environment.decimalFormat
                }}%</span
              >

              <span
                [ngClass]="{
                  increase: data.waterCircularityIncrease,
                  decrease: data.waterCircularityDecrease
                }"
                >{{
                  data.targetWaterCircularity
                    | number: environment.decimalFormat
                }}%</span
              >
            </div>
            <div class="i-item" *ngIf="onSiteWaterCirculation">
              <span class="first" translate>% onsite water circulation </span>
              <span
                [ngClass]="{
                  increase: data.onSiteCircularityIncrease,
                  decrease: data.onSiteCircularityDecrease
                }"
                >{{
                  data.onSiteCircularityDelta
                    | number: environment.decimalFormat
                }}x</span
              >
              <span
                [ngClass]="{
                  increase: data.onSiteCircularityIncrease,
                  decrease: data.onSiteCircularityDecrease
                }"
                >{{
                  data.targetOnSiteCircularity
                    | number: environment.decimalFormat
                }}x</span
              >
            </div>
          </div>
          <div class="col-2">
            <button
              class="btn-circular bg-shamrock big center float-right save"
              [ngClass]="{ active: onSiteWaterCirculation }"
              (click)="submit(true)"
              translate
            >
              SAVE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loader" *ngIf="!data"></div>
