@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.head-text {
  display: block;
  margin-bottom: 20px;
  strong {
    display: block;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  span {
    display: block;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
  }
}

.disclaimer {
  background: #fdf1d0;
  border-radius: 8px;
  padding: 16px 16px 10px;
  margin-bottom: 16px;
  display: flex;
  margin-top: 20px;
  strong {
    font-weight: bold;
  }
  p,
  strong {
    margin: 0 0 5px;
    font-size: 10px;
    line-height: 12px;
  }
  span {
    position: relative;
    top: 50%;
    font-size: 10px;
    margin-top: -20px;
    background: $white;
    float: right;
    cursor: pointer;
  }
}

.criteria-check {
  .check-item {
    &.match {
      background: #e6f8ec;
      span {
        font-weight: bold;
        color: #253e4e;
      }
    }
    input[type="checkbox"] {
      visibility: hidden;
      position: absolute;
    }

    label {
      position: relative;
      width: 100%;
      min-height: 26px;
      height: auto;
      content: "";
      clear: both;
      display: table;

      span {
        padding-top: 2px;
        display: flex;
        float: right;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #253e4e;
        padding-left: 25px;
        font-weight: normal;
      }
    }

    input[type="radio"] + label:before,
    input[type="checkbox"] + label:before {
      height: 16px;
      width: 16px;
      margin-right: 2px;
      content: " ";
      display: block;
      padding: 5px;
      border: solid 1px #7c8b95;
      position: absolute;
      left: 4px;
      top: 4px;
      -webkit-box-shadow: 0px 0px 0px 1px #7c8b95;
      box-shadow: 0px 0px 0px 1px #7c8b95;
    }

    input[type="radio"]:checked + label:before,
    input[type="checkbox"]:checked + label:before {
      background: #253e4e;
      border: solid 1px #253e4e;
      -webkit-box-shadow: 0px 0px 0px 1px #253e4e;
      box-shadow: 0px 0px 0px 1px #253e4e;
    }

    input[type="checkbox"] + label:before {
      border-radius: 2px;
    }
  }
}

b {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}
.more {
  position: relative;
  display: inline-block;
  height: 20px;
  top: -10px;
  margin-left: 4px;
  .box {
    left: -40px;
    top: 50px;
    span {
      padding: 0 !important;
      margin-bottom: 10px !important;
      color: $white !important;
    }
  }
}
