<div class="left-box item shadow clearfix" *ngIf="!whichIsShow && energyValue">
  <h3 translate>Energy</h3>
  <form class="clearfix" [formGroup]="energy" (ngSubmit)="onSubmit()">
    <div class="form-item clearfix">
      <label translate>Renewable Energy</label>
      <mat-form-field class="input-box short">
        <input matInput formControlName="renewableEnergyConsumption" />
      </mat-form-field>
      <div class="info combo">
        <mat-select
          (selectionChange)="unitChangeEvent($event.value)"
          formControlName="energyUnit"
        >
          <mat-option value="MJ">MJ</mat-option>
          <mat-option value="GJ">GJ</mat-option>
          <mat-option value="TJ">TJ</mat-option>
          <mat-option value="kWh">kWh</mat-option>
          <mat-option value="MWh">MWh</mat-option>
          <mat-option value="GWh">GWh</mat-option>
          <mat-option value="toe">toe</mat-option>
          <mat-option value="ktoe">ktoe</mat-option>
          <mat-option value="Mtoe">Mtoe</mat-option>
        </mat-select>
      </div>
    </div>
    <div class="form-item clearfix">
      <label translate>Total Energy</label>
      <mat-form-field class="input-box short">
        <input matInput formControlName="totalEnergyConsumption" />
      </mat-form-field>
      <div class="info combo">
        <mat-select
          formControlName="energyUnit"
          (selectionChange)="unitChangeEvent($event.value)"
        >
          <mat-option value="MJ">MJ</mat-option>
          <mat-option value="GJ">GJ</mat-option>
          <mat-option value="TJ">TJ</mat-option>
          <mat-option value="kWh">kWh</mat-option>
          <mat-option value="MWh">MWh</mat-option>
          <mat-option value="GWh">GWh</mat-option>
          <mat-option value="toe">toe</mat-option>
          <mat-option value="ktoe">ktoe</mat-option>
          <mat-option value="Mtoe">Mtoe</mat-option>
        </mat-select>
      </div>
    </div>
    <button class="btn-circular big bg-shamrock float-right" translate>
      SAVE
    </button>
  </form>
</div>
<div class="right-box shadow clearfix" *ngIf="whichIsShow && energyValue">
  <div class="percent clearfix">
    <span>{{ energyValue.renewablePercentage }}%</span>
    <h3 translate>RENEWABLE ENERGY</h3>
  </div>
  <button
    type="submit"
    class="btn-circular white-border mb-3"
    (click)="goToPatica(6, '29daaf921232055e2949db835c94d678')"
    translate
  >
    UPDATE
  </button>
</div>
