<app-product></app-product>
<div class="bom-overview clearfix" *ngIf="data">
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="row value">
        <span class="details ng-binding" translate
          >bom.total_components_product</span
        >
        <span class="count ng-binding">{{
          data?.totalNumberOfComponents
        }}</span>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="row value">
        <span class="details ng-binding" translate
          >bom.product_weight_in_kg</span
        >
        <span class="count ng-binding">{{ data?.totalWeight }}</span>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="row value">
        <span class="details ng-binding" translate
          >bom.product_weight_bill_of_materials</span
        >
        <span class="count ng-binding"> {{ data?.bomToProductWeight }}</span>
      </div>
    </div>
  </div>
</div>
<section class="claerfix" style="position: relative">
  <div class="nav-item" ngbDropdown placement="bottom-right">
    <a
      id="user-dropdown"
      (click)="openNav()"
      class="nav-link btn-circular ng-binding dropdown-toggle"
      ngbDropdownToggle
      translate
      >Add Component / Material<span class="caret"></span
    ></a>
    <div
      ngbDropdownMenu
      aria-labelledby="user-dropdown"
      class="navBox"
      *ngIf="isOpenNav"
    >
      <button class="dropdown-item" (click)="createBom()">
        <i class="material-icons"> add </i>Create a new component
      </button>
      <button class="dropdown-item" (click)="createBomOther()">
        <i class="material-icons">playlist_add</i>Add an existing component
      </button>
    </div>
  </div>

  <table
    mat-table
    [dataSource]="dataSource"
    (matSortChange)="sortEvent($event)"
    matSort
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef><span translate>Edit</span></th>

      <td mat-cell *matCellDef="let element">
        <button
          class="action btn btn-primary"
          matTooltip="Edit"
          *ngIf="!showEdit || element.id !== editId"
          (click)="editBom(element)"
        >
          <i class="edit material-icons">edit </i>
        </button>
        <button
          class="action btn btn-primary"
          *ngIf="showEdit && element.id === editId"
          (click)="saveBom(element)"
        >
          Save
        </button>
        <i *ngIf="element.bomType === 'Product'" class="fab">P</i>
        <i *ngIf="element.bomType === 'Material'" class="fab">M</i>
      </td>
    </ng-container>
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span translate>bom.name</span>
      </th>
      <td mat-cell *matCellDef="let element" class="edit">
        <input
          *ngIf="showEdit && element.id === editId"
          [(ngModel)]="element.productName"
        />
        <span *ngIf="!showEdit || element.id !== editId">{{
          element.productName
        }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="numberOfComponets">
      <th mat-header-cell *matHeaderCellDef>
        <span translate>bom.of_component</span>
      </th>
      <td mat-cell *matCellDef="let element" class="edit">
        <input
          *ngIf="
            showEdit && element.id === editId && element.bomType === 'Product'
          "
          [(ngModel)]="element.numberOfComponents"
        />
        <span *ngIf="!showEdit || element.id !== editId">{{
          element.numberOfComponents
        }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="percentageOfMaterial">
      <th mat-header-cell *matHeaderCellDef>
        <span translate>bom.of_material</span>
      </th>
      <td mat-cell *matCellDef="let element" class="edit">
        <input
          *ngIf="
            showEdit && element.id === editId && element.bomType === 'Material'
          "
          [(ngModel)]="element.percentageOfMaterial"
        />
        <span *ngIf="!showEdit || element.id !== editId">{{
          element.percentageOfMaterial
        }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="percentageOfWeight">
      <th mat-header-cell *matHeaderCellDef>
        <span translate>bom.of_total_weight</span>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.percentageOfWeight }}
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>
        <span translate>bom.status</span>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>
    <ng-container matColumnDef="transitionDate">
      <th mat-header-cell *matHeaderCellDef>
        <span translate>bom.last_status_update</span>
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.transitionDate | date: 'dd/MM/yyyy' }}
      </td>
    </ng-container>
    <ng-container matColumnDef="remove">
      <th mat-header-cell *matHeaderCellDef><span translate>Remove</span></th>
      <td mat-cell *matCellDef="let element">
        <button
          class="action btn btn-danger"
          matTooltip="Remove"
          (click)="deleteBom(element)"
        >
          <i class="material-icons">delete</i>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef>
        <span translate>Bom Detail</span>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          class="action btn btn-primary"
          matTooltip="Bom Detail"
          (click)="goToDetail(element.productId)"
        >
          <i class="material-icons">subdirectory_arrow_right</i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section>
