<div class="page-head" *ngIf="!importData">
  <div class="row">
    <div class="col-5">
      <span class="page-title" translate>Close the loop</span>
      <div class="performance-box" *ngIf="data">
        <span translate>% circularity</span>
        <div class="info-tooltip-box">
          <div class="info-tooltip shadow">
            <div class="row">
              <div class="col-1"><em class="material-icons">info</em></div>
              <div class="col-10">
                <p translate>circularityPerformanceTooltip</p>
              </div>
            </div>
          </div>
          <em class="main material-icons">error_outline</em>
        </div>
        <b>{{ data?.circularityPercentage }}%</b>
      </div>
    </div>
    <div class="col-7"><div class="info" translate>SankeyInfo</div></div>
  </div>
</div>
<div class="row big-box" *ngIf="data">
  <div class="col-4">
    <div class="col-12 bg shadow">
      <h6 class="text-align-right" style="padding-right: 0" translate>
        Inflow
      </h6>
      <strong class="text-align-right" translate>Circular inflow</strong>
      <div class="line-box">
        <div
          class="line top curve-left"
          [style.height.px]="data.inflowCircularPercentage * 2 + 30"
        >
          <span class="text-align-right fr"
            >{{
              data.inflowCircularPercentage | number: environment.integerFormat
            }}%
            <small *ngIf="data.inflowCircularWeight"
              >{{
                data.inflowCircularWeight | number: environment.decimalFormat
              }}
              Kg</small
            ></span
          >
        </div>
        <div
          class="line bottom"
          [style.height.px]="data.inflowLinearPercentage * 2 + 30"
        >
          <span class="text-align-right br"
            >{{
              data.inflowLinearPercentage | number: environment.integerFormat
            }}%
            <small *ngIf="data.inflowLinearWeight"
              >{{
                data.inflowLinearWeight | number: environment.decimalFormat
              }}
              Kg</small
            ></span
          >
        </div>
      </div>
      <strong class="text-align-right mt-2" translate>Linear inflow</strong>
    </div>
  </div>
  <div class="col-8">
    <div
      class="clearfix bg shadow"
      style="padding-left: 10px; padding-right: 10px"
    >
      <div class="row">
        <div class="col-6">
          <h6 translate>Breakdown of mass</h6>
          <div class="row">
            <div class="col-6">
              <strong class="pl-2" translate>Recovery potential </strong>
              <div class="row">
                <div class="line-box left">
                  <div
                    class="line top"
                    [style.height.px]="
                      data.displayPotentialRecoveryPercentage * 2 + 30
                    "
                  >
                    <span class="fl"
                      >{{
                        data.displayPotentialRecoveryPercentage
                          | number: environment.integerFormat
                      }}%
                      <small *ngIf="data.potentialRecoveryWeight"
                        >{{
                          data.potentialRecoveryWeight
                            | number: environment.decimalFormat
                        }}
                        Kg</small
                      ></span
                    >
                  </div>
                  <div
                    class="line bottom bl"
                    [style.height.px]="
                      data.displayNonPotentialRecoveryPercentage * 2 + 30
                    "
                  >
                    <span class="bl"
                      >{{
                        data.displayNonPotentialRecoveryPercentage
                          | number: environment.integerFormat
                      }}%
                      <small *ngIf="data.nonPotentialRecoveryWeight"
                        >{{
                          data.nonPotentialRecoveryWeight
                            | number: environment.decimalFormat
                        }}
                        Kg</small
                      ></span
                    >
                  </div>
                </div>
              </div>
              <strong class="pl-2 mt-2" translate>Linear outflow</strong>
            </div>
            <div class="col-6">
              <div class="row">
                <strong class="text-align-right" translate
                  >Actual recovery</strong
                >

                <div class="line-box center">
                  <div
                    class="line top"
                    [style.height.px]="
                      data.displayActualRecoveryPercentage * 2 + 30
                    "
                  >
                    <span class="text-align-right fr"
                      >{{
                        data.displayActualRecoveryPercentage
                          | number: environment.integerFormat
                      }}%
                      <small *ngIf="data.actualRecoveryWeight"
                        >{{
                          data.actualRecoveryWeight
                            | number: environment.decimalFormat
                        }}
                        Kg</small
                      ></span
                    >
                  </div>
                  <div
                    class="line center"
                    [style.height.px]="
                      data.displayNonActualRecoveryPercentage * 2 + 10
                    "
                  >
                    <span
                      class="text-align-right fr mt-1"
                      style="position: relative; z-index: 2; top: -10px"
                      ><label translate>lost potential</label>
                      {{
                        data.displayNonActualRecoveryPercentage
                          | number: environment.integerFormat
                      }}%
                      <small *ngIf="data.nonActualRecoveryWeight"
                        >{{
                          data.nonActualRecoveryWeight
                            | number: environment.decimalFormat
                        }}
                        Kg</small
                      ></span
                    >
                  </div>
                  <div
                    class="line bottom"
                    [style.height.px]="
                      data.displayNonPotentialRecoveryPercentage * 2 + 30
                    "
                  >
                    {{
                      data.displayNonPotentialPercentage
                        | number: environment.integerFormat
                    }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <h6 class="text-align-right" translate>Outflow</h6>
          <div class="row">
            <strong class="text-align-center" translate
              >Circular outflow</strong
            >
            <div class="line-box right">
              <div
                class="line top curve-right"
                [style.height.px]="data.outflowCircularPercentage * 2 + 30"
              >
                <span class="text-align-center"
                  >{{
                    data.outflowCircularPercentage
                      | number: environment.integerFormat
                  }}%
                  <small *ngIf="data.outflowCircularWeight"
                    >{{
                      data.outflowCircularWeight
                        | number: environment.decimalFormat
                    }}
                    Kg</small
                  ></span
                >
              </div>
              <div
                class="line bottom"
                [style.height.px]="data.outflowLinearPercentage * 2 + 30"
              >
                <span class="text-align-center bc"
                  >{{
                    data.outflowLinearPercentage
                      | number: environment.integerFormat
                  }}%
                  <small *ngIf="data.outflowLinearWeight"
                    >{{
                      data.outflowLinearWeight
                        | number: environment.decimalFormat
                    }}
                    Kg</small
                  ></span
                >
              </div>
            </div>
            <strong class="text-align-center mt-2" translate
              >Linear outflow</strong
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
