<div class="minor-part" *ngIf="data">
  <div class="row fix-height">
    <div class="col-6">
      <div
        class="info-item"
        *ngIf="
          !data.aggregate.indicators?.circularMaterialProductivity;
          else circularMaterialProductivity
        "
      >
        <div class="pasive clearfix">
          <span translate>Circular material productivity</span>
          <button translate>Indicator not selected</button>
        </div>
      </div>
      <ng-template #circularMaterialProductivity>
        <div class="active shadow">
          <div class="head productivity" translate>
            Circular material productivity
            <strong
              >{{ data.aggregate.productivity.currency
              }}{{
                data.aggregate.productivity.productivity
                  | number: environment.decimalFormat
              }}/kg</strong
            >
          </div>
          <div
            class="info"
            [ngClass]="{ border: !data.aggregate.productivity.missingData }"
          >
            <div class="row">
              <div class="col-11">
                <div class="line" translate>revenue <span>n</span></div>
                <hr />
                <div class="line" translate>
                  productivityFormule <span>n</span>
                </div>
              </div>
              <div class="col-1">
                <div class="line total">
                  {{ data.aggregate.productivity.currency }}/kg
                </div>
              </div>
            </div>
          </div>
          <app-missing-data
            *ngIf="data.aggregate.productivity.missingData"
            [data]="productivityAssessments"
          ></app-missing-data>
        </div>
      </ng-template>
    </div>
    <div class="col-6">
      <div
        class="info-item"
        *ngIf="!data.aggregate.indicators?.ctiRevenue; else ctiRevenue"
      >
        <div class="pasive clearfix">
          <span translate>CTI revenue</span>
          <button translate>Indicator not selected</button>
        </div>
      </div>
      <ng-template #ctiRevenue>
        <div class="active shadow">
          <div class="head revenue" translate>
            CTI revenue
            <strong
              >{{ data.aggregate.ctiRevenue.currency
              }}{{
                data.aggregate.ctiRevenue.ctirevenue
                  | number: environment.integerFormat
              }}</strong
            >
          </div>
          <div
            class="info"
            [ngClass]="{ border: !data.aggregate.ctiRevenue.missingData }"
          >
            <div class="line">
              <strong translate>CTI revenue</strong> =
              <label translate> revenueFormule</label>
            </div>
          </div>
          <app-missing-data
            *ngIf="data.aggregate.ctiRevenue.missingData"
            [data]="ctiRevenueAssessments"
          ></app-missing-data>
        </div>
      </ng-template>
    </div>
  </div>
</div>
