<div *ngIf="!data" class="lds-roller">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<div class="row">
  <div class="col-1">
    <app-admin-nav></app-admin-nav>
  </div>
  <div class="col-11">
    <div class="pro" *ngIf="data">
      <div class="head">
        <button class="btn-big" (click)="addBusinessLevel()">
          <em class="icon icon-add"></em> <b translate>ADD NEW PROJECT</b>
        </button>
        <h1 translate>Admin Dashboard</h1>
        <span translate
          >Use this dashboard to add new patica item and check on their
          progress.</span
        >
        <span translate>You can also delete patica item and edit.</span>
      </div>

      <div class="table-box" *ngFor="let project of ['CTI-EN', 'CTI-TR']">
        <div class="table-head-line">
          <em class="material-icons">dynamic_feed</em>
          <div class="name">
            <span>{{ project }} Project</span>
            <span><strong>project ID</strong> : dhe4-3es3-87fd-33hs</span>
          </div>
          <div class="btn-box">
            <button
              (click)="addAssessment(level)"
              class="btn-circular bg-real-grey float-right ml-2"
              translate
            >
              ADD NEW PATH
            </button>
          </div>
        </div>
        <!-- <div class="no-ass">
            <label translate>This project has no paths. Create a new path or </label> <b (click)="deleteLevel(level)" translate> delete this project.</b>
          </div> -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="line2" translate>Name</th>
              <th scope="col" class="line3" translate>path ID</th>
              <th scope="col" class="line4" translate>Edit</th>
              <th scope="col" class="line5" translate>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of [1, 2, 3, 4, 5, 6, 7]">
              <td class="line2">step {{ item }} patiica path</td>
              <td class="line3">
                <span>dhe4-3es3-87fd-33hs</span>
              </td>
              <td class="line4">
                <button class="btn-text">
                  <em class="material-icons"> edit </em> <b translate>Edit</b>
                </button>
              </td>
              <td class="line5">
                <button class="btn-text">
                  <em class="material-icons"> delete </em>
                  <b translate>Delete</b>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
