@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
.pro {
  padding: 20px;
  background: #1c195b;
  min-height: 100vh;
  .head {
    display: block;
    padding: 20px 0;
    h1 {
      display: table;
      padding: 0;
      line-height: 0;
      font-weight: 900;
      font-size: 32px;
      letter-spacing: -0.01em;
      color: #ffffff;
      margin-bottom: 20px;
    }
    span {
      display: table;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
    .btn-big {
      background: #ffffff;
      border-radius: 8px;
      font-weight: normal;
      font-size: 14px;
      line-height: 34px;
      display: inline;
      align-items: center;
      color: #1c195b;
      padding: 20px 30px;
      float: right;
      cursor: pointer;
      .icon-add {
        float: left;
        font-size: 30px;
        border: 2px solid #e8e8ef;
        color: #1c195b;
        margin-right: 10px;
        border-radius: 100%;
      }
    }
  }
  .table-box {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 40px;
    .no-ass {
      text-align: center;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #1c195b;
      padding: 20px;
      border-top: 1px solid #e3e5ec;
      b {
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .table-head-line {
      padding: 20px;
      em {
        color: #fff;
        background: #1c195b;
        padding: 5px;
        border-radius: 100%;
        font-size: 28px;
      }
      .name {
        display: inline-block;
        margin-left: 20px;
        span {
          display: block;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0.01em;
          color: #1c195b;
          strong {
            font-weight: bold;
            font-size: 14px;
          }
          &:last-child {
            color: #757575;
          }
        }
      }
      .btn-box {
        display: inline;
        float: right;
      }
    }
    .table thead {
      background: #f8f8fa;
      th {
        font-weight: bold;
        font-size: 10px;
        line-height: 12px;
        color: #1c195b;
        border-bottom: 0;
      }
    }
    tr {
      .line2 {
        width: 45%;
        padding-left: 30px;
      }
      .line3 {
        width: 25%;
      }
      .line4 {
        width: 15%;
      }
      .line5 {
        width: 15%;
      }
      &:hover {
        background: #f0f7fa;
      }
    }
    td {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      cursor: pointer;
      .btn-text {
        position: relative;
        top: -5px;
        b {
          font-size: 12px;
        }
        em {
          position: relative;
          top: 4px;
        }
      }
      span {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 10px;
        letter-spacing: 0.01em;
      }
    }
  }
}
