@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

.page-head {
  strong {
    font-style: normal;
    font-weight: bold;
    color: $dark-slate-blue;
  }
}

.item {
  background: $white;
  padding: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  height: 100%;
  position: relative;
  min-height: calc(100vh - 280px);

  h3 {
    display: block;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: $dark-slate-blue;
    padding: 0;
  }

  .item-list-contenet {
    margin-bottom: 1rem;
    max-height: calc(100vh - 490px);
    overflow-y: auto;

    &.head {
      margin: 1rem 0 0;
      overflow: hidden;
      border-radius: 0;
      border-radius: 0.5rem 0.5rem 0 0;
      background: #f8f8fa;
      .list-item {
        border-bottom: solid 1px #eaeaea;
        background: #f8f8fa;
        overflow: hidden;
        border-radius: 0.5rem 0.5rem 0 0;
        height: 3.6rem !important;
      }

      .part {
        line-height: 0 !important;
      }
    }

    .information {
      display: block;
      text-align: center;
      font-size: 0.81rem;
      font-weight: 500;
      background: #bfebcf;
      margin: -0.5rem 0 0.5rem;
      color: $dark-slate-blue;
    }

    .list-item {
      padding: 10px 1% 0 !important;
      min-height: 46px !important;
      cursor: pointer;
      border-bottom: solid 1px #eaeaea;
      display: flex;
      transition: all 0.3s ease;
      &:last-child {
        border-radius: 0.5rem;
        border-bottom: 0;
      }
      &:hover {
        .add {
          transition: all 0.3s ease;
          color: rgba(28, 25, 91, 1);
          background: #e3e5ec;
        }
      }

      &.active {
        background: #fafafa;
      }

      .info {
        width: 44%;
        overflow: hidden;
        height: 3.6rem;
        margin-left: 1%;

        .tradeName {
          display: table-cell;

          span {
            display: block;
            color: $dark-slate-blue;
            font-size: 0.81rem;
            margin: 16px 0 -8px;
            &.multi {
              margin: 8px 0 -8px;
            }
          }

          b {
            font-weight: bold;
            font-size: 8px;
            line-height: 8px;
            margin-right: 5px;

            &.critical {
              color: #ff386b;
            }

            &.focus {
              color: #0095c6;
            }
          }
        }

        strong {
          color: $dark-slate-blue;
          font-size: 1.25rem !important;
          font-weight: bold;
          height: 2.5rem;
          line-height: 2.5;
          vertical-align: middle;
        }
      }

      i {
        display: block;
        float: left;
        font-size: 1.5rem;
        margin-right: 1rem;
        position: relative;
        top: 0.6rem;
      }

      img {
        display: block;
        float: left;
        border-radius: 100%;
        border: solid 2px $dark-slate-blue;
        margin-right: 1rem;
        position: relative;
        top: 0.6rem;
      }

      .add {
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        color: rgba(28, 25, 91, 0.7);
        border: 1px solid #e3e5ec;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
      }

      .name {
        color: #1c195b;
        font-size: 0.76rem !important;
        font-weight: bold !important;
        height: auto;
        padding: 3px;
        line-height: 1.2;
        vertical-align: sub;
        padding: 0.5rem;
        position: relative;
        top: 3px;

        em {
          position: absolute !important;
          left: 0px;
          top: 8px !important;
        }
      }

      .sort {
        span {
          color: #1c195b;
          font-size: 0.75rem !important;
          font-weight: bold !important;
          height: auto;
          line-height: 1.2;
          vertical-align: sub;
          padding: 0.5rem;
          position: relative;
          top: 3px;
        }

        em {
          font-size: 12px;
          padding: 0;
          margin: 0;
          position: relative;
          top: 7px;
        }
      }

      .part {
        display: inline-block;
        color: #757575;
        font-size: 0.75rem;
        font-weight: normal;
        width: 25%;
        margin-left: 1%;
        text-align: center;
        position: relative;
        top: 3px;
        line-height: 40px;
        span {
          &.increase {
            color: #00b140 !important;
          }

          &.decrease {
            color: #ff386b !important;
          }
        }

        .calculate {
          position: absolute;
          top: 50px;
          right: 0;
          z-index: 2;
          padding: 2rem;
          background: $white;
        }

        &.percent {
          display: inline-block;
          text-align: right;
          font-size: 1.25rem;
          font-weight: bold;
          position: relative;
          top: 2px;
        }
      }
    }
  }

  &.detail {
    .item-list-contenet {
      overflow: hidden;
      display: initial;
      border-radius: 0 0 0.5rem 0.5rem;
    }

    .border {
      height: 3rem;
      top: -0.3rem !important;
      border: 0 !important;

      span {
        height: 3.5rem;
        display: table-cell !important;
        vertical-align: middle !important;
        font-size: 0.75rem !important;
        font-weight: normal;
        width: 14%;
        color: #757575;

        strong {
          position: relative;
          top: 1px;
        }

        b {
          display: block;
          font-size: 0.76rem !important;
          font-weight: bold !important;
        }
      }

      em {
        display: block;
        font-style: normal;
        font-weight: 600;
        font-size: 0.625rem !important;
        &.increase {
          color: #00b140;
        }

        &.decrease {
          color: #ff386b;
        }
      }
    }
  }
}

.calculate {
  background: $white;
  display: inline-block;
  padding: 1rem 0 0 !important;
  color: $dark-slate-blue;
  border-radius: 1rem;
  min-width: 300px;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 99999 !important;
  .btn-circular {
    padding: 0rem 0.6rem !important;
    font-size: 1rem !important;
    margin: 0 5px !important;
    min-width: 30px !important;
    color: rgba(28, 25, 91, 0.7);
    &.active {
      background: $real-grey !important;
    }
    &.selected {
      background: $dark-slate-blue !important;
      color: #fff;
    }
  }

  .actions {
    padding: 0 10px;
    margin-bottom: 1rem;
  }

  .calc {
    display: block;
    padding: 0 15px;
    font-size: 0.81rem;
    font-weight: 600;
    line-height: 2.4;
    text-align: left;

    .value {
      display: block;
      float: left;
      padding-top: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 20px;
      letter-spacing: 0.01em;
    }

    .btn-circular {
      display: block;
      float: left;
      top: 0;
      position: relative;
    }

    input {
      display: block;
      float: left;
      width: 120px;
      border: solid 2px #e8e8ef;
      color: $dark-slate-blue;
      margin-right: 5px;
      font-weight: 600;
      outline: none;
      border-radius: 8px;
      height: 2.5rem;
      margin-top: -5px;
    }

    b {
      font-size: 0.81rem;
      font-weight: 600;
    }
  }

  .result-box {
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background: $dark-slate-blue;
    color: $white;
    line-height: 2.5;
    border-radius: 1rem;

    b {
      display: block;
      float: left;
      font-size: 0.81rem;
      margin-right: 10px;
      line-height: 3;
    }

    strong {
      display: block;
      float: left;
      font-weight: 600;
      line-height: 2.4;
    }

    .btn-circular {
      font-size: 0.81rem !important;
      position: relative;
      top: 7px;
    }
  }
}

.guidance-btn {
  cursor: pointer;
  display: inline-block;
  color: $dark-slate-blue;
  font-size: 0.75rem !important;
  font-weight: bold !important;
  text-align: center;
  height: auto;
  padding: 3px;
  line-height: 1.2;
  vertical-align: sub;
  // border-bottom: solid 2px $cerulean;
  transition: all 0.3s ease;
  padding: 0.5rem;
  position: relative;
  top: 3px;

  // &:hover,
  // &.active {
  //   padding-right: 2rem;
  //   transition: all 0.3s ease;
  //   color: $white;
  //   border-radius: 2rem;
  //   background: url(~assets/img/question-w-2.png) right 5px no-repeat $cerulean;
  // }
}

.left {
  text-align: left !important;

  em {
    text-align: left !important;
  }
}
.right {
  text-align: right !important;

  em {
    text-align: right !important;
  }
}
.total {
  background: #f8f8fa;
  border-radius: 16px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem 1.5rem;

  .h-line {
    span {
      display: inline-flex;
      font-style: normal;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 1.25rem;
      text-align: right;
      color: #757575;
      width: 25%;

      &.first {
        width: 50%;
        text-align: left;
      }
    }
  }

  .i-item {
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 9px;
      width: 75%;
      height: 1px;
      background: rgba(28, 25, 91, 0.7);
      opacity: 0.06;
    }

    span {
      display: inline-flex;
      font-style: normal;
      font-weight: 600;
      font-size: 0.75rem;
      line-height: 1.25rem;
      text-align: right;
      color: #1c195b;
      width: 25%;

      &.first {
        width: 50%;
        text-align: left;
      }

      &.increase {
        color: #00b140;
      }

      &.decrease {
        color: #ff386b;
      }
    }
  }
}
