<section id="dialog-wrapper" class="custom-modal-box">
  <div class="form-box" *ngIf="data">
    <div class="page-head">
      <span class="page-title" translate>Onsite water circulation</span>
    </div>
    <form class="clearfix" [formGroup]="onsiteWater" (ngSubmit)="onSubmit()">
      <div class="item clearfix">
        <label translate>Water use</label>
        <input
          type="text"
          class="form-control"
          currencyMask
          [options]="{
            prefix: '',
            suffix: '',
            thousands: '.',
            allowNegative: false,
            decimal: ',',
            precision: 0,
            align: 'left'
          }"
          formControlName="totalWaterUse"
        />
        <div class="info combo">
          <mat-select
            (selectionChange)="unitChangeEvent($event.value)"
            formControlName="waterUnit"
          >
            <mat-option value="l">l</mat-option>
            <mat-option value="m3">m3</mat-option>
          </mat-select>
        </div>
      </div>
      <div class="item clearfix">
        <label translate>Total water withdrawal</label>
        <input
          type="text"
          class="form-control"
          currencyMask
          [options]="{
            prefix: '',
            suffix: '',
            thousands: '.',
            allowNegative: false,
            decimal: ',',
            precision: 0,
            align: 'left'
          }"
          formControlName="totalWaterWithdrawal"
        />
        <div class="info combo">
          <mat-select
            formControlName="waterUnit"
            (selectionChange)="unitChangeEvent($event.value)"
          >
            <mat-option value="l">l</mat-option>
            <mat-option value="m3">m3</mat-option>
          </mat-select>
        </div>
      </div>
      <small translate>totalWaterNote</small>
      <span class="back" (click)="cancel()" translate>BACK</span>
      <button class="save" translate>SAVE</button>
    </form>
  </div>
</section>
