<div class="fixed-steper"><app-stepper></app-stepper></div>
<div class="col-6 item clearfix shadow">
  <object
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/intro-step3.html"
    type="text/html"
  ></object>
  <div class="button-box">
    <a
      routerLink="/cti/guide/step2"
      class="btn btn-circular dark-slate-blue-border big"
      translate
      >BACK</a
    >
    <button
      (click)="nextStep()"
      class="btn btn-circular bg-shamrock float-right big"
      translate
    >
      SAVE
    </button>
  </div>
</div>
