<div class="page-head"></div>

<div class="page-body">
  <h2 translate>products.product.add.general_information</h2>
  <h6 translate>products.product.add.want_to_duplicate</h6>
  <div class="full-width clearfix">
    <label class="label" translate>products.product.add.full_name</label>
    <mat-form-field
      class="defult-form-element"
      [ngClass]="{ error: error === true }"
    >
      <input matInput [(ngModel)]="name" name="name" (change)="error = false" />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>products.product.add.display_name</label>
    <mat-form-field class="defult-form-element">
      <input matInput [(ngModel)]="tradeNumaber" name="tradeNumaber" required />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>ARE YOU THE PRODUCER?</label>
    <span
      class="input-btn"
      [ngClass]="areYouProducer == 'yes' ? 'focus' : ''"
      (click)="areYouProducer = 'yes'"
      translate
      >Yes</span
    >
    <span
      class="input-btn"
      [ngClass]="areYouProducer == 'no' ? 'focus' : ''"
      (click)="areYouProducer = 'no'"
      translate
      >No</span
    >
  </div>
  <div *ngIf="areYouProducer == 'yes'">
    <div class="full-width clearfix">
      <span
        class="input-btn"
        [ngClass]="infoType == 'continue' ? 'focus' : ''"
        (click)="infoType = 'continue'"
        translate
        >tasks.received.continue</span
      >
      <span
        class="input-btn"
        [ngClass]="infoType == 'csv' ? 'focus' : ''"
        (click)="infoType = 'csv'"
        translate
        >Import via CSV</span
      >
      <span
        class="input-btn noLineHeight"
        [ngClass]="infoType == 'template' ? 'focus' : ''"
        (click)="infoType = 'template'"
        (click)="productNameList()"
        translate
        >Use Existing Product as Template</span
      >
    </div>

    <div class="clearfix" *ngIf="infoType == 'continue'">
      <!--
        <form class="product-form clearfix" [formGroup]="ContinueForm" (ngSubmit)="onContinue()">
          <div class="full-width clearfix">
            <label>PRODUCT WEIGHT</label>
            <mat-form-field class="defult-form-element" [ngClass]="{ error: weight === '' }">
              <input
                matInput
                type="number"
                id="weight"
                formControlName="weight"
                [(ngModel)]="weight"
                name="weight"
                (change)="weight > 0 ? (weight = weight) : (weight = '')"
              />
              <span class="help-block"></span>
            </mat-form-field>
          </div>
          <div class="full-width clearfix">
            <label class="long">CAN THIS PRODUCT BE EASY DISASSEMBLED?</label>
            <span class="input-btn" [ngClass]="easy == true ? 'focus' : ''" (click)="easy = true">Yes</span>
            <span class="input-btn" [ngClass]="easy == false ? 'focus' : ''" (click)="easy = false">No</span>
          </div>
          <div class="full-width clearfix">
            <label>TYPE OF CONNECTONS?</label>
            <mat-form-field class="defult-form-element">
              <input matInput matInput id="connectons" formControlName="connectons" />
            </mat-form-field>
          </div>
          <div class="full-width clearfix">
            <label>ARE CONNECTON POINT ACCESSIBLE?</label>
            <span class="input-btn" [ngClass]="accessible == true ? 'focus' : ''" (click)="accessible = true">Yes</span>
            <span class="input-btn" [ngClass]="accessible == false ? 'focus' : ''" (click)="accessible = false">No</span>
          </div>

          <br />
          <button uib-dropdown-toggle="" type="submit" class="btn-circular ng-binding float-center">ADD PRODUCT</button>
        </form>
      -->
      <br />
      <button
        uib-dropdown-toggle=""
        (click)="onContinue()"
        class="btn-circular ng-binding float-center"
        translate
      >
        sitemap.main.title.product_add
      </button>
    </div>

    <div class="clearfix" *ngIf="infoType == 'csv'">
      <div class="full-width clearfix">
        <a href="javascript:void()" translate
          >Download template CSV file here</a
        >
        <div class="clearfix">
          <button
            md-raised-button
            class="btn-circular file-upload"
            (click)="fileInput.click()"
            translate
          >
            CHOOSE FILE
          </button>
          <input
            hidden
            type="file"
            #fileInput
            (change)="csvFileInput($event.target.files)"
          />
          <span class="file-uplaoad-name">{{ fileUploadName }}</span>
        </div>
      </div>
    </div>
    <div class="clearfix" *ngIf="infoType == 'template'">
      <div class="full-width clearfix">
        <label class="label" translate>PRODUCT TEMPLATE</label>
        <mat-form-field class="defult-form-element">
          <mat-select (selectionChange)="selectProductId($event.value)">
            <mat-option
              *ngFor="let product of productList?.results"
              [value]="product.id"
            >
              {{ product.tradeName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button
        uib-dropdown-toggle=""
        (click)="cloneProduct()"
        class="btn-circular ng-binding float-center"
        translate
      >
        sitemap.main.title.product_add
      </button>
    </div>
  </div>
  <div class="clearfix" *ngIf="areYouProducer == 'no'">
    <h2 translate>Invite Supplier</h2>

    <div class="full-width clearfix">
      <label class="label" translate>IS NEW USER?</label>
      <span
        class="input-btn"
        [ngClass]="isNewUser == true ? 'focus' : ''"
        (click)="isNewUser = true"
        translate
        >Yes</span
      >
      <span
        class="input-btn"
        [ngClass]="isNewUser == false ? 'focus' : ''"
        (click)="getSuppliersList()"
        (click)="isNewUser = false"
        translate
        >No</span
      >
    </div>

    <div
      class="full-width clearfix"
      *ngIf="suppliersList && isNewUser == false"
    >
      <label class="label" translate>SELECT ONE OF YOUR SUPPLIERS</label>
      <mat-form-field class="defult-form-element">
        <mat-select (selectionChange)="selectSuppliersId($event.value)">
          <mat-option
            *ngFor="let product of suppliersList"
            [value]="product.users[0].email"
          >
            {{ product.users[0].email }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="isNewUser == true">
      <div class="full-width clearfix">
        <label class="label" translate>NAME NEW SUPPLIER</label>
        <mat-form-field class="defult-form-element">
          <input matInput [(ngModel)]="supplierName" name="supplierName" />
        </mat-form-field>
      </div>
      <div class="full-width clearfix">
        <label class="label" translate>MIDDLE NAME NEW SUPPLIER</label>
        <mat-form-field class="defult-form-element">
          <input
            matInput
            [(ngModel)]="supplierMiddleName"
            name="supplierMiddleName"
          />
        </mat-form-field>
      </div>
      <div class="full-width clearfix">
        <label class="label" translate>LAST NAME NEW SUPPLIER</label>
        <mat-form-field class="defult-form-element">
          <input
            matInput
            [(ngModel)]="supplierLastName"
            name="supplierLastName"
          />
        </mat-form-field>
      </div>
      <div class="full-width clearfix">
        <label class="label" translate>ORGANISATION NAME NEW SUPPLIER</label>
        <mat-form-field class="defult-form-element">
          <input
            matInput
            [(ngModel)]="supplierOrganisationName"
            name="supplierOrganisationName"
          />
        </mat-form-field>
      </div>
      <div class="full-width clearfix">
        <label class="label" translate>EMAIL ADDRESS NEW SUPPLIER </label>
        <mat-form-field class="defult-form-element">
          <input
            matInput
            [(ngModel)]="supplierNewMail"
            name="supplierNewMail"
          />
        </mat-form-field>
      </div>
    </div>
    <div
      *ngIf="isNewUser == false || isNewUser == true"
      class="full-width clearfix"
    >
      <label class="label" translate>MESSAGE</label>
      <mat-form-field class="defult-form-element textarea">
        <textarea [(ngModel)]="message" name="message" matInput></textarea>
      </mat-form-field>
      <button
        class="btn-circular ng-binding float-center"
        (click)="inviteSupplier()"
        translate
      >
        Invite Supplier
      </button>
    </div>
  </div>
</div>
