@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";

div {
  display: flex;
  align-items: center;
  justify-content: space-between;

  dl {
    padding: 8px;
    border-radius: 8px;
    color: #a7a8c1;
    background: #e3e5ec;
    height: 56px;
    align-items: center;
    width: 19%;
    margin-right: 1%;
    overflow: hidden;

    &:nth-child(5) {
      margin-right: 0% !important;
    }

    &.active {
      color: #fff;

      &:nth-child(1) {
        background: #009b77;
      }

      &:nth-child(2) {
        background: #17b651;
      }

      &:nth-child(3) {
        background: #0d7b9f;
      }

      &:nth-child(4) {
        background: #4b497a;
        width: 20%;
      }

      &:nth-child(5) {
        background: #6d497a;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

        dt {
          width: 47%;
        }

        dd {
          span {
            right: -20px;
          }
        }
      }

      dd {
        span {
          display: none;
        }

        b {
          display: inline;
        }
      }
    }

    &.emty {
      dd {
        .add {
          display: inline;
        }

        b {
          display: none;
        }
      }
    }

    &.pasive {
      dd {
        span {
          display: none;
        }

        .select {
          display: inline;
        }

        b {
          display: none;
        }
      }
    }

    &.full {
      &:hover {
        dd {
          .update {
            display: inline;
          }

          b {
            display: none;
          }
        }
      }
    }

    dt {
      word-break: unset;
      display: inline-block;
      width: 57%;
      font-weight: 700;
      line-height: 20px;
      align-items: center;

      span {
        display: block;
        line-height: 20px;
        font-weight: 600;

        @media (max-width: 1600px) {
          font-size: 14px;
        }
      }
    }

    dd {
      display: inline-block;
      width: 43%;
      text-align: right;
      position: relative;
      top: -6px;

      b {
        font-weight: 500;
        line-height: 1;
        font-size: 28px;
        height: 35px;

        @media (max-width: 1600px) {
          font-size: 23px;
        }
      }

      span {
        font-size: 14px;
        font-weight: bold;
        padding: 8px 16px;
        border-radius: 16px;
        color: #1c195b;
        background: #fff;
        position: relative;
        top: 6px;
        cursor: pointer;

        &.select {
          background: #1c195b;
          color: #fff;
        }
      }
    }
  }
}
