<section id="dialog-wrapper">
  <em class="icon icon-close" (click)="onNoClick()"></em>
  <div class="page-head">
    <span class="page-title" translate>Add a new Patica item </span>
  </div>

  <form [formGroup]="businessForm" novalidate>
    <div class="form-item">
      <label class="d-block">
        <label><b translate>Name of the Patica item</b></label>
        <input
          type="text"
          class="form-control"
          placeholder="{{ 'Enter Patica item name' | translate }}"
          formControlName="name"
          autocomplete="name"
        />
        <span hidden translate>business level name</span>
        <small
          [hidden]="
            businessForm.controls.name.valid ||
            businessForm.controls.name.untouched
          "
          class="text-danger"
          translate
        >
          Patica item name is required
        </small>
      </label>
    </div>
    <angular-editor
      formControlName="rawContent"
      [config]="editorConfig"
    ></angular-editor>
  </form>

  <div style="text-align: right; padding: 10px 0">
    <div class="bottom-box">
      <button
        tabindex="1"
        style="text-transform: uppercase"
        class="btn-circular bg-shamrock"
        [disabled]="businessForm.invalid"
        (click)="onYesClick()"
        translate
      >
        Add Patica item
      </button>
    </div>
  </div>
</section>
