@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
#dialog-wrapper {
  position: relative;
}

.icon-close {
  position: absolute;
  right: 0;
  font-size: 36px;
  color: #1c195b;
  border: solid 2px #1c195b;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
}

.form-item {
  height: auto;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;

  &:hover {
    background: transparent;
  }

  label {
    width: 100%;
    font-size: 0.81rem;
    top: 0;
    height: auto;
    font-weight: bold;
    b {
      font-size: 0.81rem;
      top: 0;
      height: auto;
      font-weight: bold;
    }
  }
  .text-danger {
    background: #fff;
    width: 50%;
  }
}
