<div class="row" *ngIf="itemList">
  <div class="col-6" *ngIf="!isPatica">
    <div class="item shadow clearfix">
      <div class="page-head">
        <span class="page-title" translate>Outflow analysis</span>
      </div>
      <h3 translate>step5.outflowText</h3>

      <section class="item-list-contenet head">
        <div class="list-item">
          <div class="info box name" (click)="sortName()">
            <em class="fas fa-sort" *ngIf="sortNameDirection == null"></em>
            <em class="fas fa-sort-up" *ngIf="sortNameDirection == true"></em>
            <em
              class="fas fa-sort-down"
              *ngIf="sortNameDirection == false"
            ></em>
            <span style="top: -4px" translate> Name</span>
          </div>

          <div class="part sort narrow" (click)="sortMass()">
            <em class="fas fa-sort" *ngIf="sortWeightDirection == null"></em>
            <em class="fas fa-sort-up" *ngIf="sortWeightDirection == true"></em>
            <em
              class="fas fa-sort-down"
              *ngIf="sortWeightDirection == false"
            ></em>
            <span translate>Mass</span>
          </div>
          <div class="part sort" (click)="sortPotential()">
            <em class="fas fa-sort" *ngIf="sortPotentialDirection == null"></em>
            <em
              class="fas fa-sort-up"
              *ngIf="sortPotentialDirection == true"
            ></em>
            <em
              class="fas fa-sort-down"
              *ngIf="sortPotentialDirection == false"
            ></em>
            <span translate>Recovery potential</span>
          </div>
          <div class="part sort" (click)="sortActual()">
            <em class="fas fa-sort" *ngIf="sortActualDirection == null"></em>
            <em class="fas fa-sort-up" *ngIf="sortActualDirection == true"></em>
            <em
              class="fas fa-sort-down"
              *ngIf="sortActualDirection == false"
            ></em>
            <span translate>Actual recovery</span>
          </div>
          <div
            class="part sort narrow right"
            style="width: 16%"
            (click)="sortOutflow()"
          >
            <em class="fas fa-sort" *ngIf="sortOutflowDirection == null"></em>
            <em
              class="fas fa-sort-up"
              *ngIf="sortOutflowDirection == true"
            ></em>
            <em
              class="fas fa-sort-down"
              *ngIf="sortOutflowDirection == false"
            ></em>
            <span translate>Mass* circular outflow</span>
          </div>
        </div>
      </section>

      <section
        class="item-list-contenet"
        style="border-radius: 0 0 0.5rem 0.5rem"
      >
        <ng-container *ngFor="let item of itemList">
          <div class="list-item claerfix" *ngIf="!item.selected">
            <div class="info box" (click)="addItem(item)">
              <i class="material-icons add" *ngIf="!item.selected"> add </i>
              <div class="tradeName">
                <span [ngClass]="{ multi: item.critical || item.priority }">{{
                  item.tradeName
                }}</span>
                <b class="critical" *ngIf="item.critical" translate>CRITICAL</b
                ><b class="focus" *ngIf="item.priority" translate>FOCUS FLOW</b>
              </div>
            </div>
            <div class="part narrow">
              {{ item.weight | number: environment.decimalFormat }} Kg
            </div>
            <div class="part">
              {{ item.potentialRecovery | number: environment.integerFormat }}%
            </div>
            <div class="part">
              {{ item.actualRecovery | number: environment.integerFormat }}%
            </div>
            <div class="part narrow right">
              {{ item.wip | number: environment.decimalFormat }}
            </div>
          </div>
        </ng-container>
      </section>
    </div>
  </div>

  <div class="col-6" *ngIf="selectedArray">
    <div
      class="item detail shadow clearfix"
      style="padding-bottom: 160px"
      *ngIf="selectedArray.length > 0"
    >
      <div class="page-head" style="height: 6rem">
        <h3 translate>step5-outflow-spot</h3>
        <strong translate>Selected outflows</strong>
      </div>

      <div class="shadow clearfix" style="border-radius: 0.5rem">
        <section class="item-list-contenet head">
          <div class="list-item">
            <div class="info box name" translate>Name</div>
            <div class="part left">
              <span class="guidance-btn" translate>Mass</span>
            </div>
            <div class="part">
              <span class="guidance-btn" translate> Recovery Potential</span>
            </div>
            <div class="part">
              <span class="guidance-btn" translate>Actual Recovery</span>
            </div>
            <div class="part narrow right">
              <span class="guidance-btn" translate>Result</span>
            </div>
          </div>
        </section>
        <section class="item-list-contenet">
          <div class="list-item claerfix" *ngFor="let item of selectedArray">
            <div class="info box">
              <i class="material-icons add" (click)="removeItem(item)">
                remove
              </i>
              <div class="tradeName">
                <span [ngClass]="{ multi: item.critical || item.priority }">
                  {{ item.name ? item.name : item.tradeName }}</span
                >
                <b class="critical" *ngIf="item.critical" translate>CRITICAL</b
                ><b class="focus" *ngIf="item.priority" translate>FOCUS FLOW</b>
              </div>
            </div>

            <div class="part border narrow left">
              <span (click)="openCalculete(item, 'weight')">
                <em
                  [ngClass]="{
                    increase: item.weightIncrease,
                    decrease: item.weightDecrease
                  }"
                >
                  <ng-container *ngIf="item.weightIncrease">+</ng-container
                  >{{
                    item.weightDiff | number: environment.decimalFormat
                  }}
                  kg</em
                >{{
                  item.targetWeight | number: environment.decimalFormat
                }}
                Kg</span
              >
              <div *ngIf="item.weightChange" class="calculate shadow clearfix">
                <div class="actions clearfix">
                  <b
                    (click)="setOperation('-', item, diffrent, 'weight')"
                    [ngClass]="{ active: selectedOperation == '-' }"
                    class="btn-circular float-left real-grey-border"
                    >-</b
                  >
                  <b
                    (click)="setOperation('+', item, diffrent, 'weight')"
                    [ngClass]="{ active: selectedOperation == '+' }"
                    class="btn-circular float-left real-grey-border"
                    >+</b
                  >

                  <b
                    (click)="setOperation('+%', item, diffrent, 'weight')"
                    [ngClass]="{ active: selectedOperation == '+%' }"
                    class="btn-circular float-right real-grey-border"
                    >+%</b
                  >
                  <b
                    (click)="setOperation('-%', item, diffrent, 'weight')"
                    [ngClass]="{ active: selectedOperation == '-%' }"
                    class="btn-circular float-right real-grey-border"
                    >-%</b
                  >
                </div>
                <div class="calc clearfix" *ngIf="selectedOperation">
                  <div class="value">
                    {{ item.targetWeight | number: environment.decimalFormat }}
                    kg
                  </div>
                  <b class="btn-circular selected real-grey-border">{{
                    selectedOperation
                  }}</b>
                  <input
                    type="text"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: '',
                      thousands: '.',
                      allowNegative: false,
                      decimal: ',',
                      precision: 2,
                      align: 'left'
                    }"
                    max="item.weight"
                    placeholder="{{ 'Enter value' | translate }}"
                    [(ngModel)]="diffrent"
                    (keyup)="setValue(item, diffrent, 'weight')"
                    (change)="setValue(item, diffrent, 'weight')"
                  />
                  <b
                    *ngIf="selectedOperation == '-' || selectedOperation == '+'"
                    >kg</b
                  >
                </div>
                <div class="result-box clearfix" *ngIf="selectedOperation">
                  <b translate>Result :</b>
                  <strong
                    >{{
                      item.weightChangeValue | number: environment.decimalFormat
                    }}
                    kg</strong
                  >
                  <div
                    (click)="calculateDone(item)"
                    class="btn-circular bg-shamrock float-right"
                    style="color: #fff"
                    translate
                  >
                    DONE
                  </div>
                </div>
              </div>
            </div>

            <div class="part border">
              <span (click)="openCalculete(item, 'potentialRecovery')">
                <em
                  [ngClass]="{
                    increase: item.potentialRecoveryIncrease,
                    decrease: item.potentialRecoveryDecrease
                  }"
                  ><ng-container *ngIf="item.potentialRecoveryIncrease"
                    >+</ng-container
                  >{{
                    item.potentialRecoveryDiff
                      | number: environment.integerFormat
                  }}
                  %</em
                >{{
                  item.targetPotentialRecovery
                    | number: environment.integerFormat
                }}
                %</span
              >

              <div
                *ngIf="item.potentialRecoveryChange"
                class="calculate shadow"
              >
                <div class="actions clearfix">
                  <b
                    (click)="
                      setOperation('-', item, diffrent, 'potentialRecovery')
                    "
                    [ngClass]="{ active: selectedOperation == '-' }"
                    class="btn-circular float-left real-grey-border"
                    >-</b
                  >
                  <b
                    (click)="
                      setOperation('+', item, diffrent, 'potentialRecovery')
                    "
                    [ngClass]="{ active: selectedOperation == '+' }"
                    class="btn-circular float-left real-grey-border"
                    >+</b
                  >
                </div>
                <div class="calc clearfix" *ngIf="selectedOperation">
                  <div class="value">
                    {{
                      item.targetPotentialRecovery
                        | number: environment.integerFormat
                    }}
                    %
                  </div>
                  <b class="btn-circular selected real-grey-border">{{
                    selectedOperation
                  }}</b>
                  <input
                    type="text"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: '',
                      thousands: '.',
                      allowNegative: false,
                      decimal: ',',
                      precision: 0,
                      align: 'left'
                    }"
                    max="item.potentialRecovery"
                    placeholder="{{ 'Enter value' | translate }}"
                    [(ngModel)]="diffrent"
                    (keyup)="setValue(item, diffrent, 'potentialRecovery')"
                    (change)="setValue(item, diffrent, 'potentialRecovery')"
                  />
                </div>
                <div class="result-box clearfix" *ngIf="selectedOperation">
                  <b translate>Result :</b>
                  <strong
                    >{{
                      item.potentialRecoveryChangeValue
                        | number: environment.integerFormat
                    }}%</strong
                  >
                  <div
                    (click)="calculateDone(item)"
                    class="btn-circular bg-shamrock float-right"
                    style="color: #fff"
                    translate
                  >
                    DONE
                  </div>
                </div>
              </div>
            </div>

            <div class="part border">
              <span (click)="openCalculete(item, 'actualRecovery')">
                <em
                  [ngClass]="{
                    increase: item.actualRecoveryIncrease,
                    decrease: item.actualRecoveryDecrease
                  }"
                  ><ng-container *ngIf="item.actualRecoveryIncrease"
                    >+</ng-container
                  >{{
                    item.actualRecoveryDiff | number: environment.integerFormat
                  }}
                  %</em
                >{{
                  item.targetActualRecovery | number: environment.integerFormat
                }}
                %</span
              >
              <div *ngIf="item.actualRecoveryChange" class="calculate shadow">
                <div class="actions clearfix">
                  <b
                    (click)="
                      setOperation('-', item, diffrent, 'actualRecovery')
                    "
                    [ngClass]="{ active: selectedOperation == '-' }"
                    class="btn-circular float-left real-grey-border"
                    >-</b
                  >
                  <b
                    (click)="
                      setOperation('+', item, diffrent, 'actualRecovery')
                    "
                    [ngClass]="{ active: selectedOperation == '+' }"
                    class="btn-circular float-left real-grey-border"
                    >+</b
                  >
                </div>
                <div class="calc clearfix" *ngIf="selectedOperation">
                  <div class="value">
                    {{
                      item.targetActualRecovery
                        | number: environment.integerFormat
                    }}
                    %
                  </div>
                  <b class="btn-circular selected real-grey-border">{{
                    selectedOperation
                  }}</b>
                  <input
                    type="text"
                    currencyMask
                    [options]="{
                      prefix: '',
                      suffix: '',
                      thousands: '.',
                      allowNegative: false,
                      decimal: ',',
                      precision: 0,
                      align: 'left'
                    }"
                    max="item.actualRecovery"
                    placeholder="{{ 'Enter value' | translate }}"
                    [(ngModel)]="diffrent"
                    (keyup)="setValue(item, diffrent, 'actualRecovery')"
                    (change)="setValue(item, diffrent, 'actualRecovery')"
                  />
                </div>
                <div class="result-box clearfix" *ngIf="selectedOperation">
                  <b translate>Result :</b>
                  <strong
                    >{{
                      item.actualRecoveryChangeValue
                        | number: environment.integerFormat
                    }}%</strong
                  >
                  <div
                    (click)="calculateDone(item)"
                    class="btn-circular bg-shamrock float-right"
                    style="color: #fff"
                    translate
                  >
                    DONE
                  </div>
                </div>
              </div>
            </div>

            <div class="part border narrow right">
              <span
                [ngClass]="{
                  increase: item.resultIncrease,
                  decrease: item.resultDecrease
                }"
              >
                <ng-container *ngIf="item.resultIncrease">+</ng-container
                >{{ item.result | number: environment.decimalFormat }}%
              </span>
            </div>
          </div>
        </section>
      </div>
      <div class="total">
        <div class="row">
          <div class="col-10">
            <div class="h-line">
              <span class="first">&nbsp;</span>
              <span translate>Change</span>
              <span translate>New value</span>
            </div>
            <div class="i-item">
              <span class="first" translate
                >% circular outflow
                <div class="info-tooltip-box">
                  <div class="info-tooltip shadow">
                    <div class="row">
                      <div class="col-1">
                        <em class="material-icons">info</em>
                      </div>
                      <div class="col-10">
                        <p translate>
                          This is the circular improvement potential for the
                          selected outflows. It is the result of the changes
                          applied to the calculations above.
                        </p>
                      </div>
                    </div>
                  </div>
                  <em class="main material-icons">error_outline</em>
                </div>
              </span>
              <span
                [ngClass]="{
                  increase: rightItems.totalChangeIncrease,
                  decrease: rightItems.totalChangeDecrease
                }"
                >{{
                  rightItems.totalChange | number: environment.integerFormat
                }}%</span
              >
              <span
                [ngClass]="{
                  increase: rightItems.totalChangeIncrease,
                  decrease: rightItems.totalChangeDecrease
                }"
                >{{
                  rightItems.targetCircularity
                    | number: environment.integerFormat
                }}%</span
              >
            </div>

            <div class="i-item">
              <span class="first" translate>CTI revenue </span>
              <span
                [ngClass]="{
                  increase: rightItems.revenueIncrease,
                  decrease: rightItems.revenuePercentageDecrease
                }"
                >{{
                  rightItems.revenueDiff | number: environment.integerFormat
                }}%</span
              >
              <span
                [ngClass]="{
                  increase: rightItems.revenueIncrease,
                  decrease: rightItems.revenuePercentageDecrease
                }"
                >{{
                  rightItems.targetRevenue | number: environment.integerFormat
                }}%</span
              >
            </div>
          </div>
          <div class="col-2">
            <button
              class="btn-circular bg-shamrock big center float-right"
              style="margin-top: 10px"
              (click)="submit(true)"
              translate
            >
              SAVE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loader" *ngIf="!itemList"></div>
</div>
