.box {
  margin-bottom: 2rem;
}
h1 {
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  color: #253e4e;
}

.material-icons {
  margin-left: 1rem;
  float: right;
  position: relative;
  top: 5px;
  right: 0;
  cursor: pointer;
}
