<div class="minor-part" *ngIf="res">
  <mat-tab-group>
    <mat-tab label="{{ CIRCULARMATERIALPRODUCTIVITY | translate }}">
      <div class="content">
        <div class="chart-box" matSort (matSortChange)="sortData($event)">
          <div class="head">
            <div class="row">
              <div class="col-2">
                <div
                  class="sort"
                  (click)="seletedProductivityFilter = 'businessLevelName'"
                  [ngClass]="{
                    active: seletedProductivityFilter === 'businessLevelName'
                  }"
                  mat-sort-header="namesort"
                >
                  <label translate>Assessment</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedProductivityFilter = 'startDate'"
                  [ngClass]="{
                    active: seletedProductivityFilter === 'startDate'
                  }"
                  mat-sort-header="startDate"
                >
                  <label translate>Time frame</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedProductivityFilter = 'Revenue'"
                  [ngClass]="{
                    active: seletedProductivityFilter === 'Revenue'
                  }"
                  mat-sort-header="revenue"
                >
                  <label translate>Revenue</label>
                </div>
              </div>
              <div class="col-8">
                <div
                  class="none"
                  (click)="seletedProductivityFilter = 'mass'"
                  mat-sort-header="totalRecoveryMass"
                  [ngClass]="{ active: seletedProductivityFilter === 'mass' }"
                >
                  <label translate>Total mass of linear inflow</label>
                </div>
                <div
                  class="none"
                  (click)="seletedProductivityFilter = 'productivity'"
                  mat-sort-header="productivity"
                  [ngClass]="{
                    active: seletedProductivityFilter === 'productivity'
                  }"
                >
                  <label translate>Circular material productivity</label>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="line" *ngFor="let ass of res">
              <div class="row">
                <div class="col-2">
                  <div class="name">
                    <span>{{ ass.businessLevelName }}</span>
                    <strong>{{ ass.assessmentName }}</strong>
                  </div>
                </div>
                <div class="col-1">
                  <span class="pt ti-10">{{
                    ass.startDate | date: 'dd/MM/yyyy'
                  }}</span>
                  <span class="ti-10">{{
                    ass.endDate | date: 'dd/MM/yyyy'
                  }}</span>
                </div>
                <div class="col-1">
                  <span
                    class="mass"
                    *ngIf="
                      ass.productivityIndicator && !ass.productivityMissingData
                    "
                    ><ng-container *ngIf="ass.revenue"
                      >{{ ass.revenueUnit
                      }}{{
                        ass.revenue | number: environment.integerFormat
                      }}</ng-container
                    ></span
                  >
                  <span
                    class="mass"
                    *ngIf="!ass.productivityIndicator"
                    translate
                    >Indicator not selected</span
                  >
                  <span
                    class="mass"
                    *ngIf="
                      ass.productivityIndicator && ass.productivityMissingData
                    "
                    translate
                    >Insufficent data</span
                  >
                </div>
                <div
                  class="col-8"
                  *ngIf="
                    ass.productivityIndicator && !ass.productivityMissingData
                  "
                >
                  <span class="volume" style="text-indent: 10px; width: 180px"
                    >{{
                      ass.linearInflowMass | number: environment.decimalFormat
                    }}kg</span
                  >
                  <span class="volume"
                    >{{ ass.revenueUnit
                    }}{{
                      ass.productivity | number: environment.decimalFormat
                    }}/kg</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ CTIREVENUE | translate }}">
      <div class="content">
        <div class="chart-box" matSort (matSortChange)="sortData($event)">
          <div class="head">
            <div class="row">
              <div class="col-2">
                <div
                  class="sort"
                  (click)="seletedRevenueFilter = 'businessLevelName'"
                  [ngClass]="{
                    active: seletedRevenueFilter === 'businessLevelName'
                  }"
                  mat-sort-header="namesort"
                >
                  <label translate>Assessment</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedRevenueFilter = 'startDate'"
                  [ngClass]="{ active: seletedRevenueFilter === 'startDate' }"
                  mat-sort-header="startDate"
                >
                  <label translate>Time frame</label>
                </div>
              </div>
              <div class="col-8">
                <div
                  class="none long"
                  (click)="seletedRevenueFilter = 'circularity'"
                  mat-sort-header="circularity"
                  [ngClass]="{ active: seletedRevenueFilter === 'circularity' }"
                >
                  <label translate>% circularity</label>
                </div>
                <div
                  class="none long"
                  style="width: 145px"
                  (click)="seletedRevenueFilter = 'revenue'"
                  mat-sort-header="revenue"
                  [ngClass]="{ active: seletedRevenueFilter === 'revenue' }"
                >
                  <label translate>Revenue</label>
                </div>
                <div
                  class="none long"
                  (click)="seletedRevenueFilter = 'CTIrevenue'"
                  mat-sort-header="ctiRevenue"
                  [ngClass]="{ active: seletedRevenueFilter === 'CTIrevenue' }"
                >
                  <label translate>CTI revenue</label>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="line" *ngFor="let ass of res">
              <div class="row">
                <div class="col-2">
                  <div class="name">
                    <span>{{ ass.businessLevelName }}</span>
                    <strong>{{ ass.assessmentName }}</strong>
                  </div>
                </div>
                <div class="col-1">
                  <span class="pt ti-10">{{
                    ass.startDate | date: 'dd/MM/yyyy'
                  }}</span>
                  <span class="ti-10">{{
                    ass.endDate | date: 'dd/MM/yyyy'
                  }}</span>
                </div>
                <div class="col-8">
                  <span
                    class="volume"
                    *ngIf="!ass.ctiRevenueIndicator"
                    translate
                    >Indicator not selected</span
                  >
                  <span
                    class="volume"
                    *ngIf="ass.ctiRevenueIndicator && ass.revenueMissingData"
                    translate
                    >Insufficent data</span
                  >
                  <ng-container
                    *ngIf="ass.ctiRevenueIndicator && !ass.revenueMissingData"
                  >
                    <span class="volume"
                      >{{
                        ass.circularity | number: environment.decimalFormat
                      }}%</span
                    >
                    <span class="volume"
                      >{{ ass.revenueUnit
                      }}{{
                        ass.revenue | number: environment.integerFormat
                      }}</span
                    >
                    <span class="volume"
                      >{{ ass.revenueUnit
                      }}{{
                        ass.ctiRevenue | number: environment.decimalFormat
                      }}</span
                    >
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
