<div class="item shadow clearfix" [ngClass]="{ 'col-6': isPatica }">
  <div class="page-head">
    <span class="page-title" translate>S.M.A.R.T Targets</span>
    <!-- <div class="btn-circular grey-border guidance-button  float-right" [ngClass]="{ active: isPatica }"
      (click)="openPatica(!isPatica)" translate>
      Step 7 Guidance
    </div> -->
  </div>
  <h6 translate>
    Formulate the targets <br /><br />
    <span
      class="btn-circular dark-slate-blue-border float-right add"
      (click)="addNewTarget()"
      translate
      >Add New Target</span
    >
  </h6>
  <br />
  <br />
  <div>
    <form [formGroup]="smartTagetForm" (ngSubmit)="onSubmit()">
      <ng-container formArrayName="targets">
        <div
          class="input-area item shadow filled"
          *ngFor="
            let comp of smartTagetForm.get('targets')['controls'];
            let i = index
          "
        >
          <fieldset>
            <div [formGroupName]="i">
              <mat-form-field class="input-box">
                <i>Target {{ i + 1 }}</i>
                <textarea
                  matInput
                  type="text"
                  style="padding-left: 6rem"
                  formControlName="text"
                >
                </textarea>
                <span
                  *ngIf="i > 0"
                  class="btn-circular dark-slate-blue-border float-right"
                  (click)="deleteTarget(i)"
                  translate
                  >Remove Target</span
                >
              </mat-form-field>

              <div class="pl-5 mt-4">
                <h3 translate>Define what needs to happen</h3>
                <ng-container formArrayName="what">
                  <mat-form-field
                    class="input-box"
                    *ngFor="
                      let what of comp.get('what').controls;
                      let j = index
                    "
                  >
                    <em>{{ alphabet[j] }}</em>
                    <ng-container [formGroupName]="j">
                      <textarea matInput type="text" formControlName="whatItem">
                      </textarea>
                    </ng-container>
                    <span
                      *ngIf="j > 0"
                      class="material-icons delete"
                      (click)="deleteWhat(comp.controls.what, j)"
                      >delete_outline</span
                    >
                  </mat-form-field>
                  <span
                    class="btn-circular dark-slate-blue-border float-right add"
                    (click)="addNewWhat(comp.controls.what)"
                    translate
                  >
                    <b>{{ comp.get('what').controls.length }}</b> ADD</span
                  >
                </ng-container>
                <h3 class="mt-4" translate>
                  Define when it needs to be happen
                </h3>
                <ng-container formArrayName="when">
                  <mat-form-field
                    class="input-box"
                    *ngFor="
                      let when of comp.get('when').controls;
                      let k = index
                    "
                  >
                    <em>{{ alphabet[k] }}</em>
                    <ng-container [formGroupName]="k">
                      <textarea matInput type="text" formControlName="whenItem">
                      </textarea>
                    </ng-container>
                    <span
                      class="material-icons delete"
                      *ngIf="k > 0"
                      (click)="deleteWhen(comp.controls.when, k)"
                    >
                      delete_outline</span
                    >
                  </mat-form-field>
                  <span
                    class="btn-circular dark-slate-blue-border float-right add"
                    (click)="addNewWhen(comp.controls.when)"
                    translate
                    ><b>{{ comp.get('when').controls.length }}</b
                    >ADD</span
                  >
                </ng-container>

                <h3 class="mt-4" translate>Define who needs to take action</h3>
                <ng-container formArrayName="who">
                  <mat-form-field
                    class="input-box"
                    *ngFor="let who of comp.get('who').controls; let l = index"
                  >
                    <em>{{ alphabet[l] }}</em>
                    <ng-container [formGroupName]="l">
                      <textarea matInput type="text" formControlName="whoItem">
                      </textarea>
                    </ng-container>
                    <span
                      class="material-icons delete"
                      *ngIf="l > 0"
                      (click)="deleteWho(comp.controls.who, l)"
                      >delete_outline</span
                    >
                  </mat-form-field>
                  <span
                    class="btn-circular dark-slate-blue-border float-right add"
                    (click)="addNewWho(comp.controls.who)"
                    translate
                    ><b>{{ comp.get('who').controls.length }}</b
                    >ADD</span
                  >
                </ng-container>
                <div class="clear clearfix"></div>
                <hr />
                <div class="row foot-question">
                  <div
                    class="col-4"
                    [ngClass]="{ 'col-12': isPatica }"
                    formArrayName="departments"
                  >
                    <div class="item shadow clearfix">
                      <h3 translate>Departments to involve</h3>
                      <mat-form-field
                        class="input-box"
                        *ngFor="
                          let department of comp.get('departments').controls;
                          let m = index
                        "
                      >
                        <ng-container [formGroupName]="m">
                          <input
                            matInput
                            type="text"
                            formControlName="departmentItem"
                          />
                        </ng-container>
                        <span
                          class="material-icons delete"
                          *ngIf="m > 0"
                          (click)="
                            deleteDepartment(comp.controls.departments, m)
                          "
                          >delete_outline</span
                        >
                      </mat-form-field>
                      <span
                        class="btn-circular dark-slate-blue-border float-right add"
                        (click)="addNewDepartment(comp.controls.departments)"
                        translate
                        ><b>{{ comp.get('departments').controls.length }}</b
                        >ADD</span
                      >
                    </div>
                  </div>
                  <div
                    class="col-4"
                    [ngClass]="{ 'col-12': isPatica }"
                    formArrayName="others"
                  >
                    <div class="item shadow clearfix">
                      <h3 translate>Other parties to consider</h3>
                      <mat-form-field
                        class="input-box"
                        *ngFor="
                          let other of comp.get('others').controls;
                          let n = index
                        "
                      >
                        <ng-container [formGroupName]="n">
                          <input
                            matInput
                            type="text"
                            formControlName="otherItem"
                          />
                        </ng-container>
                        <span
                          class="material-icons delete"
                          *ngIf="n > 0"
                          (click)="deleteOther(comp.controls.others, n)"
                          >delete_outline</span
                        >
                      </mat-form-field>
                      <span
                        class="btn-circular dark-slate-blue-border float-right add"
                        (click)="addNewOther(comp.controls.others)"
                        translate
                        ><b>{{ comp.get('others').controls.length }}</b
                        >ADD</span
                      >
                    </div>
                  </div>
                  <div
                    class="col-4"
                    [ngClass]="{ 'col-12': isPatica }"
                    formArrayName="considerations"
                  >
                    <div class="item shadow clearfix">
                      <h3 translate>Considerations when executing</h3>
                      <mat-form-field
                        class="input-box"
                        *ngFor="
                          let consideration of comp.get('considerations')
                            .controls;
                          let o = index
                        "
                      >
                        <ng-container [formGroupName]="o">
                          <input
                            matInput
                            type="text"
                            formControlName="considerationItem"
                          />
                        </ng-container>
                        <span
                          class="material-icons delete"
                          *ngIf="o > 0"
                          (click)="
                            deleteConsideration(comp.controls.considerations, o)
                          "
                          >delete_outline</span
                        >
                      </mat-form-field>
                      <span
                        class="btn-circular dark-slate-blue-border float-right add"
                        (click)="
                          addNewConsideration(comp.controls.considerations)
                        "
                        translate
                        ><b>{{ comp.get('considerations').controls.length }}</b
                        >ADD</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </ng-container>

      <button
        type="submit"
        class="btn-circular bg-shamrock big center"
        translate
      >
        SAVE & COMPLETE STEP 7
      </button>
    </form>
  </div>
</div>
