<div class="minor-part" *ngIf="res">
  <mat-tab-group>
    <mat-tab label="{{ CRITICALMATERIALS | translate }}">
      <div class="content">
        <div class="chart-box" matSort (matSortChange)="sortData($event)">
          <div class="head">
            <div class="row">
              <div class="col-2">
                <div
                  class="sort"
                  (click)="seletedCirticalMaterialFilter = 'businessLevelName'"
                  [ngClass]="{
                    active:
                      seletedCirticalMaterialFilter === 'businessLevelName'
                  }"
                  mat-sort-header="namesort"
                >
                  <label translate>Assessment</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedCirticalMaterialFilter = 'startDate'"
                  [ngClass]="{
                    active: seletedCirticalMaterialFilter === 'startDate'
                  }"
                  mat-sort-header="startDate"
                >
                  <label translate>Time frame</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedCirticalMaterialFilter = 'Critical'"
                  [ngClass]="{
                    active: seletedCirticalMaterialFilter === 'Critical'
                  }"
                  mat-sort-header="totalCriticalMass"
                >
                  <label translate>Critical mass</label>
                </div>
              </div>
              <div class="col-8">
                <div
                  class="criticalMaterial"
                  (click)="seletedCirticalMaterialFilter = 'criticalMaterial'"
                  mat-sort-header="criticalPercentage"
                  [ngClass]="{
                    active: seletedCirticalMaterialFilter === 'criticalMaterial'
                  }"
                >
                  <label translate>% critical material</label>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="line" *ngFor="let ass of res">
              <div class="row">
                <div class="col-2">
                  <div class="name">
                    <span>{{ ass.businessLevelName }}</span>
                    <strong>{{ ass.assessmentName }}</strong>
                  </div>
                </div>
                <div class="col-1">
                  <span class="pt ti-10">{{
                    ass.startDate | date: 'dd/MM/yyyy'
                  }}</span>
                  <span class="ti-10">{{
                    ass.endDate | date: 'dd/MM/yyyy'
                  }}</span>
                </div>
                <div class="col-1">
                  <span class="mass" *ngIf="ass.criticalIndicator"
                    >{{
                      ass.totalCriticalMass | number: environment.decimalFormat
                    }}kg</span
                  >
                  <span class="mass" *ngIf="!ass.criticalIndicator" translate
                    >Indicator not selected</span
                  >
                </div>
                <div class="col-8">
                  <div class="chart" *ngIf="ass.criticalIndicator">
                    <span
                      class="criticalMaterial first"
                      [style.width.%]="ass.criticalPercentage * 0.9 + 5"
                      >{{
                        ass.criticalPercentage
                          | number: environment.decimalFormat
                      }}%</span
                    >
                    <span
                      class="defultBg last"
                      [style.width.%]="(100 - ass.criticalPercentage) * 0.9 + 5"
                      >{{
                        100 - ass.criticalPercentage
                          | number: environment.decimalFormat
                      }}%</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ ONSITEWATERCIRCULATION | translate }}">
      <div class="content">
        <div class="chart-box" matSort (matSortChange)="sortData($event)">
          <div class="head">
            <div class="row">
              <div class="col-2">
                <div
                  class="sort"
                  (click)="seletedOnsiteFilter = 'businessLevelName'"
                  [ngClass]="{
                    active: seletedOnsiteFilter === 'businessLevelName'
                  }"
                  mat-sort-header="namesort"
                >
                  <label translate>Assessment</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedOnsiteFilter = 'startDate'"
                  [ngClass]="{ active: seletedOnsiteFilter === 'startDate' }"
                  mat-sort-header="startDate"
                >
                  <label translate>Time frame</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedOnsiteFilter = 'Volume'"
                  [ngClass]="{ active: seletedOnsiteFilter === 'Volume' }"
                  mat-sort-header="totalOnsiteWater"
                >
                  <label translate>Volume</label>
                </div>
              </div>
              <div class="col-8">
                <div
                  class="none"
                  (click)="seletedOnsiteFilter = 'circulation'"
                  mat-sort-header="onsiteWaterCircularity"
                  [ngClass]="{ active: seletedOnsiteFilter === 'circulation' }"
                >
                  <label translate>Onsite water circulation</label>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="line" *ngFor="let ass of res">
              <div class="row">
                <div class="col-2">
                  <div class="name">
                    <span>{{ ass.businessLevelName }}</span>
                    <strong>{{ ass.assessmentName }}</strong>
                  </div>
                </div>
                <div class="col-1">
                  <span class="pt ti-10">{{
                    ass.startDate | date: 'dd/MM/yyyy'
                  }}</span>
                  <span class="ti-10">{{
                    ass.endDate | date: 'dd/MM/yyyy'
                  }}</span>
                </div>
                <div class="col-1">
                  <span
                    class="mass ti-10"
                    *ngIf="
                      ass.onsiteWaterIndicator && !ass.onsiteWaterMissingData
                    "
                    >{{
                      ass.totalOnsiteWater | number: environment.integerFormat
                    }}{{ ass.onsiteWaterUnit }}</span
                  >
                  <span class="mass" *ngIf="!ass.onsiteWaterIndicator" translate
                    >Indicator not selected</span
                  >
                  <span
                    class="mass"
                    *ngIf="
                      ass.onsiteWaterIndicator && ass.onsiteWaterMissingData
                    "
                    translate
                    >Insufficent data</span
                  >
                </div>
                <div
                  class="col-8"
                  *ngIf="
                    ass.onsiteWaterIndicator && !ass.onsiteWaterMissingData
                  "
                >
                  <span class="volume" style="text-indent: 10px"
                    >{{
                      ass.onsiteWaterCircularity
                        | number: environment.decimalFormat
                    }}x</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ RECOVERYTYPES | translate }}">
      <div class="content">
        <div class="chart-box" matSort (matSortChange)="sortData($event)">
          <div class="head">
            <div class="row">
              <div class="col-2">
                <div
                  class="sort"
                  (click)="seletedRecoveryFilter = 'businessLevelName'"
                  [ngClass]="{
                    active: seletedRecoveryFilter === 'businessLevelName'
                  }"
                  mat-sort-header="namesort"
                >
                  <label translate>Assessment</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedRecoveryFilter = 'startDate'"
                  [ngClass]="{ active: seletedRecoveryFilter === 'startDate' }"
                  mat-sort-header="startDate"
                >
                  <label translate>Time frame</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedRecoveryFilter = 'Mass'"
                  [ngClass]="{ active: seletedRecoveryFilter === 'Mass' }"
                  mat-sort-header="outflowMass"
                >
                  <label translate>Mass</label>
                </div>
              </div>
              <div class="col-8">
                <div
                  class="technical"
                  (click)="seletedRecoveryFilter = 'technical'"
                  mat-sort-header="technicalPercentage"
                  [ngClass]="{ active: seletedRecoveryFilter === 'technical' }"
                >
                  <label translate>Technical</label>
                </div>
                <div
                  class="non-food"
                  (click)="seletedRecoveryFilter = 'non-food'"
                  mat-sort-header="nonFoodPercentage"
                  [ngClass]="{ active: seletedRecoveryFilter === 'non-food' }"
                >
                  <label translate>Biological cycle non-food</label>
                </div>
                <div
                  class="food"
                  (click)="seletedRecoveryFilter = 'food'"
                  mat-sort-header="foodPercentage"
                  [ngClass]="{ active: seletedRecoveryFilter === 'food' }"
                >
                  <label translate>Biological cycle food</label>
                </div>
                <div
                  class="other"
                  (click)="seletedRecoveryFilter = 'other'"
                  mat-sort-header="unknownPercentage"
                  [ngClass]="{ active: seletedRecoveryFilter === 'other' }"
                >
                  <label translate>Unknown / Other</label>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="line" *ngFor="let ass of res">
              <div class="row">
                <div class="col-2">
                  <div class="name">
                    <span>{{ ass.businessLevelName }}</span>
                    <strong>{{ ass.assessmentName }}</strong>
                  </div>
                </div>
                <div class="col-1">
                  <span class="pt ti-10">{{
                    ass.startDate | date: 'dd/MM/yyyy'
                  }}</span>
                  <span class="ti-10">{{
                    ass.endDate | date: 'dd/MM/yyyy'
                  }}</span>
                </div>
                <div class="col-1">
                  <span class="mass ti-10" *ngIf="ass.recoveryIndicator"
                    >{{
                      ass.outflowMass | number: environment.decimalFormat
                    }}kg</span
                  >
                  <span class="mass" *ngIf="!ass.recoveryIndicator" translate
                    >Indicator not selected</span
                  >
                </div>
                <div class="col-8">
                  <div class="chart" *ngIf="ass.recoveryIndicator">
                    <span
                      class="technical first"
                      [style.width.%]="ass.technicalPercentage * 0.8 + 5"
                      >{{
                        ass.technicalPercentage
                          | number: environment.decimalFormat
                      }}%</span
                    >
                    <span
                      class="non-food"
                      [style.width.%]="ass.nonFoodPercentage * 0.8 + 5"
                      >{{
                        ass.nonFoodPercentage
                          | number: environment.decimalFormat
                      }}%</span
                    >
                    <span
                      class="food"
                      [style.width.%]="ass.foodPercentage * 0.8 + 5"
                      >{{
                        ass.foodPercentage | number: environment.decimalFormat
                      }}%</span
                    >
                    <span
                      class="other last"
                      [style.width.%]="ass.unknownPercentage * 0.8 + 5"
                      >{{
                        ass.unknownPercentage
                          | number: environment.decimalFormat
                      }}%</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
