<div class="fixed-steper">
  <app-stepper></app-stepper>
</div>
<div class="narrow" *ngIf="isShowstep6Intro !== 'true'">
  <app-intro6></app-intro6>
</div>
<div class="step6" *ngIf="isShowstep6Intro === 'true'">
  <app-inflow6 *ngIf="activeCase6 === 'inflow6'"></app-inflow6>
  <app-outflow6 *ngIf="activeCase6 === 'outflow6'"></app-outflow6>
  <app-step6-energy *ngIf="activeCase6 === 'strategy'"></app-step6-energy>
  <app-water *ngIf="activeCase6 === 'water'"></app-water>
  <app-step6-critical-material
    *ngIf="activeCase6 === 'business-case'"
  ></app-step6-critical-material>
</div>
