@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
#dialog-wrapper {
  position: relative;
  padding-bottom: 40px;
}

.icon-close {
  position: absolute;
  right: 0;
  font-size: 36px;
  color: #1c195b;
  border: solid 2px #1c195b;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
}

.form-item {
  height: auto;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;

  &:hover {
    background: transparent;
  }

  label {
    width: 100%;
    font-size: 0.81rem;
    top: 0;
    height: auto;
    font-weight: bold;
  }
  .text-danger {
    background: #fff;
    width: 50%;
  }
}

.table-head-line {
  padding: 10px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 40px;
  .name {
    display: inline-block;
    margin-left: 20px;
    span {
      display: block;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: #1c195b;
      &:last-child {
        color: #757575;
      }
    }
  }
  .btn-box {
    display: inline;
    float: right;
    .member-btn {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 2px solid #e3e5ec;
      cursor: pointer;
      background: url(../../../../assets/img/icon/member-group.svg) center
        bottom no-repeat;
      &:hover {
        background: url(../../../../assets/img/icon/member-group.svg) center
          bottom no-repeat #e3e5ec;
        &::after {
          position: absolute;
          content: "MANAGE MEMBERS";
          font-weight: bold;
          font-size: 10px;
          line-height: 12px;
          color: #fff;
          padding: 8px 12px;
          width: 118px;
          height: 28px;
          background: #1c195b;
          border-radius: 4px;
          top: -40px;
          left: -43px;
        }
        &::before {
          position: absolute;
          left: 8px;
          top: -14px;
          content: "";
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px;
          border-color: #1c195b transparent transparent transparent;
        }
      }
    }
  }
}
strong {
  font-weight: bold;
}

.item {
  background: $white;
  height: 90% !important;
  width: 100%;
  border-radius: 8px;
  .add {
    background: #f1f2f5;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 25px;
    float: right;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }

  .user-box {
    border-radius: 1rem;
    padding: 0.5rem 0;
    max-height: 432px;
    overflow-x: auto;
    height: 100%;
    &.long {
      max-height: 908px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    padding: 0 1rem;

    li {
      height: 60px;
      padding-top: 10px;
      border-bottom: solid 1px #e8e8ef;
      .img-box {
        display: block;
        float: left;
        margin-right: 10px;
        width: 2.5rem;
        height: 2.5rem;
        background: rgba(141, 140, 173, 0.25);
        position: relative;
        border-radius: 2.5rem;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
        line-height: 2.5rem;
      }
      .user {
        display: block;
        float: left;
        width: 60%;
        .name {
          padding: 2px 10px;
          display: table-cell;
          color: $dark-slate-blue;
          font-size: 14px;
          font-weight: 600;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          height: 22px;
          span {
            display: none;
            letter-spacing: -0.01em;
            margin-left: 20px;
            font-weight: bold;
            font-size: 8px;
            color: #0095c6;
            position: relative;
            top: 5px;
          }
          &.admin {
            background: rgba(0, 149, 198, 0.2);
            border-radius: 32px;
            span {
              display: inline-block;
            }
          }
        }
        .role {
          color: #757575;
          font-size: 10px;
          line-height: 12px;
          margin-right: 3px;
          &:after {
            display: inline;
            content: ",";
            margin-left: 1px;
            font-size: 16px;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          &.first {
            margin-left: 10px;
          }
        }
      }
      .assessments {
        display: block;
        float: left;
        width: 20%;
        font-size: 14px;
        line-height: 40px;
        letter-spacing: 0.01em;
        color: #757575;
      }
      .material-icons-outlined {
        cursor: pointer;
        float: right;
        font-size: 24px;
        color: $dark-slate-blue;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #f1f2f5;
        text-align: center;
        line-height: 1.4;
        &.active {
          background: $dark-slate-blue;
          color: #f1f2f5;
        }
      }
      .settings {
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #f1f2f5;
        top: 4px;
        float: right;
        cursor: pointer;
        .event {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          width: 32px;
          height: 32px;
        }
        .material-icons {
          display: block;
          color: $dark-slate-blue;
          line-height: 32px;
          height: 32px;
          width: 32px;
          text-align: center;
        }
        &.active {
          background: $dark-slate-blue;
          border-radius: 100%;
          .material-icons {
            display: block;
            color: #fff;
            line-height: 32px;
            height: 32px;
            width: 32px;
            text-align: center;
          }
        }
        .action {
          position: absolute;
          top: 45px;
          right: 0;
          width: 340px;
          border-radius: 4px;
          overflow: hidden;
          z-index: 3;
          span {
            display: block;
            text-align: right;
            padding: 10px 20px 10px 50px;
            font-weight: normal;
            font-size: 14px;
            background: #e3e5ec;
            color: $dark-slate-blue;
            &.delete {
              background: #fff;
              color: #ff386b;
            }
          }
        }
      }
    }
  }

  .form-item {
    margin: 1rem 0;
    padding: 0;
    height: 100%;
    overflow: visible;

    &.first {
      margin-top: 0;
    }

    &.other {
      margin-top: -2rem;
    }

    &:hover {
      background: transparent;
    }

    .input-box {
      display: block;
      width: 100%;
      height: auto;
    }

    .select {
      width: 100%;
      border: 0;

      .long {
        border: 2px solid #e8e8ef;
        width: 48%;

        &:last-child {
          margin-left: 4%;
        }
      }
    }
  }

  .note {
    display: block;
    margin: -1rem 0 1.5rem;
    font-size: 0.86rem;
    font-weight: 600;
    line-height: 1.43;
  }
}
.admin {
  margin-top: -1rem;
  .form-item {
    margin-bottom: 1.5rem;
  }
  .toggle-box {
    display: block;
    width: 100%;
    height: 3rem;
    font-size: 0.81rem;
    color: #1c195b;
    font-weight: 500;
    border: 2px solid #e8e8ef;
    position: relative;
    border-radius: 0.5rem;
    line-height: 3rem;
    text-indent: 0.5rem;
    &:hover {
      border-color: $dark-slate-blue;
    }
    .toggle {
      top: 29px;
    }
  }
}

.head {
  background: #f8f8fa;
  color: $dark-slate-blue;
  height: 40px;
  position: relative;
  top: -8px;
  div {
    padding-top: 10px;
    float: left;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    &.user {
      padding-left: 4rem;
      width: 58%;
    }
    &.assessments {
      width: 20%;
      white-space: nowrap;
    }
  }
}
.select-box {
  background: #e3e5ec;
  height: 60px;
  width: 100%;
  left: -0.5%;
  padding: 10px 20px;
  border-radius: 32px;
  position: absolute;
  bottom: -50px;
  z-index: 2;
  span {
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #1c195b;
  }
  .disable {
    opacity: 0.5;
  }
  .icon-close {
    cursor: pointer;
    color: #1c195b;
    font-size: 34px;
    border: 2px solid rgba(28, 25, 91, 0.7);
    border-radius: 100%;
    position: relative;
  }
}
