<div class="page-head">
  <span class="page-title" translate>Company</span>
</div>
<div class="page-body">
  <div class="full-width clearfix">
    <label class="label" translate>Company Name</label>
    <mat-form-field class="defult-form-element">
      <input matInput value="{{ data?.name }}" name="name" readonly />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>LICENSE TYPE</label>
    <mat-form-field class="defult-form-element">
      <input matInput value="{{ data?.licenseType }}" name="name" readonly />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>FILTERS</label>
    <div class="filter-box">
      <div *ngFor="let f of filter" class="filter">
        <span class="input-btn" *ngIf="f.active" translate>Yes</span>
        <span class="input-btn" *ngIf="!f.active" translate>No</span>
        <span class="filter-text">{{ f.displayName }}</span>
      </div>
    </div>
  </div>
</div>
