<div class="page-body" *ngIf="data">
  <div class="full-width clearfix">
    <label class="label" translate>SUPPLIER NAME</label>
    <mat-form-field class="defult-form-element">
      <input matInput [(ngModel)]="data.alias" name="data.alias" />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>SUPPLIER CODE</label>
    <mat-form-field class="defult-form-element">
      <input matInput [(ngModel)]="data.code" name="data.code" />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>HOLDING COMPANY NAME</label>
    <mat-form-field class="defult-form-element">
      <input
        matInput
        [(ngModel)]="data.holdingCompanyName"
        name="data.holdingCompanyName"
      />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>COUNTRY</label>
    <mat-form-field class="defult-form-element">
      <input matInput [(ngModel)]="data.country" name="data.country" />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>CITY</label>
    <mat-form-field class="defult-form-element">
      <input matInput [(ngModel)]="data.city" name="data.city" />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>STREET</label>
    <mat-form-field class="defult-form-element">
      <input matInput [(ngModel)]="data.street" name="data.street" />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>ACTIVE</label>
    <span
      class="input-btn"
      [ngClass]="isActive == true ? 'focus' : ''"
      (click)="isActive = true"
      translate
      >Yes</span
    >
    <span
      class="input-btn"
      [ngClass]="isActive == false ? 'focus' : ''"
      (click)="isActive = false"
      translate
      >No</span
    >
  </div>
</div>
<div class="foot">
  <div
    (click)="saveChangeSupplier(data)"
    class="btn-circular bg-shamrock big"
    translate
  >
    Save
  </div>
</div>
