<div class="page-head">
  <span class="page-title" translate>Update User</span>
  <div
    (click)="closeUser()"
    class="btn-circular bg-dark-slate-blue close"
    translate
  >
    CLOSE
  </div>
</div>
<div class="page-body" *ngIf="data">
  <div class="full-width clearfix">
    <label class="label" translate>EMAIL ADDRESS</label>
    <mat-form-field class="defult-form-element">
      <input matInput [(ngModel)]="data.email" name="data.email" readonly />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>FIRST NAME</label>
    <mat-form-field class="defult-form-element">
      <input
        matInput
        [(ngModel)]="data.firstname"
        name="data.firstname"
        readonly
      />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>MIDDLE NAME</label>
    <mat-form-field class="defult-form-element">
      <input
        matInput
        [(ngModel)]="data.middlename"
        name="data.middlename"
        readonly
      />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <label class="label" translate>LAST NAME</label>
    <mat-form-field class="defult-form-element">
      <input
        matInput
        [(ngModel)]="data.lastname"
        name="data.lastname"
        readonly
      />
    </mat-form-field>
  </div>
  <div class="full-width clearfix">
    <i class="material-icons">info</i>
    <i class="info" translate>user.roleText</i>
  </div>
  <div class="full-width clearfix">
    <strong style="display: block; text-align: center" translate
      >Types of roles</strong
    >
  </div>
  <br />

  <div class="select" [ngClass]="{ active: roles.administrator }">
    <div class="head" translate>
      Administrator
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="roles.administrator"></mat-slide-toggle>
      </div>
    </div>
    <ul>
      <li translate><i class="fas fa-check-circle"></i>user.role.admin</li>
    </ul>
  </div>

  <div class="select" [ngClass]="{ active: roles.productManager }">
    <div class="head" translate>
      Product Manager
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="roles.productManager"></mat-slide-toggle>
      </div>
    </div>
    <ul>
      <li translate><i class="fas fa-check-circle"></i>user.role.manager</li>
    </ul>
  </div>

  <div class="select" [ngClass]="{ active: roles.sustainabilityDataManager }">
    <div class="head" translate>
      Authorizer
      <div class="toggle">
        <mat-slide-toggle
          [(ngModel)]="roles.sustainabilityDataManager"
        ></mat-slide-toggle>
      </div>
    </div>
    <ul>
      <li translate><i class="fas fa-check-circle"></i>user.role.authorizer</li>
    </ul>
  </div>

  <div class="select" [ngClass]="{ active: roles.authorizer }">
    <div class="head" translate>
      Sustainability data manager
      <div class="toggle">
        <mat-slide-toggle [(ngModel)]="roles.authorizer"></mat-slide-toggle>
      </div>
    </div>
    <ul>
      <li translate><i class="fas fa-check-circle"></i>user.role.system</li>
    </ul>
  </div>
  <button
    (click)="saveChangeUser(roles)"
    class="btn btn-circular bg-shamrock float-right"
    translate
  >
    SAVE
  </button>
</div>
