@import "src/theme/theme-variables";

.dialog-wrapper {
  display: block;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 3rem;
}

p {
  font-size: 0.81rem;
}

h2 {
  font-size: 0.76rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-indent: 0.1rem;
}

.create {
  display: block;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);

  b {
    padding: 2px 8px;
    border-radius: 15px;
    border: solid 1px;
    cursor: pointer;
  }
}

.mat-form-field {
  display: block;
}

textarea {
  display: block;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 100%;
  color: $dark-slate-blue;
  border: 0;
  font-weight: 600;
  background-color: $pale-lilac;
  margin-bottom: 1rem;
}

.last {
  margin-right: 24px;
}

.float-right {
  margin-left: 1rem;
}

.form-item {
  height: auto;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5rem;

  &:hover {
    background: transparent;
  }

  label {
    width: 100%;
    font-size: 0.81rem;
    top: 0;
    height: auto;
    font-weight: bold;
    text-indent: 0.1rem;
  }

  .text-danger {
    background: #fff;
  }
}

.label {
  font-size: 0.81rem;
  font-weight: bold;
  line-height: 2.15;
  color: $dark-slate-blue;
  text-indent: 0.1rem;
}

.inviteText {
  font-weight: 600;
  line-height: 1.5;
  padding: 1rem;
  margin-bottom: 1rem;
  background: $pale-grey;
  color: $dark-slate-blue;
  border-radius: 0.5rem;
}

.page-title span {
  display: block;
  font-weight: bold;
  font-size: 0.76rem;
  line-height: 1.54;
}

.slider-item {
  justify-content: center;

  span {
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    margin: 0 3px;
    border: solid $pale-lilac 1px;

    &.active {
      border: solid $dark-slate-blue 1px;
      background: $dark-slate-blue;
    }
  }
}

.item {
  height: 4.2rem;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;

  .img-box {
    display: block;
    float: left;
    margin-right: 10px;
    width: 2.5rem;
    height: 2.5rem;
    background: rgba(141, 140, 173, 0.25);
    position: relative;
    border-radius: 2.5rem;
    text-align: center;
    cursor: pointer;
  }

  .name {
    display: block;
    float: left;
    width: 50%;
    color: $dark-slate-blue;
    font-size: 0.81rem;
    font-weight: 600;
    position: relative;
    top: 10px;
  }

  .check {
    float: right;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    background: $shamrock;
    i {
      color: $white;
    }
  }
}
