<section
  id="dialog-wrapper"
  class="dialog-wrapper"
  *ngIf="activeStep == 'first' && data"
>
  <div class="page-head">
    <span class="page-title" translate
      ><span translate>COLLEAGUE ACCOUNT</span> Add a new user</span
    >
  </div>

  <form [formGroup]="createUserFrom" novalidate>
    <div class="form-item">
      <label class="d-block">
        <label translate>First name</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{
            'addMaterial.addColleague.placeholder1' | translate
          }}"
          formControlName="firstName"
        />
        <span hidden translate>First name</span>
        <small
          [hidden]="
            createUserFrom.controls.firstName.valid ||
            createUserFrom.controls.firstName.untouched
          "
          class="text-danger"
          translate
        >
          First name is required
        </small>
      </label>
    </div>
    <div class="form-item">
      <label class="d-block">
        <label translate>Last name</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{
            'addMaterial.addColleague.placeholder2' | translate
          }}"
          formControlName="lastName"
        />
        <span hidden translate>Last name</span>
      </label>
    </div>
    <div class="form-item">
      <label class="d-block">
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          placeholder="{{
            'addMaterial.addColleague.placeholder3' | translate
          }}"
          formControlName="email"
          trim
        />
        <span hidden translate>Email</span>
        <small
          [hidden]="
            createUserFrom.controls.email.valid ||
            createUserFrom.controls.email.untouched
          "
          class="text-danger"
          translate
        >
          Email is required
        </small>
      </label>
    </div>
    <div class="label" translate>Your message</div>
    <div class="inviteText">
      <b translate> addMaterial.addColleague.message1</b>
      <b translate>addMaterial.addColleague.message2</b>
    </div>
  </form>
  <button
    tabindex="4"
    [disabled]="!createUserFrom.valid"
    class="btn-circular bg-shamrock float-right"
    (click)="checkMail()"
    translate
  >
    SEND INVITATION
  </button>
  <button
    translate
    tabindex="3"
    class="btn-circular dark-slate-blue-border float-right"
    (click)="onNoClick()"
  >
    Cancel
  </button>
</section>

<section
  id="dialog-wrapper"
  class="dialog-wrapper"
  *ngIf="activeStep == 'second' && data"
>
  <div class="page-head">
    <span class="page-title" translate>Confirmation</span>
  </div>
  <div class="label" translate>Your message</div>
  <div class="inviteText">
    <b translate> addMaterial.addColleague.message1</b>
    <b translate> addMaterial.addColleague.message2</b>
  </div>
  <div class="label" *ngIf="data.ownership" translate>Material added</div>
  <div class="item shadow" *ngIf="data.ownership">
    <div class="img-box"></div>
    <div class="name">{{ data.displayName }}</div>
    <span class="check"><i class="fas fa-check"></i></span>
  </div>
  <div class="label" *ngIf="data.ownership" translate>Material assigned to</div>
  <div class="label" *ngIf="!data.ownership" translate>Add colleague</div>
  <div class="item shadow">
    <div class="img-box"></div>
    <div class="name">{{ createUserFrom.controls.email.value }}</div>
    <span class="check"><i class="fas fa-check"></i></span>
  </div>
  <button
    translate
    tabindex="4"
    [disabled]="!createUserFrom.valid"
    class="btn-circular bg-shamrock float-right"
    (click)="onYesClick()"
  >
    CONFIRM
  </button>
  <button
    translate
    tabindex="3"
    class="btn-circular dark-slate-blue-border float-right"
    (click)="onNoClick()"
  >
    Cancel
  </button>
</section>

<div class="row slider-item">
  <span class="active" [ngClass]="{ active: activeStep == 'first' }"></span>
  <span class="active" [ngClass]="{ active: activeStep == 'second' }"></span>
</div>
