<header>
  <div class="row" id="header-box">
    <div class="col-7">
      <div *ngIf="project === 'cti'" class="select main-select">
        {{ mainValue }}
      </div>
      <div
        class="select sub-select middle"
        *ngIf="project === 'cti'"
        (mouseleave)="showMidSelectOptions = false"
      >
        <div (click)="showMidSelectOptions = !showMidSelectOptions">
          {{ selectedBusiness?.name }} &nbsp;<span *ngIf="isPro"
            ><i class="fas fa-caret-down"></i
          ></span>
        </div>
        <ul class="sub-select-options" *ngIf="showMidSelectOptions && isPro">
          <li
            [ngClass]="{ pasive: level.assessments.length === 0 }"
            *ngFor="let level of businessLevelList"
          >
            <div (click)="selectBusiness(level)">{{ level.name }}</div>
          </li>
        </ul>
      </div>
      <div
        class="select sub-select"
        *ngIf="project === 'cti'"
        (mouseleave)="showSubSelectOptions = false"
      >
        <div (click)="showSubSelectOptions = !showSubSelectOptions">
          {{ subValue }} &nbsp;
          <span *ngIf="isPro"><i class="fas fa-caret-down"></i></span>
        </div>
        <ul class="sub-select-options" *ngIf="showSubSelectOptions && isPro">
          <li *ngFor="let li of selectedBusiness.assessments">
            <div (click)="subCatagory(li)">{{ li.name }}</div>
          </li>
          <li *ngIf="isAdmin" (click)="subCatagory('new')" translate>
            Add assessment <em class="material-icons">add_circle_outline</em>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-5 button-box">
      <div class="nav-item" ngbDropdown>
        <div
          class="dropdown-box"
          ngbDropdownMenu
          aria-labelledby="user-dropdown"
        >
          <button
            class="dropdown-item"
            routerLink="/cti/add-material"
            translate
          >
            Material
          </button>
        </div>
      </div>
      <div
        class="btn-circular grey-border guidance-button"
        *ngIf="project === 'cti'"
        [ngClass]="{ active: show }"
        (click)="openPatica()"
        translate
      >
        circularGuidance
      </div>
      <div *ngIf="project === 'pcip'" class="nav-item user" ngbDropdown>
        <div id="user-dropdown" class="oval grey-border" ngbDropdownToggle>
          <i class="far fa-user"></i>
          <i class="fas fa-times"></i>
        </div>
        <div
          class="dropdown-box"
          ngbDropdownMenu
          aria-labelledby="user-dropdown"
        >
          <button class="dropdown-item" routerLink="/cti/user" translate>
            Profile
          </button>
          <h6 class="dropdown-item" (click)="logout()" translate>Logout</h6>
        </div>
      </div>
    </div>
  </div>
  <input id="ciq-fe-version" type="hidden" value="{{ version.raw }}" />
</header>
