/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";
// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~handsontable/dist/handsontable.full.css";

// Theme customization
@import "theme/theme";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "app/app.component.scss";
@import "./assets/sny6mzk.css";
@import "./assets/patica.css";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "~normalize.scss";

.myenergyBG {
  background: #253e4e !important;
}

h1.myenergy {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.01em;
  color: #f6c744;
}

.btn-myenergy {
  display: inline-block;
  padding: 8px 24px;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  color: $white;
  letter-spacing: normal;
  text-align: center;
  border-radius: 28px;
  border: solid 2px transparent;
  cursor: pointer;
  background: transparent;
  span {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    color: $white;
  }

  &.big {
    padding: 0.5rem 3rem;
  }
  &.bg-green {
    background: $green;
  }
  &.bg-orange {
    background: $orange;
  }
  &.bg-red {
    background: $red;
  }
  &.grey-border {
    border-color: $grey;
    color: $black;
  }
}

.form-item-new-line {
  label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
  input {
    background: $white;
    padding: 8px 12px;
    border: 1px solid #f1f2f5;
    color: $holder;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .ng-valid,
  .ng-pristine,
  .ng-dirty {
    background: #e3e5ec !important;
    color: #253e4e !important;
  }
}

.loading {
  color: $white;
  position: relative !important;
  top: 0 !important;
  left: -10px;
}

.myenergy-box {
  .owl-carousel {
    position: inherit;
    .owl-nav {
      position: absolute;
      top: 0;
      right: 10px;
      .owl-prev {
        background: url(./assets/img/myenergy-label/left.png) left center
          no-repeat;
        width: 30px;
        font-size: 0;
      }
      .owl-next {
        background: url(./assets/img/myenergy-label/right.png) right center
          no-repeat;
        width: 30px;
        font-size: 0;
      }
    }
  }
}
.custom-owl {
  .owl-carousel {
    .owl-nav {
      position: absolute;
      top: inherit;
      bottom: 0;
      right: 20px;
      .owl-prev {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        background: none;
        width: inherit;
      }
      .owl-next {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        background: none;
        width: inherit;
      }
    }
    .owl-dots {
      text-align: left !important;
      .owl-dot span {
        margin: 5px 4px !important;
        background: #f1f2f5 !important;
      }
      .owl-dot.active span,
      .owl-theme .owl-dots .owl-dot:hover span {
        background: #33c166 !important;
      }
    }
  }
}
.purches {
  .mat-tab-label {
    border-bottom: 1px solid #7c8b95;
    color: #7c8b95;
    height: 40px;
    line-height: 32px;
    padding: 10px;
    opacity: 1 !important;
    .mat-tab-label-content {
      font-family: "aktiv-grotesk" !important;
      font-weight: bold;
      color: #7c8b95;
      font-size: 24px !important;
    }
    &.mat-tab-label-active {
      border-bottom: 1px solid #fff;
      color: #fff;
      .mat-tab-label-content {
        color: #fff;
      }
    }
  }
  .mat-ink-bar {
    display: none;
  }
}
.new-purches {
  .form-control:disabled,
  .form-control[readonly],
  .mat-select-disabled {
    background: #f6f4f7 !important;
    color: #253e4e !important;
  }
  .mat-radio-button.mat-radio-disabled.mat-radio-checked
    .mat-radio-label-content {
    color: #fff;
  }
  .mat-tab-labels,
  .mat-tab-header {
    display: none;
  }
  .mat-tab-body-content {
    overflow: hidden;
  }
  .form-control:focus {
    background: #fff;
  }
  .form-item:hover {
    background: inherit;
  }
  .form-item button {
    position: absolute;
    top: 3px;
    right: 0;
  }

  .select {
    border: 0;
    float: right;
    width: 50%;
    background: #fff;
    .radio-item {
      position: relative;
      &:first-child {
        border-right: solid 1px #f6f4f7;
      }
      .mat-radio-container {
        display: none;
      }
      float: left;
      border-radius: 0;
      width: 50%;
      line-height: 46px;
      height: 46px;
      &.mat-radio-checked {
        background: #253e4e;
      }
    }
  }
  .mat-select {
    background: #fff;
    border-radius: 8px;
    padding: 5px 10px 0;
    height: 46px;
    overflow: hidden;
    width: 50%;
    display: block;
    float: right;
  }
  .mat-form-field {
    height: 40px;
    overflow: hidden;
    width: 100%;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 5px;
    background: #fff;
    border-radius: 8px;
    height: 40px;
    overflow: hidden;
  }
  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-prefix
    .mat-icon-button,
  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-suffix
    .mat-icon-button {
    top: -24px;
    position: relative;
    color: #7c8b95;
    background: #f1f2f5;
    zoom: 0.8;
  }
  mat-label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #7c8b95;
  }
  .mat-select-value,
  .mat-select-value-text span {
    font-size: 14px !important;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #253e4e !important;
  }
  .mat-select-arrow-wrapper {
    background: #f1f2f5;
  }
  .mat-select-arrow-wrapper .mat-select-arrow {
    color: #7c8b95;
  }
}
#filter {
  .mat-select {
    background: #fff;
    border-radius: 8px;
    padding: 0 10px;
    height: 40px;
    overflow: hidden;
  }
  .mat-form-field {
    height: 40px;
    overflow: hidden;
    width: 100%;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0 5px;
    background: #fff;
    border-radius: 8px;
    height: 40px;
    overflow: hidden;
  }
  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-prefix
    .mat-icon-button,
  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-suffix
    .mat-icon-button {
    top: -24px;
    position: relative;
    color: #7c8b95;
    background: #f1f2f5;
    zoom: 0.8;
  }
  mat-label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #7c8b95;
  }
  .mat-select-value,
  .mat-select-value-text span {
    font-size: 14px !important;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #7c8b95 !important;
  }
  .mat-select-arrow-wrapper {
    background: #f1f2f5;
  }
  .mat-select-arrow-wrapper .mat-select-arrow {
    color: #7c8b95;
  }
  .mat-date-range-input-start-wrapper,
  .mat-date-range-input-inner,
  .mat-date-range-input-separator {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #7c8b95;
  }
  .mat-date-range-input-end-wrapper {
    position: relative;
    top: -12px;
  }
  .mat-date-range-input-separator {
    position: relative;
    top: -8px;
  }
}
.purchase-date {
  input {
    background: #fff;
    height: 46px;
    padding-left: 10px;
    font-size: 14px;
  }
}
.modal-open .modal {
  overflow-y: auto;
}
.active-item {
  background: #ffffff;
  border-radius: 8px;
  padding: 16px;
  span {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;

    color: #253e4e;
  }
  .check-item {
    &.match {
      background: #e6f8ec;
      span {
        font-weight: bold;
        color: #253e4e;
      }
    }
    input[type="checkbox"],
    input[type="radio"] {
      visibility: hidden;
      position: absolute;
    }

    label {
      position: relative;
      width: 100%;
      min-height: 26px;
      height: auto;
      content: "";
      clear: both;
      display: table;

      span {
        padding-top: 2px;
        display: block;
        float: right;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.01em;
        color: #253e4e;
        padding-left: 25px;
      }
    }

    input[type="radio"] + label:before,
    input[type="checkbox"] + label:before {
      height: 16px;
      width: 16px;
      margin-right: 2px;
      content: " ";
      display: block;
      padding: 5px;
      border: solid 1px #7c8b95;
      position: absolute;
      left: 4px;
      top: 4px;
      -webkit-box-shadow: 0px 0px 0px 1px #7c8b95;
      box-shadow: 0px 0px 0px 1px #7c8b95;
    }

    input[type="radio"]:checked + label:before,
    input[type="checkbox"]:checked + label:before {
      background: #253e4e;
      border: solid 1px #253e4e;
      -webkit-box-shadow: 0px 0px 0px 1px #253e4e;
      box-shadow: 0px 0px 0px 1px #253e4e;
    }

    input[type="checkbox"] + label:before {
      border-radius: 2px;
    }
  }
}
