@import "src/theme/theme-variables";

#main {
  display: block;
  overflow-x: hidden;

  #left-nav {
    display: block;
    float: left;
    width: 88px;
    background: $white;
    position: fixed;
    z-index: 10;
  }

  #main-content {
    display: block;
    float: right;
    background: $white;
    overflow-x: hidden;
    overflow-y: auto;
    width: calc(100% - 88px);
    min-height: calc(100vh);
    padding: 6rem 2rem 2rem;
    &.darkBG {
      background: #1c195b;
    }
  }

  #header {
    background-color: $white;
    display: block;
    position: fixed;
    width: 100%;
    padding: 0 32px 0 103px;
    z-index: 9;
  }
}
