<div class="col">
  <div class="row" id="main">
    <div id="left-nav">
      <ng-container *ngIf="project === 'pcip'">
        <app-left-nav></app-left-nav>
      </ng-container>
      <ng-container *ngIf="project === 'cti'">
        <app-cti-left-nav></app-cti-left-nav>
      </ng-container>
      <ng-container *ngIf="project === 'myenergy'">
        <app-myenergy-left-nav></app-myenergy-left-nav>
      </ng-container>
    </div>
    <app-header id="header"></app-header>
    <div id="main-content" [ngClass]="{ myenergyBG: project === 'myenergy' }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
