<div class="missing-data" *ngIf="data">
  <span translate
    >Missing information <em class="material-icons-outlined">info</em></span
  >
  <div class="hover-mask" [ngClass]="{ top: data[0].top }"></div>
  <div class="content" [ngClass]="{ top: data[0].top }">
    <i></i>
    <div class="info" translate>missingInformationText</div>
    <div class="item" *ngFor="let i of data">
      <div class="row">
        <div class="col-6">
          <span>{{ i.businessLevelName }}</span>
          <strong>{{ i.name }}</strong>
        </div>
        <div class="col-6">
          <div class="value" *ngIf="i.indicatorSelected && !i.type">
            {{ i.value | number: environment.integerFormat }}{{ i.unit }}
          </div>
          <div class="value" *ngIf="i.indicatorSelected && i.type">
            {{ i.unit }}{{ i.value | number: environment.integerFormat }}/kg
          </div>
          <div class="value missing" *ngIf="!i.indicatorSelected" translate>
            Indicator not selected
          </div>
        </div>
      </div>
    </div>
    <!-- <a href="#" translate>Learn more</a> -->
  </div>
</div>
