<div class="minor-part" *ngIf="res">
  <mat-tab-group>
    <mat-tab label="{{ INFLOW | translate }}">
      <div class="content">
        <div class="chart-box" matSort (matSortChange)="sortData($event)">
          <div class="head">
            <div class="row">
              <div class="col-2">
                <div
                  class="sort"
                  (click)="seletedInflowFilter = 'businessLevelName'"
                  [ngClass]="{
                    active: seletedInflowFilter === 'businessLevelName'
                  }"
                  mat-sort-header="namesort"
                >
                  <label translate>Assessment</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedInflowFilter = 'startDate'"
                  [ngClass]="{ active: seletedInflowFilter === 'startDate' }"
                  mat-sort-header="startDate"
                >
                  <label translate>Time frame </label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedInflowFilter = 'Mass'"
                  [ngClass]="{ active: seletedInflowFilter === 'Mass' }"
                  mat-sort-header="inflowMass"
                >
                  <label translate>Mass</label>
                </div>
              </div>
              <div class="col-8">
                <div
                  class="circularInflow"
                  (click)="seletedInflowFilter = 'circularInflow'"
                  mat-sort-header="inflowCircularity"
                  [ngClass]="{
                    active: seletedInflowFilter === 'circularInflow'
                  }"
                >
                  <label translate>Circular inflow</label>
                </div>
                <div
                  class="linearInflow"
                  (click)="seletedInflowFilter = 'linearInflow'"
                  mat-sort-header="inflowLinearity"
                  [ngClass]="{ active: seletedInflowFilter === 'linearInflow' }"
                >
                  <label translate>Linear inflow</label>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="line" *ngFor="let ass of res">
              <div class="row">
                <div class="col-2">
                  <div class="name">
                    <span>{{ ass.businessLevelName }}</span>
                    <strong>{{ ass.assessmentName }}</strong>
                  </div>
                </div>
                <div class="col-1">
                  <span class="pt ti-10">{{
                    ass.startDate | date: 'dd/MM/yyyy'
                  }}</span>
                  <span class="ti-10">{{
                    ass.endDate | date: 'dd/MM/yyyy'
                  }}</span>
                </div>
                <div class="col-1">
                  <span class="mass"
                    >{{
                      ass.inflowMass | number: environment.decimalFormat
                    }}kg</span
                  >
                </div>
                <div class="col-8">
                  <div class="chart">
                    <span
                      class="circularInflow first"
                      [style.width.%]="ass.inflowCircularity * 0.9 + 5"
                      >{{
                        ass.inflowCircularity
                          | number: environment.decimalFormat
                      }}%</span
                    >
                    <span
                      class="linearInflow last"
                      [style.width.%]="ass.inflowLinearity * 0.9 + 5"
                      >{{
                        ass.inflowLinearity | number: environment.decimalFormat
                      }}%</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ OUTFLOW | translate }}">
      <div class="content">
        <div class="chart-box" matSort (matSortChange)="sortData($event)">
          <div class="head">
            <div class="row">
              <div class="col-2">
                <div
                  class="sort"
                  (click)="seletedOutflowFilter = 'businessLevelName'"
                  [ngClass]="{
                    active: seletedOutflowFilter === 'businessLevelName'
                  }"
                  mat-sort-header="namesort"
                >
                  <label translate>Assessment</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedOutflowFilter = 'startDate'"
                  [ngClass]="{ active: seletedOutflowFilter === 'startDate' }"
                  mat-sort-header="startDate"
                >
                  <label translate>Time frame </label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedOutflowFilter = 'Mass'"
                  [ngClass]="{ active: seletedOutflowFilter === 'Mass' }"
                  mat-sort-header="inflowMass"
                >
                  <label translate>Mass</label>
                </div>
              </div>
              <div class="col-8">
                <div
                  class="circularOutflow"
                  (click)="seletedOutflowFilter = 'circularOutflow'"
                  mat-sort-header="outflowCircularity"
                  [ngClass]="{
                    active: seletedOutflowFilter === 'circularOutflow'
                  }"
                >
                  <label translate>Circular outflow</label>
                </div>
                <div
                  class="linearOutflow"
                  (click)="seletedOutflowFilter = 'linearOutflow'"
                  mat-sort-header="outflowLinearity"
                  [ngClass]="{
                    active: seletedOutflowFilter === 'linearOutflow'
                  }"
                >
                  <label translate>Linear outflow</label>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="line" *ngFor="let ass of res">
              <div class="row">
                <div class="col-2">
                  <div class="name">
                    <span>{{ ass.businessLevelName }}</span>
                    <strong>{{ ass.assessmentName }}</strong>
                  </div>
                </div>
                <div class="col-1">
                  <span class="pt ti-10">{{
                    ass.startDate | date: 'dd/MM/yyyy'
                  }}</span>
                  <span class="ti-10">{{
                    ass.endDate | date: 'dd/MM/yyyy'
                  }}</span>
                </div>
                <div class="col-1">
                  <span class="mass"
                    >{{
                      ass.outflowMass | number: environment.decimalFormat
                    }}kg</span
                  >
                </div>
                <div class="col-8">
                  <div class="chart">
                    <span
                      class="circularOutflow first"
                      [style.width.%]="ass.outflowCircularity * 0.9 + 5"
                      >{{
                        ass.outflowCircularity
                          | number: environment.decimalFormat
                      }}%</span
                    >
                    <span
                      class="linearOutflow last"
                      [style.width.%]="ass.outflowLinearity * 0.9 + 5"
                      >{{
                        ass.outflowLinearity
                          | number: environment.decimalFormat
                      }}%</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ ENERGY | translate }}">
      <div class="content">
        <div class="chart-box" matSort (matSortChange)="sortData($event)">
          <div class="head">
            <div class="row">
              <div class="col-2">
                <div
                  class="sort"
                  (click)="seletedEnergyFilter = 'businessLevelName'"
                  [ngClass]="{
                    active: seletedEnergyFilter === 'businessLevelName'
                  }"
                  mat-sort-header="namesort"
                >
                  <label translate>Assessment</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedEnergyFilter = 'startDate'"
                  [ngClass]="{ active: seletedEnergyFilter === 'startDate' }"
                  mat-sort-header="startDate"
                >
                  <label translate>Time frame </label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedEnergyFilter = 'Amount'"
                  [ngClass]="{ active: seletedEnergyFilter === 'Amount' }"
                  mat-sort-header="totalEnergy"
                >
                  <label translate>Amount</label>
                </div>
              </div>
              <div class="col-8">
                <div
                  class="renewableEnergy"
                  (click)="seletedEnergyFilter = 'renewable'"
                  mat-sort-header="renewableEnergy"
                  [ngClass]="{ active: seletedEnergyFilter === 'renewable' }"
                >
                  <label translate>Renewable energy</label>
                </div>
                <div
                  class="totalEnergy"
                  (click)="seletedEnergyFilter = 'total'"
                  mat-sort-header="nonRenewableEnergy"
                  [ngClass]="{ active: seletedEnergyFilter === 'total' }"
                >
                  <label translate>Non-renewable energy</label>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="line" *ngFor="let ass of res">
              <div class="row">
                <div class="col-2">
                  <div class="name">
                    <span>{{ ass.businessLevelName }}</span>
                    <strong>{{ ass.assessmentName }}</strong>
                  </div>
                </div>
                <div class="col-1">
                  <span class="pt ti-10">{{
                    ass.startDate | date: 'dd/MM/yyyy'
                  }}</span>
                  <span class="ti-10">{{
                    ass.endDate | date: 'dd/MM/yyyy'
                  }}</span>
                </div>
                <div class="col-1">
                  <span
                    class="mass"
                    *ngIf="ass.energyIndicator && !ass.energyMissingData"
                    >{{ ass.totalEnergy | number: environment.integerFormat
                    }}{{ ass.energyUnit }}</span
                  >
                  <span class="mass" *ngIf="!ass.energyIndicator" translate
                    >Indicator not selected</span
                  >
                  <span
                    class="mass"
                    *ngIf="ass.energyIndicator && ass.energyMissingData"
                    translate
                    >Insufficent data</span
                  >
                </div>
                <div class="col-8">
                  <div
                    class="chart"
                    *ngIf="ass.energyIndicator && !ass.energyMissingData"
                  >
                    <span
                      class="renewableEnergy first"
                      [style.width.%]="ass.renewableEnergy * 0.9 + 5"
                      >{{
                        ass.renewableEnergy | number: environment.integerFormat
                      }}%</span
                    >
                    <span
                      class="totalEnergy last"
                      [style.width.%]="ass.nonRenewableEnergy * 0.9 + 5"
                      >{{
                        ass.nonRenewableEnergy
                          | number: environment.integerFormat
                      }}%</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{ WATER | translate }}">
      <div class="content">
        <div class="chart-box" matSort (matSortChange)="sortData($event)">
          <div class="head">
            <div class="row">
              <div class="col-2">
                <div
                  class="sort"
                  (click)="seletedWaterFilter = 'businessLevelName'"
                  [ngClass]="{
                    active: seletedWaterFilter === 'businessLevelName'
                  }"
                  mat-sort-header="namesort"
                >
                  <label translate>Assessment</label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedWaterFilter = 'startDate'"
                  [ngClass]="{ active: seletedWaterFilter === 'startDate' }"
                  mat-sort-header="startDate"
                >
                  <label translate>Time frame </label>
                </div>
              </div>
              <div class="col-1">
                <div
                  class="sort"
                  (click)="seletedWaterFilter = 'Amount'"
                  [ngClass]="{ active: seletedWaterFilter === 'Amount' }"
                  mat-sort-header="totalWater"
                >
                  <label translate>Amount</label>
                </div>
              </div>
              <div class="col-8">
                <div
                  class="waterCircularity"
                  (click)="seletedWaterFilter = 'water'"
                  mat-sort-header="waterCircularity"
                  [ngClass]="{ active: seletedWaterFilter === 'water' }"
                >
                  <label translate>% water circularity</label>
                </div>
              </div>
            </div>
          </div>
          <div class="table">
            <div class="line" *ngFor="let ass of res">
              <div class="row">
                <div class="col-2">
                  <div class="name">
                    <span>{{ ass.businessLevelName }}</span>
                    <strong>{{ ass.assessmentName }}</strong>
                  </div>
                </div>
                <div class="col-1">
                  <span class="pt ti-10">{{
                    ass.startDate | date: 'dd/MM/yyyy'
                  }}</span>
                  <span class="ti-10">{{
                    ass.endDate | date: 'dd/MM/yyyy'
                  }}</span>
                </div>
                <div class="col-1">
                  <span
                    class="mass"
                    *ngIf="ass.waterIndicator && !ass.waterMissingData"
                    >{{ ass.totalWater | number: environment.integerFormat
                    }}{{ ass.waterUnit }}</span
                  >
                  <span class="mass" *ngIf="!ass.waterIndicator" translate
                    >Indicator not selected</span
                  >
                  <span
                    class="mass"
                    *ngIf="ass.waterIndicator && ass.waterMissingData"
                    translate
                    >Insufficent data</span
                  >
                </div>
                <div class="col-8">
                  <div
                    class="chart"
                    *ngIf="ass.waterIndicator && !ass.waterMissingData"
                  >
                    <span
                      class="waterCircularity first"
                      [style.width.%]="ass.waterCircularity * 0.9 + 5"
                      >{{
                        ass.waterCircularity
                          | number: environment.integerFormat
                      }}%</span
                    >
                    <span
                      class="waterLinearity last"
                      [style.width.%]="ass.waterLinearity * 0.9 + 5"
                      >{{
                        ass.waterLinearity | number: environment.integerFormat
                      }}%</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
