<div class="col-6 item clearfix shadow">
  <object
    data="https://s3.eu-central-1.amazonaws.com/files.my.circular-iq.com/ctitool/intro-step6.html"
    type="text/html"
  ></object>
  <div class="button-box">
    <div class="checkbox-group">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            [(ngModel)]="remember"
            class="ng-untouched ng-valid ng-dirty ng-valid-parse ng-not-empty"
            aria-invalid="false"
            (change)="rememeberme(remember)"
          />
          <span class="icon-check"></span>
          <span class="checkbox-label ng-binding" translate>
            don't show again</span
          >
        </label>
      </div>
    </div>
    <a
      routerLink="/cti/guide/step5"
      class="btn btn-circular dark-slate-blue-border big"
      >BACK</a
    >
    <button
      (click)="nextStep()"
      class="btn btn-circular bg-shamrock float-right big"
    >
      SAVE
    </button>
  </div>
</div>
